.b-icon {
    &_dedicated-free-services {
        &_adwords {
            background-image: url('b-icon_dedicated-free-services_adwords.svg');
            background-repeat: no-repeat;
            height: 44px;
            width: 44px;
        }
        &_channel {
            background-image: url('b-icon_dedicated-free-services_channel.svg');
            background-repeat: no-repeat;
            height: 44px;
            width: 44px;
        }
        &_domains {
            background-image: url('b-icon_dedicated-free-services_domains.svg');
            background-repeat: no-repeat;
            height: 44px;
            width: 44px;
        }
        &_isp {
            background-image: url('b-icon_dedicated-free-services_isp.svg');
            background-repeat: no-repeat;
            height: 44px;
            width: 44px;
        }
        &_ssl {
            background-image: url('b-icon_dedicated-free-services_ssl.svg');
            background-repeat: no-repeat;
            height: 49px;
            width: 44px;
        }
    }
}
