@import '~i-less/i-less';

.b-recaptcha {
    display: none;

    &_display_block {
        display: block;
    }

    &_display_inline-block {
        display: inline-block;
    }

    .xs_420({
        transform: scale( 0.8 );
        transform-origin: 0 0;
    });
}
