.b-socialnets {
    &__link_icon_facebook {
        background-image: url('b-socialnets__link_icon_facebook.svg');
        background-repeat: no-repeat;
    }
    &__link_icon_gplus {
        background-image: url('b-socialnets__link_icon_gplus.svg');
        background-repeat: no-repeat;
    }
    &__link_icon_twitter {
        background-image: url('b-socialnets__link_icon_twitter.svg');
        background-repeat: no-repeat;
    }
    &__link_icon_vkontakte {
        background-image: url('b-socialnets__link_icon_vkontakte.svg');
        background-repeat: no-repeat;
    }
    &__link_icon_youtube {
        background-image: url('b-socialnets__link_icon_youtube.svg');
        background-repeat: no-repeat;
    }
    &__link_icon_instagram {
        background-image: url('b-socialnets__link_icon_instagram.svg');
        background-repeat: no-repeat;
    }
    &__link_icon_linkedin {
        background-image: url('b-socialnets__link_icon_linkedin.svg');
        background-repeat: no-repeat;
    }
    &__link_icon_telegram {
        background-image: url('b-socialnets__link_icon_telegram.svg');
        background-repeat: no-repeat;
    }
}
