.b-icon {
    &_regru-googleadv {
        &_regru {
            background-image: url('b-icon_regru-googleadv_regru.svg');
            background-repeat: no-repeat;
            width: 121px;
            height: 59px;
        }

        &_google-adv {
            background-image: url('b-icon_regru-googleadv_google-adv.svg');
            background-repeat: no-repeat;
            width: 111px;
            height: 42px;
        }

        &_inline {
            background-image: url('b-icon_regru-googleadv_inline.svg');
            background-repeat: no-repeat;
            width: 195px;
            height: 30px;
            background-size: 100%;
        }
    }
}
