.b-icon {
    &_cms {
        &_magnolia {
            background-image: url('b-icon_cms_magnolia.svg');
            background-repeat: no-repeat;
            height: 40px;
            width: 157px;
        }
        &_drupal {
            background-image: url('b-icon_cms_drupal.svg');
            background-repeat: no-repeat;
            height: 54px;
            width: 167px;
        }
        &_opencms {
            background-image: url('b-icon_cms_opencms.svg');
            background-repeat: no-repeat;
            height: 39px;
            width: 158px;
        }
        &_yellow {
            background-image: url('b-icon_cms_yellow.svg');
            background-repeat: no-repeat;
            height: 58px;
            width: 58px;
        }
    }
}
