.b-icon {
    &_pay-commited-order {
        &_payed,
        &_wait {
            position: relative;
            width: 30px;
            height: 30px;
            vertical-align: middle;
            background-position: center;
        }

        &_wait {
            background-image: url('b-icon_pay-commited-order_wait.svg');
            background-repeat: no-repeat;
        }

        &_payed {
            background-image: url('b-icon_pay-commited-order_payed.svg');
            background-repeat: no-repeat;
        }
    }
}
