.b-icon {
    &_metro_alarm {
        background-image: url('b-icon_metro_alarm.svg');
        background-repeat: no-repeat;
    }
    &_metro_cloudcontext {
        background-image: url('b-icon_metro_cloudcontext.svg');
        background-repeat: no-repeat;
    }
    &_metro_ddos-protection {
        background-image: url('b-icon_metro_ddos-protection.svg');
        background-repeat: no-repeat;
    }
    &_metro_domain-name {
        background-image: url('b-icon_metro_domain-name.svg');
        background-repeat: no-repeat;
    }
    &_metro_domain-ptotection {
        background-image: url('b-icon_metro_domain-ptotection.svg');
        background-repeat: no-repeat;
    }

    &_metro_domain-tracking {
        background-image: url('b-icon_metro_domain-tracking.svg');
        background-repeat: no-repeat;
    }
    &_metro_gcal {
        background-image: url('b-icon_metro_gcal.svg');
        background-repeat: no-repeat;
    }
    &_metro_gdisk {
        background-image: url('b-icon_metro_gdisk.svg');
        background-repeat: no-repeat;
    }
    &_metro_gmail {
        background-image: url('b-icon_metro_gmail.svg');
        background-repeat: no-repeat;
    }
    &_metro_hosting {
        background-image: url('b-icon_metro_hosting.svg');
        background-repeat: no-repeat;
    }
    &_metro_hosting-history {
        background-image: url('b-icon_metro_hosting-history.svg');
        background-repeat: no-repeat;
    }
    &_metro_mail {
        background-image: url('b-icon_metro_mail.svg');
        background-repeat: no-repeat;
    }
    &_metro_online-help {
        background-image: url('b-icon_metro_online-help.svg');
        background-repeat: no-repeat;
    }
    &_metro_otrs {
        background-image: url('b-icon_metro_otrs.svg');
        background-repeat: no-repeat;
    }
    &_metro_security-audit {
        background-image: url('b-icon_metro_security-audit.svg');
        background-repeat: no-repeat;
    }
    &_metro_seowizard {
        background-image: url('b-icon_metro_seowizard.svg');
        background-repeat: no-repeat;
    }
    &_metro_site-designer {
        background-image: url('b-icon_metro_site-designer.svg');
        background-repeat: no-repeat;
    }
    &_metro_site-monitoring {
        background-image: url('b-icon_metro_site-monitoring.svg');
        background-repeat: no-repeat;
    }
    &_metro_sms-services {
        background-image: url('b-icon_metro_sms-services.svg');
        background-repeat: no-repeat;
    }
    &_metro_spam-ptotection {
        background-image: url('b-icon_metro_spam-ptotection.svg');
        background-repeat: no-repeat;
    }
    &_metro_voicechat {
        background-image: url('b-icon_metro_voicechat.svg');
        background-repeat: no-repeat;
    }
    &_metro_webchat {
        background-image: url('b-icon_metro_webchat.svg');
        background-repeat: no-repeat;
    }
    &_metro_whois-history {
        background-image: url('b-icon_metro_whois-history.svg');
        background-repeat: no-repeat;
    }
    &_metro_whois {
        background-image: url('b-icon_metro_whois.svg');
        background-repeat: no-repeat;
    }
    &_metro_whois-admin {
        background-image: url('b-icon_metro_whois-admin.svg');
        background-repeat: no-repeat;
    }
    &_metro_whois-ip {
        background-image: url('b-icon_metro_whois-ip.svg');
        background-repeat: no-repeat;
    }
    &_metro_spywords {
        background-image: url('b-icon_metro_spywords.svg');
        background-repeat: no-repeat;
    }
    &_metro_g-suite {
        background-image: url('b-icon_metro_g-suite.svg');
        background-repeat: no-repeat;
    }
    &_metro_effect {
        background-image: url('b-icon_metro_effect.svg');
        background-repeat: no-repeat;
    }
    &_metro_ecwid {
        background-image: url('b-icon_metro_ecwid.svg');
        background-repeat: no-repeat;
    }
    &_metro_virus-ptotection {
        background-image: url('b-icon_metro_virus-ptotection.svg');
        background-repeat: no-repeat;
    }
}
