@import '~i-less/i-less';

.b-sidebar {
    float: left;
    width: @sidebar-width;

    &__banner {
        cursor: pointer;
        display: block;
        margin-bottom: 20px;
        text-decoration: none;

        &_html_regpanel {
            background: url(b-sidebar__banner_html_regpanel.png);
            color: #222224;
            height: 269px;
            padding: 20px 24px;
            width: 187px;
        }
        &-img {
            display: block;
            margin: 0px;
        }
        &-title {
            font: bold 24px @face;
            margin: 8px 0 12px;
        }
        &-description {
            display: block;
            font: 16px @face;
            line-height: 21px;
            margin: 12px 0 14px 0;
        }
        &-link {
            background: url(b-sprites__icons.png) no-repeat 0px -36px;
            color: #0f63a0;
            display: block;
            font: 16px @face;
            padding-left: 9px;
            text-decoration: none;
        }
    }
}
