.b-icon {

    &_interview-nps {

        &_balloon {
            background-image: url('b-icon_interview-nps_balloon.svg');
            background-repeat: no-repeat;
            width: 51px;
            height: 48px;
        }
    }
}
