.b-icon_dedicated-feature {
    &_datacenters {
        background-image: url('b-icon_dedicated-feature_datacenters.svg');
        background-repeat: no-repeat;
        height: 55px;
        width: 51px;
    }
    &_emergency {
        background-image: url('b-icon_dedicated-feature_emergency.svg');
        background-repeat: no-repeat;
        height: 70px;
        width: 63px;
    }
    &_guarantee {
        background-image: url('b-icon_dedicated-feature_guarantee.svg');
        background-repeat: no-repeat;
        height: 70px;
        width: 53px;
    }
    &_install {
        background-image: url('b-icon_dedicated-feature_install.svg');
        background-repeat: no-repeat;
        height: 70px;
        width: 60px;
    }
    &_servers {
        background-image: url('b-icon_dedicated-feature_servers.svg');
        background-repeat: no-repeat;
        height: 70px;
        width: 63px;
    }
    &_support {
        background-image: url('b-icon_dedicated-feature_support.svg');
        background-repeat: no-repeat;
        height: 70px;
        width: 65px;
    }
}
