.b-icon {
    &_reminder {
        &_unprotected {
            background-image: url('b-icon_reminder_unprotected.svg');
            background-repeat: no-repeat;
            background-position: left top;
            width: 92px;
            height: 100px;
        }
    }
}
