[%#

    params.list => [
        {
            header => номер заголовок элемента списка
            content => текст
        },
        'Текст'
    ]

    элемент списка может быть просто строкой или хешем
%]
[% IF params.list.size() %]
<div class="b-ol-faq">
    [% FOREACH item IN params.list %]
    <div class="b-ol-faq__item">
        <span class="b-ol-faq__item-number">[% item.header || loop.count %]</span>
        [%~ item.content || item ~%]
    </div>
    [% END %]
</div>
[% END %]
