.b-icon {
    &_service-about {
        &_autorefill-settings {
            background-image: url('b-icon_service-about_autorefill-settings.svg');
            background-repeat: no-repeat;
            background-repeat: no-repeat;
            background-position: 30px 30px;
        }
    }
}
