.b-icon {
    &_payment-footer {
        &_webmoney {
            background-image: url('b-icon_payment-footer_webmoney.svg');
            background-repeat: no-repeat;
            height: 29px;
            width: 28px;
        }
        &_yamoney {
            background-image: url('b-icon_payment-footer_yamoney.svg');
            background-repeat: no-repeat;
            height: 29px;
            width: 23px;
        }
        &_paypal {
            height: 18px;
            width: 52px;
        }
        &_qiwi {
            background-image: url('b-icon_payment-footer_qiwi.svg');
            background-repeat: no-repeat;
            height: 29px;
            width: 27px;
        }
        &_elecsnet {
            background-image: url('b-icon_payment-footer_elecsnet.svg');
            background-repeat: no-repeat;
            height: 27px;
            width: 28px;
        }
        &_bank {
            background-image: url('b-icon_payment-footer_bank.svg');
            background-repeat: no-repeat;
            height: 34px;
            width: 64px;
        }
        &_rbk {
            background-image: url('b-icon_payment-footer_rbk.svg');
            background-repeat: no-repeat;
            height: 28px;
            width: 30px;
        }
        &_card {
            background-image: url('b-icon_payment-footer_card.svg');
            background-repeat: no-repeat;
            height: 33px;
            width: 96px;
        }
        &_robokassa {
            background-image: url('b-icon_payment-footer_robokassa.svg');
            background-repeat: no-repeat;
            height: 28px;
            width: 46px;
        }
        &_contact {
            background-image: url('b-icon_payment-footer_contact.svg');
            background-repeat: no-repeat;
            height: 18px;
            width: 43px;
        }
        &_mastercard {
            background-image: url('b-icon_payment-footer_mastercard.svg');
            background-repeat: no-repeat;
            height: 28px;
            width: 46px;
        }
        &_visa {
            background-image: url('b-icon_payment-footer_visa.svg');
            background-repeat: no-repeat;
            height: 17px;
            width: 43px;
        }
        &_alfabank {
            background-image: url('b-icon_payment-footer_alfabank.svg');
            background-repeat: no-repeat;
            height: 34px;
            width: 23px;
        }
        &_sberbank {
            background-image: url('b-icon_payment-footer_sberbank.svg');
            background-repeat: no-repeat;
            height: 28px;
            width: 28px;
        }
    }
}
