.b-icon {
    &_support {
        &_loupe-grey {
            background-image: url('b-icon_support_loupe-grey.svg');
            background-repeat: no-repeat;
            background-position: center;
        }

        &_agava-category {
            background-image: url('b-icon_support_agava-category.svg');
            background-repeat: no-repeat;
            top: 50px !important;
            height: 35px;
        }

        &_mneru-category {
            background-image: url('b-icon_support_mneru-category.svg');
            background-repeat: no-repeat;
            top: 53px !important;
            width: 154px;
            height: 31px;
        }

        &_domains-category {
            background-image: url('b-icon_support_domains-category.svg');
            background-repeat: no-repeat;
            height: 75px;
        }

        &_websites-category {
            background-image: url('b-icon_support_websites-category.svg');
            background-repeat: no-repeat;
            height: 58px;
        }

        &_hosting-category {
            background-image: url('b-icon_support_hosting-category.svg');
            background-repeat: no-repeat;
            height: 62px;
        }

        &_ssl-category {
            background-image: url('b-icon_support_ssl-category.svg');
            background-repeat: no-repeat;
            height: 71px;
        }

        &_webtools-category {
            background-image: url('b-icon_support_webtools-category.svg');
            background-repeat: no-repeat;
            height: 75px;
        }

        &_mail-category {
            background-image: url('b-icon_support_mail-category.svg');
            background-repeat: no-repeat;
            height: 71px;
        }

        &_account-category {
            background-image: url('b-icon_support_account-category.svg');
            background-repeat: no-repeat;
            height: 70px;
        }

        &_billing-category {
            background-image: url('b-icon_support_billing-category.svg');
            background-repeat: no-repeat;
            height: 72px;
        }

        &_partners-category {
            background-image: url('b-icon_support_partners-category.svg');
            background-repeat: no-repeat;
            height: 67px;
        }

        &_logol-category {
            background-image: url('b-icon_support_logol-category.svg');
            background-repeat: no-repeat;
            height: 70px;
        }

        &_legal-category {
            background-image: url('b-icon_support_legal-category.svg');
            background-repeat: no-repeat;
            height: 63px;
        }

        &_documents-category {
            background-image: url('b-icon_support_documents-category.svg');
            background-repeat: no-repeat;
            height: 38px;
        }

        &_wish-category {
            background-image: url('b-icon_support_wish-category.svg');
            background-repeat: no-repeat;
            height: 32px;
        }

        &_like {
            background-image: url('b-icon_support_like.svg');
            background-repeat: no-repeat;
            background-position: left 4px;
        }

        &_genletter {
            background-image: url('b-icon_support_genletter.svg');
            background-repeat: no-repeat;
            width: 40px;
            height: 45px;
        }

        &_doc {
            background-image: url('b-icon_support_doc.svg');
            background-repeat: no-repeat;
            background-position: left 4px;
            width: 13px;
            height: 15px;
        }

        &_article-banner-account {
            background-image: url('b-icon_support_article-banner-account.svg');
            background-repeat: no-repeat;
            width: 102px;
            height: 104px;
            margin-top: -52px;
        }

        &_article-banner-billing {
            background-image: url('b-icon_support_article-banner-billing.svg');
            background-repeat: no-repeat;
            height: 100px;
            width: 95px;
            margin-top: -50px;
        }

        &_article-banner-domains {
            background-image: url('b-icon_support_article-banner-domains.svg');
            background-repeat: no-repeat;
            width: 129px;
            height: 129px;
            margin-top: -65px;
        }

        &_article-banner-hosting {
            background-image: url('b-icon_support_article-banner-hosting.svg');
            background-repeat: no-repeat;
            width: 98px;
            height: 98px;
            margin-top: -49px;
        }

        &_article-banner-legal {
            background-image: url('b-icon_support_article-banner-legal.svg');
            background-repeat: no-repeat;
            width: 111px;
            height: 105px;
            margin-top: -52px;
        }

        &_article-banner-logol {
            background-image: url('b-icon_support_article-banner-logol.svg');
            background-repeat: no-repeat;
            width: 103px;
            height: 105px;
            margin-top: -52px;
        }

        &_article-banner-mail {
            background-image: url('b-icon_support_article-banner-mail.svg');
            background-repeat: no-repeat;
            width: 104px;
            height: 107px;
            margin-top: -53px;
        }

        &_article-banner-partners {
            background-image: url('b-icon_support_article-banner-partners.svg');
            background-repeat: no-repeat;
            width: 108px;
            height: 101px;
            margin-top: -50px;
        }

        &_article-banner-ssl {
            background-image: url('b-icon_support_article-banner-ssl.svg');
            background-repeat: no-repeat;
            width: 98px;
            height: 120px;
            margin-top: -60px;
        }

        &_article-banner-websites {
            background-image: url('b-icon_support_article-banner-websites.svg');
            background-repeat: no-repeat;
            width: 119px;
            height: 101px;
            margin-top: -50px;
        }

        &_article-banner-webtools {
            background-image: url('b-icon_support_article-banner-webtools.svg');
            background-repeat: no-repeat;
            width: 129px;
            height: 130px;
            margin-top: -65px;
        }

        &_help-chat {
            background-image: url('b-icon_support_help-chat.svg');
            background-repeat: no-repeat;
            top: 24px;
            left: 36px;
            width: 46px;
            height: 45px;
        }

        &_ticket {
            background-image: url('b-icon_support_ticket.svg');
            background-repeat: no-repeat;
            top: 15px;
            left: 30px;
            width: 48px;
            height: 47px;
        }

        &_mail-link {
            background-image: url('b-icon_support_mail-link.svg');
            background-repeat: no-repeat;
            height: 15px;
            width: 15px;
        }

        &_call-back {
            background-image: url('b-icon_support_call-back.svg');
            background-repeat: no-repeat;
            width: 15px;
            height: 13px;
        }

        &_call-back-big {
            background-image: url('b-icon_support_call-back-big.svg');
            background-repeat: no-repeat;
            top: 22px;
            left: 30px;
            width: 45px;
            height: 39px;
            background-size: 100%;
        }

        &_support-service {
            background-image: url('b-icon_support_support-service.svg');
            background-repeat: no-repeat;
            width: 15px;
            height: 15px;
        }

        &_it-can-help {
            background-image: url('b-icon_support_it-can-help.svg');
            background-repeat: no-repeat;
            width: 33px;
            height: 27px;
        }

        &_has-video {
            background-image: url('b-icon_support_has-video.svg');
            background-repeat: no-repeat;
            width: 43px;
            height: 24px;
        }

        &_article-banner-emails {
            background-image: url('b-icon_support_article-banner-emails.svg');
            background-repeat: no-repeat;
        }
    }
}
