@import '~i-less/i-less';

.b-icon {
    &_zonepedia {
        &_art-logo,
        &_com-logo,
        &_net-logo {
            width: 100%;
            background-position: center top;

            .desktop({
                display: block;
            });
        }

    &_art-logo {
        height: 96px;
        margin-right: auto;
        margin-left: auto;
        background-image: url('b-icon_zonepedia_art-logo.svg');
        background-size: contain;
        background-repeat: no-repeat;

        .desktop({
            width: 188px;
        });
    }

    &_com-logo {
        height: 98px;
        margin-right: auto;
        margin-left: auto;
        background-image: url('b-icon_zonepedia_com-logo.svg');
        background-size: contain;
        background-repeat: no-repeat;

        .desktop({
            width: 306px;
        });
    }

    &_net-logo {
        height: 142px;
        background-image: url('b-icon_zonepedia_net-logo.svg');
        background-size: contain;
        background-repeat: no-repeat;

        .desktop({
            width: 291px;
        });
    }
  }
}
