@import '~i-less/i-less';

.b-content {
    padding: 30px 0 40px 0;

    &_indent-top_none {
        padding-top: 0;
    }

    &_indent-bottom_none {
        padding-bottom: 0;
    }

    &__wrapper {
        margin: 0 0 0 251px;

        &_sidebar_no {
            margin: 0;
        }

        &_content_only {
            padding: 20px !important;
            margin: 0;
        }

        &_align_center {
            width: @content-width;
            margin: 0 auto;

            .mobile({
               width: 100%;
               max-width: @content-width;
            })
        }
    }

    &__floated-wrapper {
        float: left;
        width: 100%;
    }

    &__sidebar-offset {
        margin-left: -251px;
    }
}
