//- close = button || timer
//- addClass
//- title
//- text
//- text_minor
//- button
//- attr
- var classes = 'b-popup-notice'
if self.close == 'timer'
  - classes += ' b-popup-notice_close_timer'
if self.addClass
  - classes += ' ' + self.addClass

- var attrs = ''
- var options = self.attr || {}
- each val, key in options
  unless key == 'className' || key == 'tag'
    attrs += #{key}="#{val}"

div(class=classes, id=self.id )
  if self.close == 'button'
    span.b-popup-notice__close.b-icon.b-icon_style_cross

  if self.title
    - var title_icon = self.title_icon && self.title_icon != 'loader' ? ' b-popup-notice__title_icon_' + self.title_icon : ''
    strong(class='b-popup-notice__title' + title_icon)
      if self.title_icon == 'loader'
        - self.size = 'small'
        include ~b-loading/b-loading

      != self.title

  if self.button
    | <div class="b-popup-notice__layout">
    - var btnGreen = {attr: {className: 'l-float_right', href: self.button.href}, text: self.button.text}
    != JST['b-button'](btnGreen)
    | <div class="b-popup-notice__fill-left">

  if self.text
    p.b-text.b-text_margin_none
      != self.text

  if self.text_minor
    p.b-text.b-text_color_minor.b-text_margin_none
      != self.text_minor

  if self.button
    | </div>
    | </div>
