@import '~i-less/i-less';

.b-popup-notice {
    @bl: ~".b-popup-notice";

    // сжимаем блоки по ширине контента
    float: right;
    clear: right;
    background:#fff;
    padding: 24px 36px 36px;
    box-shadow: @popup-shadow;
    margin-top: 12px;
    position: relative; // надо __close
    z-index: @zIndex-popup-notice;

    &__wrapper {
        position:fixed;
        bottom: 36px;
        right: 36px;
        max-width: @site-width/3;
        z-index: @zIndex-popup-notice;
    }
    &__fill-left {
        overflow: hidden;
        padding-right: 24px;
    }
    &__layout {
        overflow: hidden;
    }
    &__close {
        background-position: center;
        cursor: pointer;
        height: 36px !important;
        position: absolute;
        right: 0px;
        text-decoration: none;
        top: 0px;
        width: 36px !important;
    }
    &__title {
        color: #333333;
        display: block;
        font: bold @font-normal;
        margin-bottom: 12px;

        &_icon {
            &_success {
                background-image: url('b-popup-notice__title_icon_success.svg');
                background-repeat: no-repeat;
                padding-left: 24px;
            }
            &_fail {
                color: @color-text-error;
            }
        }
    }
}
