.b-informer-bordered {
    @bl: ~".b-informer-bordered";

    &_bg {
        &_default {
            background: #509ECD url(b-informer-bordered_bg_default.jpg) no-repeat center;
            background-size: cover;
        }
        &_bike {
            background: #509ECD url(b-informer-bordered_bg_bike.jpg) no-repeat center;
            background-size: cover;
        }
        &_art {
            background: #C784A3 url(b-informer-bordered_bg_art.jpg) no-repeat center;
            background-size: cover;
        }
    }
}
