.b-informer-bordered {
    @bl: ~".b-informer-bordered";

    &_bg {
        &_ssl-promo {
            background: url(b-informer-bordered_bg_ssl-promo.jpg) no-repeat center top;
            background-size: cover;

            @{bl}__border-top {
                padding-top: 60px;
                padding-bottom: 160px;
            }
        }
    }
}
