.b-informer-bordered {
    @bl: ~".b-informer-bordered";

    &_bg {
        &_career {
            background: url(b-informer-bordered_bg_career.jpg) no-repeat center top;
            background-size: cover;
        }
    }
}
