@import '~i-less/i-less';

.b-informer-bordered {
    @bl: ~".b-informer-bordered";

    &_bg {
        &_moskva {
            margin-bottom: 36px;
            background: #509ECD url(b-informer-bordered_bg_moskva.jpg) no-repeat center;
            background-size: cover;

            @{bl}__title {
                margin: 0 0 45px;
                font: bold 72px/52px @face;
            }
        }
    }
}
