.b-informer-bordered {
    @bl: ~".b-informer-bordered";

    &_bg {
        &_email {
            background: #509ECD url(b-informer-bordered_bg_email.jpg) no-repeat center;
            background-size: cover;

        }
    }

}
