.b-informer-bordered {
    @bl: ~".b-informer-bordered";

    &_bg {
        &_deti {
            background: #509ECD url(b-informer-bordered_bg_deti.jpg) no-repeat center;
            background-size: cover;
        }
    }
}
