.b-informer-bordered {
    @bl: ~".b-informer-bordered";

    &_bg {
        &_sait {
            background: #282828 url(b-informer-bordered_bg_sait.jpg) no-repeat center;
            background-size: cover;
        }
    }
}
