.b-informer-bordered {
    @bl: ~".b-informer-bordered";

    &_bg {
        &_mailru {
            background: #168de2;
        }
    }

    &__bg-pattern {
        background-size: cover;
        position: absolute;
        top: 0;
        width: 30%;
        height: 100%;
        z-index: -2;

        &_mailru {
            &_right {
                background-image: url('b-informer-bordered__bg-pattern_mailru_right.svg');
                background-repeat: no-repeat;
                right: 0;
                background-position: left center;
            }
            &_left {
                background-image: url('b-informer-bordered__bg-pattern_mailru_left.svg');
                background-repeat: no-repeat;
                background-position: right center;
                left: 0;
            }
        }
    }
}
