.b-informer-bordered {
    @bl: ~".b-informer-bordered";

    &_bg {
        &_premium-dns {
            background: #d3d3d3 url(b-informer-bordered_bg_premium-dns.jpg) no-repeat center top;
            padding: 0;
            background-size: cover;

            & @{bl}__border-top {
                width: auto;
                border-width: 24px;
            }
        }
    }
}
