.b-informer-bordered {
    @bl: ~".b-informer-bordered";

    &_bg {
        &_security-audit {
            background: #d3d3d3 url(b-informer-bordered_bg_security-audit.jpg) no-repeat center top;
            padding: 0;
            background-size: cover;
        }
    }
}
