.b-informer-bordered {
    @bl: ~".b-informer-bordered";

    &_bg {
        &_rub {
            background: #A5ABAB url(b-informer-bordered_bg_rub.jpg) no-repeat center;
            background-size: cover;
        }
    }
}
