.b-informer-bordered {
    @bl: ~".b-informer-bordered";

    &_bg {
        &_ipad {
            background: #76482c url(b-informer-bordered_bg_ipad.jpg) no-repeat center;
            background-size: cover;
        }
    }
}
