.b-informer-bordered {
    @bl: ~".b-informer-bordered";

    &_bg {
        &_security-month {
            background: #191919 url(b-informer-bordered_bg_security-month.jpg) no-repeat center;
            padding: 30px 0;
            margin-bottom: 75px;
            background-size: cover;
        }
    }
}
