.b-informer-bordered {
    @bl: ~".b-informer-bordered";

    &_bg {
        &_onlain {
            background: #33322d url(b-informer-bordered_bg_onlain.jpg) no-repeat center;
            background-size: cover;
        }
    }
}
