.b-informer-bordered {
    @bl: ~".b-informer-bordered";

    &_bg {
        &_websitebuilder-promo {
            background: url(b-informer-bordered_bg_websitebuilder-promo.jpg) no-repeat center top;
            background-size: cover;

            @{bl}__border-top {
                padding-top: 56px;
                padding-bottom: 70px;
            }
        }
    }
}
