.b-informer-bordered {
    @bl: ~".b-informer-bordered";

    &_bg{
        &_macbook {
            background: url(b-informer-bordered_bg_macbook.jpg) no-repeat center;
        }
        &_macbook {
            background-size: cover;
        }
    }
}
