.b-icon {
    &_security-audit {
        &_spy {
            background-image: url('b-icon_security-audit_spy.svg');
            background-repeat: no-repeat;
            position: absolute;
            top: -56px;
            right: -72px;
            height: 318px;
            width: 520px;
        }
        &_threat-for-blog {
            background-image: url('b-icon_security-audit_threat-for-blog.svg');
            background-repeat: no-repeat;
            height: 108px;
            width: 121px;
        }
        &_threat-for-site {
            background-image: url('b-icon_security-audit_threat-for-site.svg');
            background-repeat: no-repeat;
            height: 105px;
            width: 142px;
        }
        &_threat-for-shop {
            background-image: url('b-icon_security-audit_threat-for-shop.svg');
            background-repeat: no-repeat;
            height: 109px;
            width: 146px;
        }
        &_express-plan {
            background-image: url('b-icon_security-audit_express-plan.svg');
            background-repeat: no-repeat;
            height: 144px;
            width: 480px;
        }
        &_complex-plan {
            background-image: url('b-icon_security-audit_complex-plan.svg');
            background-repeat: no-repeat;
            height: 144px;
            width: 480px;
        }
        &_subscription {
            background-image: url('b-icon_security-audit_subscription.svg');
            background-repeat: no-repeat;
            position: absolute;
            top: 122px;
            right: 94px;
            height: 253px;
            width: 241px;
        }
        &_specialists-guarantee {
            background-image: url('b-icon_security-audit_specialists-guarantee.svg');
            background-repeat: no-repeat;
            height: 42px;
            width: 42px;
        }
        &_effective-guarantee {
            background-image: url('b-icon_security-audit_effective-guarantee.svg');
            background-repeat: no-repeat;
            height: 42px;
            width: 42px;
        }
        &_standarts-guarantee {
            background-image: url('b-icon_security-audit_standarts-guarantee.svg');
            background-repeat: no-repeat;
            height: 42px;
            width: 42px;
        }
        &_question {
            background-image: url('b-icon_security-audit_question.svg');
            background-repeat: no-repeat;
            top: 15px;
            left: 30px;
            height: 47px;
            width: 48px;
        }
        &_penetration-blog {
            background-image: url('b-icon_security-audit_penetration-blog.svg');
            background-repeat: no-repeat;
            position: absolute;
            top: 65px;
            right: 0px;
            height: 237px;
            width: 265px;
        }
        &_penetration-site {
            background-image: url('b-icon_security-audit_penetration-site.svg');
            background-repeat: no-repeat;
            position: absolute;
            top: 65px;
            right: 0px;
            height: 215px;
            width: 293px;
        }
        &_penetration-shop {
            background-image: url('b-icon_security-audit_penetration-shop.svg');
            background-repeat: no-repeat;
            position: absolute;
            top: 65px;
            right: 0px;
            height: 220px;
            width: 295px;
        }
        &_plan-express {
            background-image: url('b-icon_security-audit_plan-express.svg');
            background-repeat: no-repeat;
            position: absolute;
            top: 65px;
            right: 0px;
            height: 249px;
            width: 279px;
        }
        &_plan-complex {
            background-image: url('b-icon_security-audit_plan-complex.svg');
            background-repeat: no-repeat;
            position: absolute;
            top: 65px;
            right: 0px;
            height: 249px;
            width: 279px;
        }
        &_plan-subscription {
            background-image: url('b-icon_security-audit_plan-subscription.svg');
            background-repeat: no-repeat;
            position: absolute;
            top: 65px;
            right: 0px;
            height: 253px;
            width: 241px;
        }
        &_order-domain {
            background-image: url('b-icon_security-audit_order-domain.svg');
            background-repeat: no-repeat;
            position: absolute;
            top: 95px;
            left: 16px;
            height: 169px;
            width: 162px;
        }
        &_doc {
            background-image: url('b-icon_security-audit_doc.svg');
            background-repeat: no-repeat;
        }
    }
}
