@import '~i-variables/i-variables';

.l-color {
    @color-text-text: @color-text;
    @color-text-text-light: @color-text-light;
    @avail-colors: 'text', 'text-light', 'minor', 'error', 'done', 'discount', 'placeholder', 'invert';

    .-(@i: length(@avail-colors)) when (@i > 0) {
        @color: e(extract(@avail-colors, @i));
        &_@{color} {
            color: ~"@{color-text-@{color}} !important";
        }
        .-((@i - 1));
    } .-;
}
