@import '~i-less/i-less';

@max-width: 564px;

.b-dialog {
    position: absolute;
    z-index: @zIndex-dialog;
    max-width: @max-width;

    // можно только для IE, он разницы никакой
    @media (min-width: (@max-width + 60)) {
        width: @max-width;
    }

    &__actions {
        .b-button {
            margin-left: @indent-h-normal;
        }
    }
}
