.b-icon_button_wheel {
    display: inline-block;
    width: 17px;
    height: 17px;
    vertical-align: middle;
    margin-top: -3px;
    background-image: url('b-icon_button_wheel.svg');
    background-repeat: no-repeat;
}
