.b-icon_button_mail {
    display: inline-block;
    width: 18px;
    height: 12px;
    vertical-align: middle;
    background-image: url('b-icon_button_mail.svg');
    background-repeat: no-repeat;
}
