.b-icon_button_cross {
    display: inline-block;
    width: 11px;
    height: 11px;
    margin-top: -3px;
    margin-right: 9px;
    vertical-align: middle;
    background-image: url('b-icon_button_cross.svg');
    background-repeat: no-repeat;
}
