.b-icon_button_download {
    display: inline-block;
    width: 12px;
    height: 10px;
    vertical-align: middle;
    background-image: url('b-icon_button_download.svg');
    background-repeat: no-repeat;
}
