.b-icon_button_check {
    display: inline-block;
    width: 16px;
    height: 12px;
    vertical-align: middle;
    background-image: url('b-icon_button_check.svg');
    background-repeat: no-repeat;
}
