@import '~i-less/i-less';

.b-tips-launcher {
    position: fixed;
    top: 0;
    left: 0;
    z-index: @zIndex-tips-launcher;
    padding: 10px 10px 0;
    box-shadow: @popup-shadow;
    background-color: @color-bg-gray-darker;

    &__button {
        display: block;
        margin: 0 0 10px;
    }
}
