.b-icon {
    &_cms-summary {
        &_cms-for-business {
            background-image: url('b-icon_cms-summary_cms-for-business.svg');
            background-repeat: no-repeat;
            position: absolute;
            top: -24px;
            right: -54px;
            height: 207px;
            width: 238px;
        }
        &_popular-for-business {
            background-image: url('b-icon_cms-summary_popular-for-business.svg');
            background-repeat: no-repeat;
            position: absolute;
            top: 0px;
            right: 0px;
            height: 201px;
            width: 233px;
        }
        &_number-one {
            background-image: url('b-icon_cms-summary_number-one.svg');
            background-repeat: no-repeat;
            position: absolute;
            top: -27px;
            right: -27px;
            height: 207px;
            width: 216px;
        }
        &_joomla-logo-white {
            background-image: url('b-icon_cms-summary_joomla-logo-white.svg');
            background-repeat: no-repeat;
            position: absolute;
            top: 6px;
            left: 10px;
            height: 70px;
            width: 70px;
        }
        &_wplogo-white {
            background-image: url('b-icon_cms-summary_wplogo-white.svg');
            background-repeat: no-repeat;
            position: absolute;
            top: 2px;
            left: 7px;
            height: 70px;
            width: 70px;
        }
        &_bitrix-logo-white {
            background-image: url('b-icon_cms-summary_bitrix-logo-white.svg');
            background-repeat: no-repeat;
            position: absolute;
            top: 2px;
            left: 7px;
            height: 69px;
            width: 69px;
        }
        &_gift-site {
            background-image: url('b-icon_cms-summary_gift-site.svg');
            background-repeat: no-repeat;
            position: absolute;
            top: -37px;
            right: 70px;
            height: 298px;
            width: 321px;
        }
        &_joomla-gift-site {
            background-image: url('b-icon_cms-summary_joomla-gift-site.svg');
            background-repeat: no-repeat;
            position: absolute;
            top: -16px;
            right: 128px;
            height: 243px;
            width: 268px;
        }
        &_pro-design {
            background-image: url('b-icon_cms-summary_pro-design.svg');
            background-repeat: no-repeat;
            position: absolute;
            top: -56px;
            left: 35px;
            height: 313px;
            width: 328px;
        }
        &_joomla-pro-design {
            background-image: url('b-icon_cms-summary_joomla-pro-design.svg');
            background-repeat: no-repeat;
            height: 280px;
            width: 308px;
            position: absolute;
            top: -42px;
            left: 28px;
        }
        &_simply-clear {
            background-image: url('b-icon_cms-summary_simply-clear.svg');
            background-repeat: no-repeat;
            position: absolute;
            top: -45px;
            right: 80px;
            height: 241px;
            width: 372px;
        }
        &_joomla-simply-clear {
            background-image: url('b-icon_cms-summary_joomla-simply-clear.svg');
            background-repeat: no-repeat;
            position: absolute;
            top: -48px;
            right: 58px;
            height: 246px;
            width: 412px;
        }
        &_devel-opportunities {
            background-image: url('b-icon_cms-summary_devel-opportunities.svg');
            background-repeat: no-repeat;
            position: absolute;
            top: -45px;
            left: 45px;
            height: 292px;
            width: 372px;
        }
        &_joomla-devel-opportunities {
            background-image: url('b-icon_cms-summary_joomla-devel-opportunities.svg');
            background-repeat: no-repeat;
            position: absolute;
            top: -50px;
            left: 45px;
            height: 309px;
            width: 355px;
        }
        &_wordpress-ideal {
            background-image: url('b-icon_cms-summary_wordpress-ideal.svg');
            background-repeat: no-repeat;
            position: absolute;
            top: 8px;
            left: 32px;
            height: 230px;
            width: 230px;
        }
        &_joomla-ideal {
            background-image: url('b-icon_cms-summary_joomla-ideal.svg');
            background-repeat: no-repeat;
            position: absolute;
            top: -12px;
            left: 8px;
            height: 267px;
            width: 267px;
        }
        &_bitrix-advantages {
            background-image: url('b-icon_cms-summary_bitrix-advantages.svg');
            background-repeat: no-repeat;
            position: absolute;
            top: 18px;
            left: 7px;
            height: 355px;
            width: 266px;
        }
        &_bitrix-biglogo {
            background-image: url('b-icon_cms-summary_bitrix-biglogo.svg');
            background-repeat: no-repeat;
            position: absolute;
            top: 127px;
            left: 50%;
            height: 205px;
            width: 343px;
            margin-left: -171px;
        }
        &_easy-to-manage {
            background-image: url('b-icon_cms-summary_easy-to-manage.svg');
            background-repeat: no-repeat;
            position: absolute;
            top: -40px;
            right: 80px;
            height: 265px;
            width: 345px;
        }
        &_ready-modules {
            background-image: url('b-icon_cms-summary_ready-modules.svg');
            background-repeat: no-repeat;
            position: absolute;
            top: -7px;
            left: 27px;
            height: 240px;
            width: 375px;
        }
        &_security-service {
            background-image: url('b-icon_cms-summary_security-service.svg');
            background-repeat: no-repeat;
            position: absolute;
            top: 27px;
            right: 43px;
            height: 195px;
            width: 364px;
        }
        &_high-speed {
            background-image: url('b-icon_cms-summary_high-speed.svg');
            background-repeat: no-repeat;
            position: absolute;
            top: -7px;
            left: 0px;
            height: 246px;
            width: 416px;
        }
        &_bitrix-leader {
            background-image: url('b-icon_cms-summary_bitrix-leader.svg');
            background-repeat: no-repeat;
            position: absolute;
            top: 237px;
            right: 0px;
            height: 325px;
            width: 410px;
        }
        &_ecommerce-check {
            background-image: url('b-icon_cms-summary_ecommerce-check.svg');
            background-repeat: no-repeat;
            position: absolute;
            top: 0px;
            left: 0px;
            height: 19px;
            width: 21px;
        }
        &_discount-biglabel {
            background-image: url('b-icon_cms-summary_discount-biglabel.svg');
            background-repeat: no-repeat;
            position: absolute;
            top: 36px;
            left: 126px;
            height: 60px;
            width: 82px;
        }
        &_bitrix-configuration {
            background-image: url('b-icon_cms-summary_bitrix-configuration.svg');
            background-repeat: no-repeat;
            position: absolute;
            top: -12px;
            left: 30px;
            height: 235px;
            width: 264px;
        }
        &_bitrix-license-advantages {
            background-image: url('b-icon_cms-summary_bitrix-license-advantages.svg');
            background-repeat: no-repeat;
            position: absolute;
            top: 15px;
            left: 20px;
            height: 301px;
            width: 276px;
        }
        &_order-onepage {
            background-image: url('b-icon_cms-summary_order-onepage.svg');
            background-repeat: no-repeat;
            position: absolute;
            top: 0px;
            left: 0px;
            height: 144px;
            width: 144px;
        }
        &_order-business {
            background-image: url('b-icon_cms-summary_order-business.svg');
            background-repeat: no-repeat;
            position: absolute;
            top: 0px;
            left: 0px;
            height: 144px;
            width: 144px;
        }
        &_order-corporative {
            background-image: url('b-icon_cms-summary_order-corporative.svg');
            background-repeat: no-repeat;
            position: absolute;
            top: 0px;
            left: 0px;
            height: 144px;
            width: 144px;
        }
        &_order-shop {
            background-image: url('b-icon_cms-summary_order-shop.svg');
            background-repeat: no-repeat;
            position: absolute;
            top: 0px;
            left: 0px;
            height: 144px;
            width: 144px;
        }
        &_personal-blog {
            background-image: url('b-icon_cms-summary_personal-blog.svg');
            background-repeat: no-repeat;
        }
        &_portfolio {
            background-image: url('b-icon_cms-summary_portfolio.svg');
            background-repeat: no-repeat;
        }
        &_corporative-site {
            background-image: url('b-icon_cms-summary_corporative-site.svg');
            background-repeat: no-repeat;
        }
        &_onepage-site {
            background-image: url('b-icon_cms-summary_onepage-site.svg');
            background-repeat: no-repeat;
        }
        &_business-site {
            background-image: url('b-icon_cms-summary_business-site.svg');
            background-repeat: no-repeat;
        }
        &_internet-shop {
            background-image: url('b-icon_cms-summary_internet-shop.svg');
            background-repeat: no-repeat;
        }
        &_corporative-site-mini {
            background-image: url('b-icon_cms-summary_corporative-site-mini.svg');
            background-repeat: no-repeat;
        }
        &_onepage-site-mini {
            background-image: url('b-icon_cms-summary_onepage-site-mini.svg');
            background-repeat: no-repeat;
        }
        &_business-site-mini {
            background-image: url('b-icon_cms-summary_business-site-mini.svg');
            background-repeat: no-repeat;
        }
        &_internet-shop-mini {
            background-image: url('b-icon_cms-summary_internet-shop-mini.svg');
            background-repeat: no-repeat;
        }
        &_feature-popularity {
            background-image: url('b-icon_cms-summary_feature-popularity.svg');
            background-repeat: no-repeat;
        }
        &_feature-localization {
            background-image: url('b-icon_cms-summary_feature-localization.svg');
            background-repeat: no-repeat;
        }
        &_feature-navi {
            background-image: url('b-icon_cms-summary_feature-navi.svg');
            background-repeat: no-repeat;
        }
        &_feature-templates {
            background-image: url('b-icon_cms-summary_feature-templates.svg');
            background-repeat: no-repeat;
        }
        &_feature-community {
            background-image: url('b-icon_cms-summary_feature-community.svg');
            background-repeat: no-repeat;
        }
        &_feature-seo {
            background-image: url('b-icon_cms-summary_feature-seo.svg');
            background-repeat: no-repeat;
        }
        &_feature-partners {
            background-image: url('b-icon_cms-summary_feature-partners.svg');
            background-repeat: no-repeat;
        }
        &_feature-devel {
            background-image: url('b-icon_cms-summary_feature-devel.svg');
            background-repeat: no-repeat;
        }
        &_feature-cup {
            background-image: url('b-icon_cms-summary_feature-cup.svg');
            background-repeat: no-repeat;
        }
        &_feature-learning {
            background-image: url('b-icon_cms-summary_feature-learning.svg');
            background-repeat: no-repeat;
        }
        &_feature-scale {
            background-image: url('b-icon_cms-summary_feature-scale.svg');
            background-repeat: no-repeat;
        }
        &_classic-hosting {
            background-image: url('b-icon_cms-summary_classic-hosting.svg');
            background-repeat: no-repeat;
        }
        &_cloud-hosting {
            background-image: url('b-icon_cms-summary_cloud-hosting.svg');
            background-repeat: no-repeat;
        }
        &_bitrix-start-solution {
            background-image: url('b-icon_cms-summary_bitrix-start-solution.svg');
            background-repeat: no-repeat;
        }
        &_bitrix-start-plan {
            background-image: url('b-icon_cms-summary_bitrix-start-plan.svg');
            background-repeat: no-repeat;
        }
        &_bitrix-start-license {
            background-image: url('b-icon_cms-summary_bitrix-start-license.svg');
            background-repeat: no-repeat;
        }
        &_bitrix-start-site {
            background-image: url('b-icon_cms-summary_bitrix-start-site.svg');
            background-repeat: no-repeat;
        }
        &_bitrix-start-ready {
            background-image: url('b-icon_cms-summary_bitrix-start-ready.svg');
            background-repeat: no-repeat;
        }
        &_discount-label {
            background-image: url('b-icon_cms-summary_discount-label.svg');
            background-repeat: no-repeat;
        }
        &_ecwid {
            background-image: url('b-icon_cms-summary_ecwid.svg');
            background-repeat: no-repeat;
        }
        &_ecwid-logo {
            background-image: url('b-icon_cms-summary_ecwid-logo.svg');
            background-repeat: no-repeat;
        }
        &_ecwid-integration {
            background-image: url('b-icon_cms-summary_ecwid-integration.svg');
            background-repeat: no-repeat;
        }
        &_theme-selected {
            background-image: url('b-icon_cms-summary_theme-selected.svg');
            background-repeat: no-repeat;
        }
        &_theme-selected-small {
            background-image: url('b-icon_cms-summary_theme-selected-small.svg');
            background-repeat: no-repeat;
        }
        &_ecwid-plan-venture {
            background-image: url('b-icon_cms-summary_ecwid-plan-venture.svg');
            background-repeat: no-repeat;
        }
        &_ecwid-plan-business {
            background-image: url('b-icon_cms-summary_ecwid-plan-business.svg');
            background-repeat: no-repeat;
        }
        &_ecwid-plan-unlimited {
            background-image: url('b-icon_cms-summary_ecwid-plan-unlimited.svg');
            background-repeat: no-repeat;
        }
    }
}
