.b-icon {
    &_dedicated-free-services-additional {
        &_os {
            background-image: url('b-icon_dedicated-free-services-additional_os.svg');
            background-repeat: no-repeat;
            height: 30px;
            width: 30px;
        }
        &_custom-os {
            background-image: url('b-icon_dedicated-free-services-additional_custom-os.svg');
            background-repeat: no-repeat;
            height: 32px;
            width: 32px;
        }
        &_ip {
            background-image: url('b-icon_dedicated-free-services-additional_ip.svg');
            background-repeat: no-repeat;
            height: 36px;
            width: 30px;
        }
        &_kvm {
            background-image: url('b-icon_dedicated-free-services-additional_kvm.svg');
            background-repeat: no-repeat;
            height: 30px;
            width: 30px;
        }
        &_dns {
            background-image: url('b-icon_dedicated-free-services-additional_dns.svg');
            background-repeat: no-repeat;
            height: 30px;
            width: 30px;
        }
    }
}
