.b-icon {
    &_exclaim {
        &_normal {
            background-image: url('b-icon_exclaim_normal.svg');
            background-repeat: no-repeat;
            width: 16px;
            height: 16px;
        }
        &_medium {
            background-image: url('b-icon_exclaim_medium.svg');
            background-repeat: no-repeat;
            width: 24px;
            height: 24px;
        }
        &_large {
            background-image: url('b-icon_exclaim_large.svg');
            background-repeat: no-repeat;
            width: 32px;
            height: 32px;
        }
    }
}
