.b-icon {
    &_premium-dns-promo {
        &_templates {
            background-image: url('b-icon_premium-dns-promo_templates.svg');
            background-repeat: no-repeat;
            width: 54px;
            height: 54px;
        }
        &_export {
            background-image: url('b-icon_premium-dns-promo_export.svg');
            background-repeat: no-repeat;
            width: 54px;
            height: 54px;
        }
        &_import {
            background-image: url('b-icon_premium-dns-promo_import.svg');
            background-repeat: no-repeat;
            width: 54px;
            height: 54px;
        }
        &_history {
            background-image: url('b-icon_premium-dns-promo_history.svg');
            background-repeat: no-repeat;
            width: 54px;
            height: 54px;
        }
        &_named {
            background-image: url('b-icon_premium-dns-promo_named.svg');
            background-repeat: no-repeat;
            width: 54px;
            height: 54px;
        }
        &_anycast {
            background-image: url('b-icon_premium-dns-promo_anycast.svg');
            background-repeat: no-repeat;
            width: 54px;
            height: 54px;
        }
        &_update {
            background-image: url('b-icon_premium-dns-promo_update.svg');
            background-repeat: no-repeat;
            width: 54px;
            height: 54px;
        }
        &_child {
            background-image: url('b-icon_premium-dns-promo_child.svg');
            background-repeat: no-repeat;
            width: 54px;
            height: 54px;
        }
        &_manager {
            background-image: url('b-icon_premium-dns-promo_manager.svg');
            background-repeat: no-repeat;
            width: 54px;
            height: 54px;
        }
        &_named-big {
            background-image: url('b-icon_premium-dns-promo_named-big.svg');
            background-repeat: no-repeat;
            width: 175px;
            height: 177px;
        }
        &_paas {
            background-image: url('b-icon_premium-dns-promo_paas.svg');
            background-repeat: no-repeat;
            width: 174px;
            height: 179px;
        }
    }
}
