.b-icon_hosting-free-list {
    &_ubuntu {
        background-image: url('b-icon_hosting-free-list_ubuntu.svg');
        background-repeat: no-repeat;
        width: 21px;
        height: 21px;
    }

    &_unlim {
        background-image: url('b-icon_hosting-free-list_unlim.svg');
        background-repeat: no-repeat;
        width: 21px;
        height: 8px;
    }

    &_dns {
        background-image: url('b-icon_hosting-free-list_dns.svg');
        background-repeat: no-repeat;
        width: 21px;
        height: 8px;
    }

    &_ip {
        background-image: url('b-icon_hosting-free-list_ip.svg');
        background-repeat: no-repeat;
        width: 21px;
        height: 12px;
    }

    &_isp {
        background-image: url('b-icon_hosting-free-list_isp.svg');
        background-repeat: no-repeat;
        width: 21px;
        height: 20px;
    }

    &_diagram {
        background-image: url('b-icon_hosting-free-list_diagram.svg');
        background-repeat: no-repeat;
        width: 21px;
        height: 16px;
    }

    &_backup {
        background-image: url('b-icon_hosting-free-list_backup.svg');
        background-repeat: no-repeat;
        width: 20px;
        height: 20px;
    }

    &_os {
        background-image: url('b-icon_hosting-free-list_os.svg');
        background-repeat: no-repeat;
        width: 20px;
        height: 20px;
    }

    &_mail {
        background-image: url('b-icon_hosting-free-list_mail.svg');
        background-repeat: no-repeat;
        width: 18px;
        height: 12px;
    }

    &_code {
        background-image: url('b-icon_hosting-free-list_code.svg');
        background-repeat: no-repeat;
        width: 18px;
        height: 9px;
    }

    &_firewall {
        background-image: url('b-icon_hosting-free-list_firewall.svg');
        background-repeat: no-repeat;
        width: 18px;
        height: 12px;
    }

    &_ssh {
        background-image: url('b-icon_hosting-free-list_ssh.svg');
        background-repeat: no-repeat;
        width: 18px;
        height: 20px;
    }

    &_ssl{
        background-image: url('b-icon_hosting-free-list_ssl.svg');
        background-repeat: no-repeat;
        height: 15px;
        width: 14px;
    }

    &_file {
        background-image: url('b-icon_hosting-free-list_file.svg');
        background-repeat: no-repeat;
        width: 14px;
        height: 17px;
    }

    &_lock {
        background-image: url('b-icon_hosting-free-list_lock.svg');
        background-repeat: no-repeat;
        width: 16px;
        height: 19px;
    }

    &_ftp {
        background-image: url('b-icon_hosting-free-list_ftp.svg');
        background-repeat: no-repeat;
        width: 20px;
        height: 8px;
    }

    &_windows {
        background-image: url('b-icon_hosting-free-list_windows.svg');
        background-repeat: no-repeat;
        width: 20px;
        height: 19px;
    }

    &_ethernet {
        background-image: url('b-icon_hosting-free-list_ethernet.svg');
        background-repeat: no-repeat;
        height: 16px;
        width: 18px;
    }

    &_kvm {
        background-image: url('b-icon_hosting-free-list_kvm.svg');
        background-repeat: no-repeat;
        width: 18px;
        height: 18px;
    }

    &_ddos {
        background-image: url('b-icon_hosting-free-list_ddos.svg');
        background-repeat: no-repeat;
        width: 14px;
        height: 16px;
    }

    &_database {
        background-image: url('b-icon_hosting-free-list_database.svg');
        background-repeat: no-repeat;
        width: 18px;
        height: 17px;
    }

    &_panel {
        background-image: url('b-icon_hosting-free-list_panel.svg');
        background-repeat: no-repeat;
        width: 18px;
        height: 12px;
    }
}
