.b-icon_hosting-advantages-stripe {
    &_clock {
        background-image: url('b-icon_hosting-advantages-stripe_clock.svg');
        background-repeat: no-repeat;
        height: 70px;
        width: 60px;
    }
    &_diagram {
        background-image: url('b-icon_hosting-advantages-stripe_diagram.svg');
        background-repeat: no-repeat;
        height: 62px;
        width: 69px;
    }
    &_label {
        background-image: url('b-icon_hosting-advantages-stripe_label.svg');
        background-repeat: no-repeat;
        height: 67px;
        width: 52px;
    }
    &_server {
        background-image: url('b-icon_hosting-advantages-stripe_server.svg');
        background-repeat: no-repeat;
        height: 70px;
        width: 51px;
    }
}
