@import '~i-less/i-less';

@bl: ~".b-ruler";

.b-ruler {
    position: relative;
    height: 12px;

    &_mode {
        &_prepend:not( @{bl}_mode_vertical ) {
            @{bl}__step {
                bottom: 0;
                padding: 0 0 8px;

                &:before {
                    top: auto;
                    bottom: 0;
                }
            }
        }

        &_prepend@{bl}_mode_vertical {
            @{bl}__step {
                right: 0;
                padding: 0 12px 0 0;

                &:before {
                    right: 0;
                    left: auto;
                }
            }

            @{bl}__label {
                text-align: right;
            }
        }

        &_vertical {  // В данный момент нигде не юзается.
            display: inline-block;
            width: 24px;
            height: 100px;  // Высота слайдера по умолчанию

            @{bl}__step {
                padding: 0 0 0 12px;
                margin: 0 0 -10px 0;

                &:before {
                    top: 50%;
                    left: 0;
                    margin: -2px 0 0;
                }
            }

            @{bl}__label {
                text-align: left;
            }
        }
    }

    &__step {
        position: absolute;
        width: 42px;
        padding-top: 8px;
        margin-left: -21px;

        &:before {
            position: absolute;
            top: 0;
            left: 50%;
            width: 4px;
            height: 4px;
            margin-left: -2px;
            content: '';
            background: @color-text-minor;
        }

        &_mode_first:before,
        &_mode_last:before {
            content: none;
        }

        &_style {
            &_limit {
                @{bl}__label {
                    color: @color-text;
                    font: @font-normal-compact;
                }
            }

            &_highlight {
                &:before {
                    background-color: #38abd4;
                    transition: @transition-default;
                    transition-property: background-color;
                }
            }
        }
    }

    &__label {
        display: block;
        color: @color-text-minor;
        font: @font-small;
        text-align: center;
        cursor: pointer;
    }
}
