.b-icon {
    &_security-month_alarm {
        background-image: url('b-icon_security-month_alarm.svg');
        background-repeat: no-repeat;
    }
    &_security-month_audit {
        background-image: url('b-icon_security-month_audit.svg');
        background-repeat: no-repeat;
    }
    &_security-month_cap {
        background-image: url('b-icon_security-month_cap.svg');
        background-repeat: no-repeat;
    }
    &_security-month_ddos {
        background-image: url('b-icon_security-month_ddos.svg');
        background-repeat: no-repeat;
    }
    &_security-month_sale {
        background-image: url('b-icon_security-month_sale.svg');
        background-repeat: no-repeat;
    }
    &_security-month_sitemonitor {
        background-image: url('b-icon_security-month_sitemonitor.svg');
        background-repeat: no-repeat;
    }
    &_security-month_spam {
        background-image: url('b-icon_security-month_spam.svg');
        background-repeat: no-repeat;
    }
    &_security-month_ssl {
        background-image: url('b-icon_security-month_ssl.svg');
        background-repeat: no-repeat;
    }
}
