.b-icon {
    &_feedback {
        &_man {
            background-image: url('b-icon_feedback_man.svg');
            background-repeat: no-repeat;
            width: 270px;
            height: 220px;
        }

        &_people {
            background-image: url('b-icon_feedback_people.svg');
            background-repeat: no-repeat;
            width: 336px;
            height: 240px;
        }
    }
}
