.b-icon__landing-metro {
    &_site_constructor {
        background-image: url('b-icon__landing-metro_site_constructor.svg');
        background-repeat: no-repeat;
        width: 129px;
        height: 111px;
    }
    &_site_www-earth {
        background-image: url('b-icon__landing-metro_site_www-earth.svg');
        background-repeat: no-repeat;
        width: 143px;
        height: 143px;
    }
    &_site_hosting {
        background-image: url('b-icon__landing-metro_site_hosting.svg');
        background-repeat: no-repeat;
        width: 136px;
        height: 137px;
    }
    &_site_590-rubles {
        background-image: url('b-icon__landing-metro_site_590-rubles.svg');
        background-repeat: no-repeat;
        width: 180px;
        height: 180px;
    }
}
