.b-icon {
    &_main-services {
        &_monitoring {
            background-image: url('b-icon_main-services_monitoring.svg');
            background-repeat: no-repeat;
            height: 48px;
            width: 57px;
        }
        &_seo {
            background-image: url('b-icon_main-services_seo.svg');
            background-repeat: no-repeat;
            height: 54px;
            width: 61px;
        }
        &_cloudcontext {
            background-image: url('b-icon_main-services_cloudcontext.svg');
            background-repeat: no-repeat;
            height: 53px;
            width: 53px;
        }
        &_cloudcontext-placements {
            background-image: url('b-icon_main-services_cloudcontext-placements.svg');
            background-repeat: no-repeat;
            height: 61px;
            width: 111px;
        }
        &_ssl {
            background-image: url('b-icon_main-services_ssl.svg');
            background-repeat: no-repeat;
            height: 61px;
            width: 55px;
        }
        &_hosting {
            background-image: url('b-icon_main-services_hosting.svg');
            background-repeat: no-repeat;
            height: 51px;
            width: 46px;
        }
    }
}
