.b-text-highlight {
    &__icon_style_hint {
        background-image: url('b-text-highlight__icon_style_hint.svg');
        background-repeat: no-repeat;
    }
    &__icon_style_code {
        background-image: url('b-text-highlight__icon_style_code.svg');
        background-repeat: no-repeat;
    }
    &__icon_style_file {
        background-image: url('b-text-highlight__icon_style_file.svg');
        background-repeat: no-repeat;
    }
    &__icon_style_folder {
        background-image: url('b-text-highlight__icon_style_folder.svg');
        background-repeat: no-repeat;
    }
    &__icon_style_action {
        background-image: url('b-text-highlight__icon_style_action.svg');
        background-repeat: no-repeat;
    }
    &__icon_style_path {
        background-image: url('b-text-highlight__icon_style_path.svg');
        background-repeat: no-repeat;
    }
}
