@import '~i-less/i-less';

.b-whois-info {
    @bl: ~".b-whois-info";
    @md-width: 480px;

    padding: 18px;
    border: 5px solid #cecece;
    box-sizing: border-box;

    &__icon {
        display: inline-block;
        width: 50px;
        height: 50px;
        vertical-align: top;
        background-size: contain;

        .desktop({
            width: 75px;
            height: 75px;
        })
    }

    &__content {
        display: inline-block;
        width: calc( ~"100% - 55px" );
        padding-left: 5px;
        margin-bottom: 12px;
        vertical-align: top;
        word-wrap: break-word;
        box-sizing: border-box;

        .desktop({
            width: auto;
            max-width: 750px;
            padding-left: 18px;
            margin-bottom: 0;
        })
    }

    &__title {
        font-weight: bold;
        font-size: 24px;
        line-height: @line-height-big;
        .desktop({
            font-size: 32px;
        })
    }

    &__link {
        display: block;
        margin-top: 10px;
        font-size: 70%;

        .desktop({
            display: inline;
            margin-top: 0;
            margin-left: 25px;
        })
    }

    &__text {
        margin-bottom: 0;

        .desktop({
            font-size: 20px;
        })
    }

    &__buttons {
        .i-flex-display();
        .i-flex-direction(column);
        .i-flex-wrap(wrap);

        .desktop({
            margin-left: 96px;
            display: block;
        })
    }

    &__button {
        vertical-align: top;
        .i-flex-grow(1);
    }

    &_style {
        &_no-border {
            padding: 20px 0;
            border: none;

            @{bl}__icon,
            @{bl}__content {
                margin-bottom: 0;
                vertical-align: middle;
            }
        }

        &_compact {
            @{bl}__buttons {
                flex-direction: column;

                @media (min-width: @md-width) {
                    flex-wrap: nowrap;
                    flex-direction: row;
                }
            }

            @{bl}__button {
                @media (min-width: @md-width) {
                    &:not(:first-child) {
                        margin-left: 12px;
                    }
                }
            }

            .desktop({
                @{bl}__buttons {
                    display: inline-block;
                    width: 175px;
                    margin-left: 0;
                }

                @{bl}__button {
                    display: block;
                    width: 175px;
                    margin-bottom: 0;

                    &:not(:last-child) {
                        margin-bottom: 12px;
                    }

                    &:not(:first-child) {
                        margin-left: 0;
                    }
                }

                @{bl}__content {
                    width: 661px;
                    max-width: 661px;
                    margin-bottom: 0;
                }
            })
        }
    }

    .desktop({
        padding: 24px 36px 24px 30px;
        margin-top: @indent-v-medium;

        &_style {
            &_no-border {
                padding: 20px 0;
                margin-top: 0;

                @{bl}__link {
                    display: block;
                    margin-top: 9px;
                    margin-left: 0;
                }
            }
        }
    })
}
