@import '~i-less/i-less';

.b-list-faq {
    padding: 0;
    margin: 0 0 24px;
    color: @text-color;
    font: normal 15px/24px @face;
    list-style-type: none;

    &__item {
        display: list-item !important;
        position: relative;
        padding-left: 24px;
        margin: 0 0 12px;
        background-position: 0 5px;
        background-repeat: no-repeat;

        .desktop({
             padding-left: 36px;
        });

        &_marker {
            &_disc {
                &:before {
                    position: absolute;
                    top: 9px;
                    left: 2px;
                    width: 8px;
                    height: 8px;
                    border-radius: 4px;
                    content: '';
                    background: #e0e0e0;
                }
            }
        }
    }
}
