.b-landing__logo {
    @bl: ~".b-landing__logo";

    display: inline-block;

    &_regru_big,
    &_regru_normal {
        background-image: url('b-landing__logo_regru_big.svg');
        background-repeat: no-repeat;
    }

    &_regru_big {
        width: 170px;
        height: 84px;
    }

    &_regru_normal {
        width: 160px;
        height: 74px;
        background-size: 160px 74px;
    }

    &_regru_text {
        width: 256px;
        height: 72px;
        background-image: url('b-landing__logo_regru_text.svg');
        background-repeat: no-repeat;
    }
}
