.b-icon {
    &_keywords {
        &_header {
            background-image: url('b-icon_keywords_header.svg');
            background-repeat: no-repeat;
            position: absolute;
            top: -48px;
            right: -175px;
            width: 685px;
            height: 364px;
        }

        &_data-missing {
            background-image: url('b-icon_keywords_data-missing.svg');
            background-repeat: no-repeat;
            position: absolute;
            top: 45px;
            left: 0;
            width: 149px;
            height: 149px;
        }

        &_positions {
            background-image: url('b-icon_keywords_positions.svg');
            background-repeat: no-repeat;
            width: 105px;
            height: 62px;
        }

        &_queries {
            background-image: url('b-icon_keywords_queries.svg');
            background-repeat: no-repeat;
            width: 63px;
            height: 72px;
        }

        &_competitors {
            background-image: url('b-icon_keywords_competitors.svg');
            background-repeat: no-repeat;
            width: 54px;
            height: 80px;
        }

        &_tasks {
            background-image: url('b-icon_keywords_tasks.svg');
            background-repeat: no-repeat;
            position: absolute;
            top: 0;
            left: 0;
            width: 230px;
            height: 254px;
        }

        &_subscription {
            background-image: url('b-icon_keywords_subscription.svg');
            background-repeat: no-repeat;
            position: absolute;
            top: 89px;
            right: -37px;
            width: 220px;
            height: 250px;
        }

        &_big-banner {
            background-image: url('b-icon_keywords_big-banner.svg');
            background-repeat: no-repeat;
            position: absolute;
            top: 0;
            right: 0;
            width: 250px;
            height: 222px;
        }

        &_medium-banner {
            background-image: url('b-icon_keywords_medium-banner.svg');
            background-repeat: no-repeat;
            position: absolute;
            top: 0;
            right: 0;
            width: 250px;
            height: 120px;
        }

        &_vert-banner {
            background-image: url('b-icon_keywords_vert-banner.svg');
            background-repeat: no-repeat;
            position: absolute;
            right: 0;
            bottom: 0;
            z-index: 0;
            width: 138px;
            height: 120px;
        }
    }
}
