.b-icon {
    &_logo {
        &_mnogodomenov {
            background-image: url('b-icon_logo_mnogodomenov.svg');
            background-repeat: no-repeat;
            width: 200px;
            height: 18px;
        }
        &_vipregsu {
            background-image: url('b-icon_logo_vipregsu.svg');
            background-repeat: no-repeat;
            width: 194px;
            height: 46px;
        }
        &_rutld {
            background-image: url('b-icon_logo_rutld.svg');
            background-repeat: no-repeat;
            width: 206px;
            height: 86px;
        }
        &_mosdomenru {
            width: 222px;
            height: 46px;
            background-image: url('b-icon_logo_mosdomenru.svg');
            background-repeat: no-repeat;
        }
        &_jdomenru {
            background-image: url('b-icon_logo_jdomenru.svg');
            background-repeat: no-repeat;
            width: 215px;
            height: 44px;
        }
        &_imechko {
            background-image: url('b-icon_logo_imechko.svg');
            background-repeat: no-repeat;
            width: 224px;
            height: 46px;
        }
        &_cyprcom {
            background-image: url('b-icon_logo_cyprcom.svg');
            background-repeat: no-repeat;
            width: 223px;
            height: 54px;
        }
        &_2domains {
            background-image: url('b-icon_logo_2domains.svg');
            background-repeat: no-repeat;
            width: 210px;
            height: 57px;
        }
        &_24regru {
            background-image: url('b-icon_logo_24regru.svg');
            background-repeat: no-repeat;
            width: 214px;
            height: 45px;
        }
        &_easydomen {
            background-image: url('b-icon_logo_easydomen.svg');
            background-repeat: no-repeat;
            width: 217px;
            height: 46px;
        }
        &_beget {
            background-image: url('b-icon_logo_beget.svg');
            background-repeat: no-repeat;
            width: 160px;
            height: 72px;
        }
    }
}
