.b-icon {
    &_priority-arrows {
        height: 13px;
        width: 13px;
        background: url('b-icon_priority-arrows.png') no-repeat;

        &_down {
            margin-right: 10px;
            background-position: 2px 5px;
        }
        &_up {
            margin-left: 10px;
            background-position: -33px 5px;
        }
    }
}
