.b-icon {
    &_arrow_bold-down {
        background-image: url('b-icon_arrow_bold-down.svg');
        background-repeat: no-repeat;
    }
    &_arrow_bold-left {
        background-image: url('b-icon_arrow_bold-left.svg');
        background-repeat: no-repeat;
    }
    &_arrow_bold-right {
        background-image: url('b-icon_arrow_bold-right.svg');
        background-repeat: no-repeat;
    }
    &_arrow_thin-down {
        background-image: url('b-icon_arrow_thin-down.svg');
        background-repeat: no-repeat;
    }
    &_arrow_thin-left {
        background-image: url('b-icon_arrow_thin-left.svg');
        background-repeat: no-repeat;
    }
    &_arrow_thin-right {
        background-image: url('b-icon_arrow_thin-right.svg');
        background-repeat: no-repeat;
    }
    &_arrow_thin-up {
        background-image: url('b-icon_arrow_thin-up.svg');
        background-repeat: no-repeat;
    }
}
