.b-icon {
    &_vps-windows {
        &_apache {
            background-image: url('b-icon_vps-windows_apache.svg');
            background-repeat: no-repeat;
            height: 29px;
            margin: 10px 10px 10px 0;
            width: 70px;
            vertical-align: middle;
        }
        &_directum {
            background-image: url('b-icon_vps-windows_directum.svg');
            background-repeat: no-repeat;
            height: 24px;
            margin: 10px 10px 10px 0;
            width: 91px;
            vertical-align: middle;
        }
        &_iis {
            background-image: url('b-icon_vps-windows_iis.svg');
            background-repeat: no-repeat;
            height: 35px;
            margin: 10px 0;
            width: 66px;
            vertical-align: middle;
        }
        &_ms-net {
            background-image: url('b-icon_vps-windows_ms-net.svg');
            background-repeat: no-repeat;
            height: 26px;
            margin: 10px 10px 10px 0;
            width: 105px;
            vertical-align: middle;
        }
        &_ms-win-server {
            background-image: url('b-icon_vps-windows_ms-win-server.svg');
            background-repeat: no-repeat;
            height: 35px;
            margin: 10px 10px 10px 0;
            width: 40px;
            vertical-align: middle;
        }
        &_nginx {
            background-image: url('b-icon_vps-windows_nginx.svg');
            background-repeat: no-repeat;
            height: 22px;
            margin: 10px 0;
            width: 97px;
            vertical-align: middle;
        }

        &_versions {
            background-image: url('b-icon_vps-windows_versions.svg');
            background-repeat: no-repeat;
            width: 14px;
            height: 14px;
        }
        &_remote {
            background-image: url('b-icon_vps-windows_remote.svg');
            background-repeat: no-repeat;
            width: 18px;
            height: 15px;
        }

        &_stat {
            background-image: url('b-icon_vps-windows_stat.svg');
            background-repeat: no-repeat;
            width: 13px;
            height: 14px;
        }

        &_game-hosting {
            background-image: url('b-icon_vps-windows_game-hosting.svg');
            background-repeat: no-repeat;
            width: 17px;
            height: 16px;
        }
        &_docs-flow {
            background-image: url('b-icon_vps-windows_docs-flow.svg');
            background-repeat: no-repeat;
            width: 16px;
            height: 16px;
        }
        &_publish {
            background-image: url('b-icon_vps-windows_publish.svg');
            background-repeat: no-repeat;
            width: 20px;
            height: 18px;
        }

        &_flat {
            background-image: url('b-icon_vps-windows_flat.svg');
            background-repeat: no-repeat;
            width: 19px;
            height: 19px;
        }
    }
}
