.b-icon {
    &_payment-autorefill {
        &_webmoney,
        &_bank,
        &_card,
        &_yamoney {
            background-repeat: no-repeat;
            height: 120px;
            width: 144px;
            background-position: center;
        }

        &_bank {
            background-image: url('b-icon_payment-autorefill_bank.svg');
        }
        &_card {
            background-image: url('b-icon_payment-autorefill_card.svg');
        }
        &_RUB {
            background-image: url('b-icon_payment-autorefill_RUB.svg');
        }
        &_webmoney {
            background-image: url('b-icon_payment-autorefill_webmoney.svg');
        }
        &_yamoney {
            background-image: url('b-icon_payment-autorefill_yamoney.svg');
        }
    }
}
