.b-icon {
    &_mailru-services_agent {
        background-image: url('b-icon_mailru-services_agent.svg');
        background-repeat: no-repeat;
    }
    &_mailru-services_calendar {
        background-image: url('b-icon_mailru-services_calendar.svg');
        background-repeat: no-repeat;
    }
    &_mailru-services_cloud-storage {
        background-image: url('b-icon_mailru-services_cloud-storage.svg');
        background-repeat: no-repeat;
    }
    &_mailru-services_company {
        background-image: url('b-icon_mailru-services_company.svg');
        background-repeat: no-repeat;
    }
}
