.b-icon {
    &_google-apps-capabilities {
        &_mail {
            background-image: url('b-icon_google-apps-capabilities_mail.svg');
            background-repeat: no-repeat;
            width: 48px;
            height: 51px;
        }
        &_driver {
            background-image: url('b-icon_google-apps-capabilities_driver.svg');
            background-repeat: no-repeat;
            width: 48px;
            height: 51px; 
        }
        &_chat {
            background-image: url('b-icon_google-apps-capabilities_chat.svg');
            background-repeat: no-repeat;
            width: 44px;
            height: 51px; 
        }
        &_sheets {
            background-image: url('b-icon_google-apps-capabilities_sheets.svg');
            background-repeat: no-repeat;
            width: 44px;
            height: 54px;   
        }
        &_docs {
            background-image: url('b-icon_google-apps-capabilities_docs.svg');
            background-repeat: no-repeat;
            width: 44px;
            height: 54px;
        }
        &_slides {
            background-image: url('b-icon_google-apps-capabilities_slides.svg');
            background-repeat: no-repeat;
            width: 44px;
            height: 54px; 
        }
        &_calendar {
            background-image: url('b-icon_google-apps-capabilities_calendar.svg');
            background-repeat: no-repeat;
            width: 48px;
            height: 49px;
        }
        &_sites {
            background-image: url('b-icon_google-apps-capabilities_sites.svg');
            background-repeat: no-repeat;
            width: 50px;
            height: 49px; 
        }
        &_store {
            background-image: url('b-icon_google-apps-capabilities_store.svg');
            background-repeat: no-repeat;
            width: 53px;
            height: 49px; 
        }
    }
}
