.b-icon {
    &_google-apps-capabilities {
        &_mail-small {
            background-image: url('b-icon_google-apps-capabilities_mail-small.svg');
            background-repeat: no-repeat;
            height: 18px;
            width: 25px;
        }
    }
}
