.b-icon_business {
    @icons: 'guard', 'badge', 'rouble', 'square-rouble', 'question', 'checked', 'db', 'square-rouble-red', 'payment', 'online', 'auto', 'phone', 'global', 'card', 'status', 'search', 'stats', 'key', 'analyze';

    .-(@i: length(@icons)) when (@i > 0) {
        @icon: e( extract( @icons, @i ) );

        &_@{icon} {
            width: 60px;
            height: 60px;
            background-image: url('b-icon_business_@{icon}.svg');
            background-repeat: no-repeat;
        }

        .-((@i - 1));
    } .-;

    &_alfa-service {
        width: 120px;
        height: 120px;
        background-image: url('b-icon_business_alfa-service.svg');
        background-repeat: no-repeat;
    }

    &_alfa-phone {
        width: 98px;
        height: 98px;
        background-image: url('b-icon_business_alfa-service.svg');
        background-size: contain;
        background-repeat: no-repeat;
    }
}
