.b-icon {
    &_web-sites {
        &_parallels {
            background-image: url('b-icon_web-sites_parallels.svg');
            background-repeat: no-repeat;
            height: 47px;
            width: 112px;
        }
        &_websitebuilder {
            background-image: url('b-icon_web-sites_websitebuilder.svg');
            background-repeat: no-repeat;
            height: 46px;
            width: 136px;
        }
        &_gomobi {
            background-image: url('b-icon_web-sites_gomobi.svg');
            background-repeat: no-repeat;
            height: 35px;
            width: 126px;
        }
        &_wix {
            background-image: url('b-icon_web-sites_wix.svg');
            background-repeat: no-repeat;
            height: 32px;
            width: 83px;
        }
        &_wp {
            background-image: url('b-icon_web-sites_wp.svg');
            background-repeat: no-repeat;
            height: 47px;
            width: 47px;
            margin-right: 12px;
        }
        &_joomla {
            background-image: url('b-icon_web-sites_joomla.svg');
            background-repeat: no-repeat;
            height: 43px;
            width: 43px;
            margin-right: 12px;
        }
        &_bitrix {
            background-image: url('b-icon_web-sites_bitrix.svg');
            background-repeat: no-repeat;
            height: 34px;
            width: 170px;
        }
        &_ecwid {
            background-image: url('b-icon_web-sites_ecwid.svg');
            background-repeat: no-repeat;
            width: 179px;
            height: 47px;
        }
        &_free-ssl {
            background-image: url('b-icon_web-sites_free-ssl.svg');
            background-repeat: no-repeat;
            height: 69px;
            width: 77px;
        }
        &_free-ssl-large {
            height: 82px;
            width: 92px;
        }
    }
}
