//- параметры { mod: 'type_inline', list: [] }
//- формат списка [ 'item1', { icon: 'info', html: 'item2', bordered: 1, className: 'class' } ]
span(class='b-popup-discount' + (self.mod ? ' b-popup-discount_' + self.mod : ''))
  ul.b-popup-discount__list
    each item in self.list
      - var itemClass = 'b-popup-discount__list-item'
      if item.icon
        - itemClass += ' b-popup-discount__list-item_icon_' + item.icon
      if item.bordered
        - itemClass += ' b-popup-discount__list-item_style_bordered'
      if item.className
        - itemClass += ' ' + item.className

      li(class=itemClass)
        !=( item.html || item )
