@import '~i-less/i-less';

.b-popup-discount {
    @bl: ~".b-popup-discount";

    display: none;
    position: absolute;
    z-index: 2;
    padding: @wrapper-h-small;
    box-shadow: 1px 2px 7px rgba( 0, 0, 0, 0.24 );
    text-align: left;
    background-color: #fff;

    &_type_inline {
        display: block;
        position: static;
        padding: 18px;
        box-shadow: none;
        background-color: transparent;

        .desktop({
            padding: 13px 25px 25px;
        });
    }

    &__toggle {
        cursor: pointer;

        &_status_active {
            z-index: 7 !important;
        }
    }

    &__header {
        display: block;
        padding-left: 4px;
        margin-bottom: 5px;
        font: bold @font-normal;
    }

    &__header-old-price {
        color: #555;
        font: normal @font-normal;
        text-decoration: line-through;
    }

    &__list {
        padding: 0;
        margin: 0;
        list-style-type: none;
    }

    &__list-item {
        font: @font-normal;
        white-space: nowrap;

        &_style_bordered {
            padding: 8px 0;
            border-top: 1px solid #cecece;
        }
    }

    &__list-item_icon_info {
        padding-left: 24px;
        white-space: normal;
        background-image: url('b-popup-discount__list-item_icon_info.svg');
        background-repeat: no-repeat;
        background-position: 0 10px;
    }

    &__text {
        padding: 4px 4px 8px 4px;
        font: normal 12px/13px @face;
        white-space: nowrap;
    }

    &__old-price {
        color: @color-text-minor;
        font: normal @font-small;
        text-decoration: line-through;
    }

    &_type_sites {
        @{bl}__table {
            width: 500px;
            padding: 0;
            margin: 24px 30px 12px;
            border-spacing: 0;
            border-collapse: separate;
            empty-cells: show;
        }

        @{bl}__table-item {
            padding: 0;
            margin: 0;
        }

        @{bl}__table-cell {
            padding: 0 36px 24px 0;
            margin: 0;
            color: #333;
            font: 15px @face;

            &_type {
                &_price {
                    width: 100px;
                    padding-right: 12px;
                    font-weight: bold;
                    text-align: right;
                }

                &_total {
                    padding: 12px 12px 12px 0;
                    border-top: 1px solid #cdcdcd;
                    font-size: 20px;
                }
            }
        }

        @{bl}__old-price {
            margin-right: 12px;
            color: #e88726;
            text-decoration: line-through;
        }
    }

    .no-boxshadow & {
        border: 3px double #e4e4e4;

        &_type_inline {
            border: 0 none;
        }
    }
}
