.b-icon {
    &_landing_book {
        background-image: url('b-icon_landing_book.svg');
        background-repeat: no-repeat;
    }
    &_landing_form {
        background-image: url('b-icon_landing_form.svg');
        background-repeat: no-repeat;
    }
    &_landing_park {
        background-image: url('b-icon_landing_park.svg');
        background-repeat: no-repeat;
    }
    &_landing_pointer {
        background-image: url('b-icon_landing_pointer.svg');
        background-repeat: no-repeat;
    }
    &_landing_shop-lot {
        background-image: url('b-icon_landing_shop-lot.svg');
        background-repeat: no-repeat;
    }
    &_landing_shop-rented {
        background-image: url('b-icon_landing_shop-rented.svg');
        background-repeat: no-repeat;
    }
}
