@import '~i-less/i-less';

.b-bug-reporter {

    &-form {
        width: @column-size-7;
    }

    &__wrapper-button {
        overflow: hidden;
    }

    .b-table-form__item-label {
        color: #000;
        font: bold @font-medium-compact;
    }

    .desktop({
        width: 660px;
    });
}
