.b-icon {
    &_toggle {
		&_up,
		&_down {
            background-repeat: no-repeat;
            width: 25px;
            height: 32px;
            vertical-align: middle;
            margin-left: 30px;
		}
        &_up {
            background-image: url('b-icon_toggle_up.svg');
        }
        &_down {
            background-image: url('b-icon_toggle_down.svg');
        }
    }
}
