@import '~i-less/i-less';

.b-switcher {
    display: inline-block;
    background: url(b-switcher.png) no-repeat 0px -60px;
    height: 20px;
    width: 64px;
    position: relative;
    cursor: pointer;

    &_state-size_3 {
        background-position: 0px 0px;
        width: 79px;
    }

    &_state_in-progress {
        background-position: 0px -30px;
        width: 79px;
    }

    &__button {
        display: block;
        background: url(b-switcher.png) no-repeat;
        height: 20px;
        border: 0px none;
        padding: 0px;
        margin: 0px;
        position: absolute;
        top: 0px;
        cursor: pointer;
        .i-text__hidden();
    }

    &__button[disabled] {
        opacity: 0.3;
    }

    &__checkbox {
        display: none;
    }

    &__group-label {
        white-space: nowrap;
    }

    &__group-checkbox_state_not-full {
        opacity: 0.5;
    }

    &_state-size_2 &__button_action_on {
        background-position: 2px -88px;
        width: 64px;
        left: 0px;
    }

    &_state-size_2 &__button_action_off {
        background-position: 35px -118px;
        width: 64px;
        left: 0px;
    }

    &_state-size_3 &__button_action_on {
        width: 29px;
        left: 32px;
    }

    &_state-size_3 &__button_action_off {
        width: 34px;
        left: 0px;
    }

    &_state-size_3 &__button_action_pause {
        width: 20px;
        left: 59px;
    }

    &_state_on &__button_action_on {
        background-position: 0px -118px;
    }

    &_state_on &__button_action_off,
    &_state_on &__button_action_pause {
        background: none;
    }

    &_state_off &__button_action_off {
        background-position: 2px -88px;
    }

    &_state_off &__button_action_on,
    &_state_off &__button_action_pause {
        background: none;
    }

    &_state_paused &__button_action_pause {
        background-position: 0px -148px;
    }

    &_state_paused &__button_action_on,
    &_state_paused &__button_action_off {
        background: none;
    }

    &__group-label {
        cursor: pointer;
    }
}
