@import '~i-less/i-less';
@import '~i-authorize-config/i-authorize-config';

.b-openID {
    position: relative;
    &__list{
        margin: 0px;
        padding: 0px;
        list-style-type: none;
        overflow: hidden;

        &-wpopup {
            margin-left: -131px!important;
            top: 108px!important;
        }
        &-title {
            display: block;
            margin: 14px 0px 5px 0px;
            font: bold 12px @face;
        }

        &-items-wrapper {
            float: left;
            padding-right: 9px;
            padding-bottom: 9px;
        }
        &-link {
            display: block;
            font: 15px/16px @face;
            color: #003769;
            text-decoration: underline;

            &:hover {
                text-decoration: none;
            }
        }
        &-link-icon {
            display: block;
            background-image: url('b-openID-list__item-link.png');
            background-repeat: no-repeat;
            width: 16px;
            height: 16px;
            .i-text__hidden();

            &_name {
                &_facebook {
                    background-position: -80px -20px;

                    &:hover,
                    .b-openID__list_provider-name_show & {
                        background-position: -80px 0px;
                    }
                }
                &_foursquare {
                    background-position: -260px -20px;

                    &:hover,
                    .b-openID__list_provider-name_show & {
                        background-position: -260px 0px;
                    }
                }
                &_github {
                    background-position: -220px -20px;

                    &:hover,
                    .b-openID__list_provider-name_show & {
                        background-position: -220px 0px;
                    }
                }
                &_google {
                    background-position: -100px -20px;

                    &:hover,
                    .b-openID__list_provider-name_show & {
                        background-position: -100px 0px;
                    }
                }
                &_instagram {
                    background-position: -240px -20px;

                    &:hover,
                    .b-openID__list_provider-name_show & {
                        background-position: -240px 0px;
                    }
                }
                &_livejournal {
                    background-position: -20px -20px;

                    &:hover,
                    .b-openID__list_provider-name_show & {
                        background-position: -20px 0px;
                    }
                }
                &_loginza {
                    background-position: -300px -20px;

                    &:hover,
                    .b-openID__list_provider-name_show & {
                        background-position: -300px 0px;
                    }
                }
                &_mailru {
                    background-position: -60px -20px;

                    &:hover,
                    .b-openID__list_provider-name_show & {
                        background-position: -60px 0px;
                    }
                }
                &_odnoklassniki {
                    background-position: -280px -20px;

                    &:hover,
                    .b-openID__list_provider-name_show & {
                        background-position: -280px 0px;
                    }
                }
                &_openid {
                    background-position: -180px -20px;

                    &:hover,
                    .b-openID__list_provider-name_show & {
                        background-position: -180px 0px;
                    }
                }
                &_twitter {
                    background-position: -120px -20px;

                    &:hover,
                    .b-openID__list_provider-name_show & {
                        background-position: -120px 0px;
                    }
                }
                &_vkontakte {
                    background-position: -40px -20px;

                    &:hover,
                    .b-openID__list_provider-name_show & {
                        background-position: -40px 0px;
                    }
                }
                &_yandex {
                    background-position: -140px -20px;

                    &:hover,
                    .b-openID__list_provider-name_show & {
                        background-position: -140px 0px;
                    }
                }
            }
        }

        &_style_three-columns {
            & .b-openID__list {
                margin-left: -23px;
            }
            & .b-openID__list-items-wrapper {
                padding: 0 10px 0 23px;
            }
        }

        &_provider-name_show {
            & .b-openID__list-link {
                padding-left: 20px;
                margin-bottom: 15px;
                position: relative;
            }
            & .b-openID__list-link-icon {
                position: absolute;
                top: 0px;
                left: 0px;
            }
        }
    }
    &__form {
        margin: 0px;
        padding: 0px;

        &-label {
            display: block;
            margin-bottom: 5px;
            cursor: pointer;
        }
        &-username-wrapper {
            margin-top: 13px;
            margin-bottom: 10px;
            text-align: center;

            @media (min-width: @auth-sm) {
                text-align: left;
            }
        }
        &-username {
            width: 100%;
            height: 50px;
            border: 1px solid #ccc;
            font-size: 22px;
            padding: 0 0 0 20px;
            box-sizing: border-box;

            @media (min-width: @auth-sm) {
                width: auto;
            }
        }
        &-username-prefix {
            margin-left: 2px;
        }
        &-buttons {
            text-align: right;
        }
        &-wpopup {
            max-width: 620px;
            padding: 0;

            .b-openID__list-link-icon {
                display: inline-block;
                margin-right: 3px;
                vertical-align: middle;

                &_name {
                    &_livejournal {
                        background-position: -20px 0px;
                    }
                    &_mailru {
                        background-position: -60px 0px;
                    }
                    &_openid {
                        background-position: -180px 0px;
                    }
                }
            }
        }
    }
}
