.b-icon {
    &_round {
        &_help {
            background-image: url('b-icon_round_help.svg');
            background-repeat: no-repeat;
            height: 14px;
            width: 14px;
        }
    }
}
