@import '~i-less/i-less';
.b-form-domain-choose__type {
    font: 12px @face;
    display: block;
    margin-bottom: 12px;
}
.b-form-domain-choose__type-input { position: relative; top: 2px; }
.b-form-domain-choose__tab {
    margin-bottom: 10px;
    font: 12px @face;
    padding: 32px 8px 22px 23px;
    border: 1px solid #E9E9E9;
    overflow: hidden;
    position: relative;
    z-index: 1;
    border-radius: 9px;
}
.b-form-domain-choose__tab-title { display: block; }
.b-form-domain-choose__tab-input-text { margin-top:5px; margin-bottom:5px; width: 700px; }
.b-form-domain-choose__tab-input-text_width_589 { width: 589px; margin-right: 10px; }
.b-form-domain-choose__tab-example { color: #808080; font-size: 12px; display: block; }
.b-form-domain-choose__offer {
    font: 12px @face;
    display: block;
}
