@import '~i-less/i-less';

.b-free-domain {
    &__name {
        float: left;
        max-width: 200px;
        color: #3574bb;
        font-size: @font-size-big;
        word-wrap: break-word;
    }

    &__price {
        display: flex;
        flex-direction: column;
        float: left;
    }

    &__price-range {
        border-radius: 5px;
        color: @color-text-invert;
        font-weight: 600;
        font-size: @font-size-normal;
        background-color: @color-bg-important;
    }

    &__user-bid {
        float: right;
        border: 4px solid @color-bg-important;
        border-radius: 4px;
        font-weight: 600;
        font-size: @font-size-normal;
    }

    &__cart {
        float: right;
        margin-top: 8px;
    }
}
