.b-icon {
    &_smile {
        &_bad {
            width: 96px;
            height: 96px;
            background-image: url('b-icon_smile_bad.svg');
            background-repeat: no-repeat;
        }

        &_good {
            width: 96px;
            height: 96px;
            background-image: url('b-icon_smile_good.svg');
            background-repeat: no-repeat;
        }
    }
}
