.b-tooltip,
.tooltip {
    cursor:help;
}
.b-tooltip.b-icon {
    margin-bottom: -3px;
}
a.b-tooltip[href],
a.b-tooltip[href] .b-tooltip,
a.tooltip[href],
a.tooltip[href] .tooltip {
    cursor:pointer;
}
