@import '~i-less/i-less';

.b-icon {
    &_moskva {
        &_megapolis,
        &_coordinates,
        &_kremlin,
        &_wide-choice {
            display: block;
            width: 100%;
            margin-bottom: @indent-h-large;
            background-position: center center;
            background-size: contain;
            background-repeat: no-repeat;

            .desktop({
                position: absolute;
                margin-bottom: inherit;
            });
        }

        &_megapolis {
            height: 180px;
            background-image: url('b-icon_moskva_megapolis.svg');

            .desktop({
                top: 76px;
                right: 44px;
                width: 410px;
            });
        }

        &_coordinates {
            height: 305px;
            background-image: url('b-icon_moskva_coordinates.svg');

            .desktop({
                top: 8px;
                left: 55px;
                width: 300px;
            });
        }

        &_kremlin {
            height: 260px;
            background-image: url('b-icon_moskva_kremlin.svg');

            .desktop({
                top: 67px;
                right: 25px;
                width: 407px;
            });
        }

        &_wide-choice {
            height: 310px;
            background-image: url('b-icon_moskva_wide-choice.svg');

            .desktop({
                top: -12px;
                left: -10px;
                width: 427px;
            });
        }
    }
}
