@import '~i-less/i-less';

.b-layout-column-2 {
    overflow: hidden;
}

.b-layout-column-2_overflow_visible {
    overflow: visible;
}
.b-layout-column-2_fill_left > .b-layout-column-2__right {
    float: right;
}
.b-layout-column-2_fill_left > .b-layout-column-2__left {
    overflow: hidden;
}
.b-layout-column-2_fill_right > .b-layout-column-2__left {
    float: left;
}
.b-layout-column-2_fill_right > .b-layout-column-2__right {
    overflow: hidden;
}
.b-layout-column-2_size_490-235 > .b-layout-column-2__left {
    float: left;
    width: 490px;
}
.b-layout-column-2_size_490-235 > .b-layout-column-2__right {
    float: right;
    width: 235px;
}
.b-layout-column-2_size_235-235 > .b-layout-column-2__left {
    float: left;
    width: 235px;
}
.b-layout-column-2_size_235-235 > .b-layout-column-2__right {
    float: right;
    width: 235px;
}
.b-layout-column-2_size_680-290 > .b-layout-column-2__left {
    float: left;
    width: 680px;
}
.b-layout-column-2_size_680-290 > .b-layout-column-2__right {
    float: right;
    width: 290px;
}
