div.b-pagination.b-pagination_style_table
  if self.prev
    a(class='b-pagination__link b-pagination__link_icon_previous', href='#prev')
      span.b-icon.b-icon_pagination_previous
      span.b-pagination__icon-label
        != self.prev
  - for (var page = 1; page <= self.pages; page++)
      a(class='b-pagination__link', href='##{page}')
        | #{page}
  if self.next
    a(class='b-pagination__link b-pagination__link_icon_next', href='#next')
      span.b-pagination__icon-wrapper
        span.b-pagination__icon-label
          != self.prev
        span.b-icon.b-icon_pagination_next
