select(class='b-dropdown', name='fake-period', id='ecwid-plan-period')
    each option, index in self.periods
        option(data-source = option.string, selected = option.selected, value = option.price, data-param_value = option.periodParam)

