.b-icon_account-shop {

    &_domains {
        background-image: url('b-icon_account-shop_domains.svg');
        .icon-style();
    }

    &_ssl {
        background-image: url('b-icon_account-shop_ssl.svg');
        .icon-style();
    }

    &_hosting {
        background-image: url('b-icon_account-shop_hosting.svg');
        .icon-style();
    }

    &_sitebuilders {
        background-image: url('b-icon_account-shop_sitebuilders.svg');
        .icon-style();
    }

    &_vps {
        background-image: url('b-icon_account-shop_vps.svg');
        .icon-style();
    }

    &_dedicated {
        background-image: url('b-icon_account-shop_dedicated.svg');
        .icon-style();
    }

    &_services {
        background-image: url('b-icon_account-shop_services.svg');
        .icon-style();
    }

    &_registration {
        background-image: url('b-icon_account-shop_registration.svg');
        .icon-style();
    }

    &_shop {
        background-image: url('b-icon_account-shop_shop.svg');
        .icon-style();
    }

    &_premium {
        background-image: url('b-icon_account-shop_premium.svg');
        .icon-style();
    }

    &_freeing {
        background-image: url('b-icon_account-shop_freeing.svg');
        .icon-style();
    }

    &_broker {
        background-image: url('b-icon_account-shop_broker.svg');
        .icon-style();
    }

    &_packages {
        background-image: url('b-icon_account-shop_packages.svg');
        .icon-style();
    }

    &_freessl {
        background-image: url('b-icon_account-shop_freessl.svg');
        .icon-style();
    }

    &_globalsign {
        background-image: url('b-icon_account-shop_globalsign.svg');
        .icon-style();
    }

    &_thawte {
        background-image: url('b-icon_account-shop_thawte.svg');
        .icon-style();
    }

    &_comodo {
        background-image: url('b-icon_account-shop_comodo.svg');
        .icon-style();
    }

    &_trustwave {
        background-image: url('b-icon_account-shop_trustwave.svg');
        .icon-style();
    }

    &_symantec {
        background-image: url('b-icon_account-shop_symantec.svg');
        .icon-style();
    }

    &_geotrust {
        background-image: url('b-icon_account-shop_geotrust.svg');
        .icon-style();
    }

    &_thawtecode {
        background-image: url('b-icon_account-shop_thawtecode.svg');
        .icon-style();
    }

    &_symanteccode {
        background-image: url('b-icon_account-shop_symanteccode.svg');
        .icon-style();
    }

    &_regconstructor {
        background-image: url('b-icon_account-shop_regconstructor.svg');
        .icon-style();
    }

    &_ecwid {
        background-image: url('b-icon_account-shop_ecwid.svg');
        .icon-style();
    }

    &_bitrix {
        background-image: url('b-icon_account-shop_bitrix.svg');
        .icon-style();
    }

    &_wordpress {
        background-image: url('b-icon_account-shop_wordpress.svg');
        .icon-style();
    }

    &_joomla {
        background-image: url('b-icon_account-shop_joomla.svg');
        .icon-style();
    }

    &_freeparking {
        background-image: url('b-icon_account-shop_freeparking.svg');
        .icon-style();
    }

    &_parking {
        background-image: url('b-icon_account-shop_parking.svg');
        .icon-style();
    }

    &_webforwarding {
        background-image: url('b-icon_account-shop_webforwarding.svg');
        .icon-style();
    }

    &_templatemonster {
        background-image: url('b-icon_account-shop_templatemonster.svg');
        .icon-style();
    }

    &_econom {
        background-image: url('b-icon_account-shop_econom.svg');
        .icon-style();
    }

    &_speedy {
        background-image: url('b-icon_account-shop_speedy.svg');
        .icon-style();
    }

    &_powerfull {
        background-image: url('b-icon_account-shop_powerfull.svg');
        .icon-style();
    }

    &_cloudy {
        background-image: url('b-icon_account-shop_cloudy.svg');
        .icon-style();
    }

    &_additionalip {
        background-image: url('b-icon_account-shop_additionalip.svg');
        .icon-style();
    }

    &_openvz {
        background-image: url('b-icon_account-shop_openvz.svg');
        .icon-style();
    }

    &_xen {
        background-image: url('b-icon_account-shop_xen.svg');
        .icon-style();
    }

    &_windowsvps {
        background-image: url('b-icon_account-shop_windowsvps.svg');
        .icon-style();
    }

    &_ispmanager {
        background-image: url('b-icon_account-shop_ispmanager.svg');
        .icon-style();
    }

    &_management {
        background-image: url('b-icon_account-shop_management.svg');
        .icon-style();
    }

    &_additionalspace {
        background-image: url('b-icon_account-shop_additionalspace.svg');
        .icon-style();
    }

    &_backups {
        background-image: url('b-icon_account-shop_backups.svg');
        .icon-style();
    }

    &_ready {
        background-image: url('b-icon_account-shop_ready.svg');
        .icon-style();
    }

    &_order {
        background-image: url('b-icon_account-shop_order.svg');
        .icon-style();
    }

    &_colocation {
        background-image: url('b-icon_account-shop_colocation.svg');
        .icon-style();
    }

    &_gsuite {
        background-image: url('b-icon_account-shop_gsuite.svg');
        .icon-style();
    }

    &_mailru {
        background-image: url('b-icon_account-shop_mailru.svg');
        .icon-style();
    }

    &_yandexmail {
        background-image: url('b-icon_account-shop_yandexmail.svg');
        .icon-style();
    }

    &_antispam {
        background-image: url('b-icon_account-shop_antispam.svg');
        .icon-style();
    }

    &_ddosprotection {
        background-image: url('b-icon_account-shop_ddosprotection.svg');
        .icon-style();
    }

    &_privateperson {
        background-image: url('b-icon_account-shop_privateperson.svg');
        .icon-style();
    }

    &_domainprotection {
        background-image: url('b-icon_account-shop_domainprotection.svg');
        .icon-style();
    }

    &_domainprotection {
        background-image: url('b-icon_account-shop_domainprotection.svg');
        .icon-style();
    }

    &_sitemonitor {
        background-image: url('b-icon_account-shop_sitemonitor.svg');
        .icon-style();
    }

    &_domainsmonitor {
        background-image: url('b-icon_account-shop_domainsmonitor.svg');
        .icon-style();
    }

    &_seowizard {
        background-image: url('b-icon_account-shop_seowizard.svg');
        .icon-style();
    }

    &_keywords {
        background-image: url('b-icon_account-shop_keywords.svg');
        .icon-style();
    }

    &_effect {
        background-image: url('b-icon_account-shop_effect.svg');
        .icon-style();
    }

    &_hostinghistory {
        background-image: url('b-icon_account-shop_hostinghistory.svg');
        .icon-style();
    }

    &_whoishistory {
        background-image: url('b-icon_account-shop_whoishistory.svg');
        .icon-style();
    }

    .icon-style() {
        display: inline-block;
        width: 65px;
        height: 72px;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
    }
}
