.b-icon {
    &_regpanel {
        &_10-50,
        &_10,
        &_browser-settings,
        &_browser-windows,
        &_card,
        &_clock,
        &_cross,
        &_edit,
        &_folder-planet,
        &_hosting,
        &_key,
        &_letter,
        &_lines-dots,
        &_lock,
        &_options,
        &_planet,
        &_printer,
        &_question,
        &_rent,
        &_reregru,
        &_search,
        &_settings,
        &_sign,
        &_star-plus,
        &_star,
        &_tm,
        &_users,
        &_vps,
        &_webmoney,
        &_windows {
            width: 70px;
            height: 70px;
            background-repeat: no-repeat;
        }

        &_10-50 {
            background-image: url('b-icon_regpanel_10-50.svg');
        }
        &_10 {
            background-image: url('b-icon_regpanel_10.svg');
        }
        &_browser-settings {
            background-image: url('b-icon_regpanel_browser-settings.svg');
        }
        &_browser-windows {
            background-image: url('b-icon_regpanel_browser-windows.svg');
        }
        &_card {
            background-image: url('b-icon_regpanel_card.svg');
        }
        &_clock {
            background-image: url('b-icon_regpanel_clock.svg');
        }
        &_cross {
            background-image: url('b-icon_regpanel_cross.svg');
        }
        &_edit {
            background-image: url('b-icon_regpanel_edit.svg');
        }
        &_folder-planet {
            background-image: url('b-icon_regpanel_folder-planet.svg');
        }
        &_hosting {
            background-image: url('b-icon_regpanel_hosting.svg');
        }
        &_key {
            background-image: url('b-icon_regpanel_key.svg');
        }
        &_letter {
            background-image: url('b-icon_regpanel_letter.svg');
        }
        &_lines-dots {
            background-image: url('b-icon_regpanel_lines-dots.svg');
        }
        &_lock {
            background-image: url('b-icon_regpanel_lock.svg');
        }
        &_options {
            background-image: url('b-icon_regpanel_options.svg');
        }
        &_planet {
            background-image: url('b-icon_regpanel_planet.svg');
        }
        &_printer {
            background-image: url('b-icon_regpanel_printer.svg');
        }
        &_question {
            background-image: url('b-icon_regpanel_question.svg');
        }
        &_rent {
            background-image: url('b-icon_regpanel_rent.svg');
        }
        &_reregru {
            background-image: url('b-icon_regpanel_reregru.svg');
        }
        &_search {
            background-image: url('b-icon_regpanel_search.svg');
        }
        &_settings {
            background-image: url('b-icon_regpanel_settings.svg');
        }
        &_sign {
            background-image: url('b-icon_regpanel_sign.svg');
        }
        &_star-plus {
            background-image: url('b-icon_regpanel_star-plus.svg');
        }
        &_star {
            background-image: url('b-icon_regpanel_star.svg');
        }
        &_tm {
            background-image: url('b-icon_regpanel_tm.svg');
        }
        &_users {
            background-image: url('b-icon_regpanel_users.svg');
        }
        &_vps {
            background-image: url('b-icon_regpanel_vps.svg');
        }
        &_webmoney {
            background-image: url('b-icon_regpanel_webmoney.svg');
        }
        &_windows {
            background-image: url('b-icon_regpanel_windows.svg');
        }

        &_300-services {
            background-image: url('b-icon_regpanel_300-services.svg');
            background-repeat: no-repeat;
            height: 290px;
            width: 371px;
        }

        &_always-free {
            background-image: url('b-icon_regpanel_always-free.svg');
            background-repeat: no-repeat;
            height: 172px;
            width: 172px;
        }
        &_special-tariffs {
            background-image: url('b-icon_regpanel_special-tariffs.svg');
            background-repeat: no-repeat;
            height: 172px;
            width: 172px;
        }
        &_service-domains {
            background-image: url('b-icon_regpanel_service-domains.svg');
            background-repeat: no-repeat;
            height: 19px;
            width: 19px;
        }
        &_service-hosting {
            background-image: url('b-icon_regpanel_service-hosting.svg');
            background-repeat: no-repeat;
            height: 20px;
            width: 21px;
        }
        &_service-mail {
            background-image: url('b-icon_regpanel_service-mail.svg');
            background-repeat: no-repeat;
            height: 16px;
            width: 22px;
        }
        &_quick-start {
            background-image: url('b-icon_regpanel_quick-start.svg');
            background-repeat: no-repeat;
            width: 71px;
            height: 71px;
        }
        &_full-integration {
            background-image: url('b-icon_regpanel_full-integration.svg');
            background-repeat: no-repeat;
            width: 56px;
            height: 63px;
        }
        &_finance-system {
            background-image: url('b-icon_regpanel_finance-system.svg');
            background-repeat: no-repeat;
            width: 58px;
            height: 58px;
        }
        &_own-net {
            background-image: url('b-icon_regpanel_own-net.svg');
            background-repeat: no-repeat;
            width: 65px;
            height: 60px;
        }
        &_stats-and-report {
            background-image: url('b-icon_regpanel_stats-and-report.svg');
            background-repeat: no-repeat;
            width: 64px;
            height: 65px;
        }
        &_own-plans {
            background-image: url('b-icon_regpanel_own-plans.svg');
            background-repeat: no-repeat;
            width: 58px;
            height: 58px;
        }
        &_imac {
            background-image: url('b-icon_regpanel_imac.svg');
            background-repeat: no-repeat;
            width: 230px;
            height: 210px;
        }
        &_regru-hosting {
            background-image: url('b-icon_regpanel_regru-hosting.svg');
            background-repeat: no-repeat;
            width: 169px;
            height: 149px;
        }
        &_download {
            background-image: url('b-icon_regpanel_download.svg');
            background-repeat: no-repeat;
            width: 169px;
            height: 156px;
        }
        &_idea-lamp {
            background-image: url('b-icon_regpanel_idea-lamp.svg');
            background-repeat: no-repeat;
            width: 23px;
            height: 39px;
        }
        &_green-bug {
            background-image: url('b-icon_regpanel_green-bug.svg');
            background-repeat: no-repeat;
            width: 20px;
            height: 17px;
        }
        &_function-main {
            background-image: url('b-icon_regpanel_function-main.svg');
            background-repeat: no-repeat;
            width: 84px;
            height: 78px;
        }
        &_function-addition {
            background-image: url('b-icon_regpanel_function-addition.svg');
            background-repeat: no-repeat;
            width: 73px;
            height: 61px;
        }
        &_function-finance {
            background-image: url('b-icon_regpanel_function-finance.svg');
            background-repeat: no-repeat;
            width: 73px;
            height: 73px;
        }
        &_function-control {
            background-image: url('b-icon_regpanel_function-control.svg');
            background-repeat: no-repeat;
            width: 60px;
            height: 79px;
        }
        &_function-administrator {
            background-image: url('b-icon_regpanel_function-administrator.svg');
            background-repeat: no-repeat;
            width: 69px;
            height: 83px;
        }
        &_support {
            width: 72px;
            height: 67px;
        }
    }
}
