@import '~i-less/i-less';

.b-html {
    @bl: ~".b-html";

    overflow-y: scroll;
    width: 100%;
    padding: 0;
    margin: 0;
}

img {
    border: 0 none;
}

a {
    color: @color-text;

    :hover {
        text-decoration: none;
    }
}

pre {
    overflow-x: auto;
}

* {
    outline: 0 none;
}

::placeholder & {
    color: #999;
}
