.b-icon {
    &_rub {
        &_moneybox {
            background-image: url('b-icon_rub_moneybox.svg');
            background-repeat: no-repeat;
            position: absolute;
            top: 16px;
            right: 150px;
            height: 400px;
            width: 278px;
        }

        &_rub-rate {
            background-image: url('b-icon_rub_rub-rate.svg');
            background-repeat: no-repeat;
            position: absolute;
            left: 92px;
            top: -18px;
            height: 348px;
            width: 284px;
        }

        &_love-rub {
            background-image: url('b-icon_rub_love-rub.svg');
            background-repeat: no-repeat;
            position: absolute;
            right: 62px;
            top: 18px;
            height: 333px;
            width: 357px;
        }
    }
}
