.b-icon {
    &_user-approval {

        &_done-round {
            background-image: url('b-icon_user-approval_done-round.svg');
            background-repeat: no-repeat;
            width: 30px;
            height: 30px;
        }

        &_locked {
            background-image: url('b-icon_user-approval_locked.svg');
            background-repeat: no-repeat;
            width: 24px;
            height: 32px;
        }
    }

}
