.b-icon_landing-promo {
    &_ssl,
    &_server {
        width: 130px;
        height: 105px;
        background-repeat: no-repeat;
        background-size: contain;
    }

    &_ssl {
        background-image: url('b-icon_landing-promo_ssl.svg');
    }

    &_server {
        background-image: url('b-icon_landing-promo_server.svg');
    }
}
