@import '~i-less/i-less';

.b-header {
    @bl: ~".b-header";

    position: fixed;
    top: 0;
    left: 0;
    z-index: 12;
    width: 100%;
    padding: 12px 0;
    background: @color-bg-menu;

    box-sizing: border-box;

    .desktop({
        position: static;
        padding: 30px 0 20px;
        background: transparent;
    });

    &__menu-toggle {
        background-image: url('b-header__menu-toggle.svg');
        background-repeat: no-repeat;
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        width: 32px;
        height: 36px;
        padding: 12px 18px;
        background-position: center;
        background-size: 32px 20px;
        cursor: pointer;

        .desktop({
            display: none;
        });
    }

    &__account-links-item {
        padding-left: 36px;
    }

    &__divider-horizontal {
        border-top: 1px solid @color-bg-default-darker;
        margin: 0 -20px 0 -20px;
    }
}
