.b-icon {
    &_reseller {
        &_banner {
            background-image: url('b-icon_reseller_banner.svg');
            background-repeat: no-repeat;
            width: 340px;
            height: 300px;
        }
    }
}
