.b-icon {
    &_domain-operations {
        &_choose-admin {
            background-image: url('b-icon_domain-operations_choose-admin.svg');
            background-repeat: no-repeat;
            height: 70px;
            width: 76px;
        }
        &_choose-registrar {
            background-image: url('b-icon_domain-operations_choose-registrar.svg');
            background-repeat: no-repeat;
            height: 63px;
            width: 77px;
        }
        &_choose-shop {
            background-image: url('b-icon_domain-operations_choose-shop.svg');
            background-repeat: no-repeat;
            height: 70px;
            width: 56px;
        }
    }
}
