.b-icon {
    &_pagination {
        &_previous {
            background-image: url('b-icon_pagination_previous.svg');
            background-repeat: no-repeat;
            height: 7px;
            width: 15px;
        }
        &_next {
            background-image: url('b-icon_pagination_next.svg');
            background-repeat: no-repeat;
            height: 7px;
            width: 15px;
        }
    }
}
