.b-icon {
    &_infographics-su_analytics {
        background-image: url('b-icon_infographics-su_analytics.svg');
        background-repeat: no-repeat;
    }
    &_infographics-su_apple {
        background-image: url('b-icon_infographics-su_apple.svg');
        background-repeat: no-repeat;
    }
    &_infographics-su_bootstrap {
        background-image: url('b-icon_infographics-su_bootstrap.svg');
        background-repeat: no-repeat;
    }
    &_infographics-su_charset {
        background-image: url('b-icon_infographics-su_charset.svg');
        background-repeat: no-repeat;
    }
    &_infographics-su_chrome {
        background-image: url('b-icon_infographics-su_chrome.svg');
        background-repeat: no-repeat;
    }
    &_infographics-su_doctype {
        background-image: url('b-icon_infographics-su_doctype.svg');
        background-repeat: no-repeat;
    }
    &_infographics-su_hands {
        background-image: url('b-icon_infographics-su_hands.svg');
        background-repeat: no-repeat;
    }
    &_infographics-su_joomla {
        background-image: url('b-icon_infographics-su_joomla.svg');
        background-repeat: no-repeat;
    }
    &_infographics-su_jquery {
        background-image: url('b-icon_infographics-su_jquery.svg');
        background-repeat: no-repeat;
    }
    &_infographics-su_linux {
        background-image: url('b-icon_infographics-su_linux.svg');
        background-repeat: no-repeat;
    }
}
