.b-share_monochrome {
    .b-share-icon_facebook {
        background-image: url('b-share-icon_facebook.svg') !important;
        background-repeat: no-repeat !important;
    }
    .b-share-icon_gplus {
        background-image: url('b-share-icon_gplus.svg') !important;
        background-repeat: no-repeat !important;
    }
    .b-share-icon_lj {
        background-image: url('b-share-icon_lj.svg') !important;
        background-repeat: no-repeat !important;
    }
    .b-share-icon_moimir {
        background-image: url('b-share-icon_moimir.svg') !important;
        background-repeat: no-repeat !important;
    }
    .b-share-form-button {
        background-image: url('b-share-form-button.svg') !important;
        background-repeat: no-repeat !important;
    }
    .b-share-icon_twitter {
        background-image: url('b-share-icon_twitter.svg') !important;
        background-repeat: no-repeat !important;
    }
    .b-share-icon_vkontakte {
        background-image: url('b-share-icon_vkontakte.svg') !important;
        background-repeat: no-repeat !important;
    }
}
