.b-icon {
    &_domain-renewal {
        &_header {
            background-image: url('b-icon_domain-renewal_header.svg');
            background-repeat: no-repeat;
            background-position: right top;
            height: 312px;
            display: block;
        }
        &_feature-freedns {
            background-image: url('b-icon_domain-renewal_feature-freedns.svg');
            background-repeat: no-repeat;
            width: 49px;
            height: 50px;
        }
        &_feature-premiumdns {
            background-image: url('b-icon_domain-renewal_feature-premiumdns.svg');
            background-repeat: no-repeat;
            width: 63px;
            height: 50px;
        }
        &_feature-alert {
            background-image: url('b-icon_domain-renewal_feature-alert.svg');
            background-repeat: no-repeat;
            width: 50px;
            height: 49px;
        }
        &_feature-privacy {
            background-image: url('b-icon_domain-renewal_feature-privacy.svg');
            background-repeat: no-repeat;
            width: 62px;
            height: 46px;
        }
        &_feature-priority {
            background-image: url('b-icon_domain-renewal_feature-priority.svg');
            background-repeat: no-repeat;
            width: 50px;
            height: 50px;
        }
        &_feature-docs {
            background-image: url('b-icon_domain-renewal_feature-docs.svg');
            background-repeat: no-repeat;
            width: 38px;
            height: 48px;
        }
    }
}
