.b-user-password {
    &__form {
        position: relative;
        z-index: 0;
        float: left;
    }

    &__wrap-old-pwd {
        position: relative;
    }

    &__field {
        width: 365px;
    }

    &__password-restore {
        position: absolute;
        top: 15px;
        right: 15px;
    }

    &__wrap-new-pwd {
        position: relative;

        .b-validate-inline {
            position: absolute;
            top: 13px;
            right: 10px;
        }
    }

    &__table {
        border-spacing: 0;
    }

    &__popover {
        margin-top: -40px;
    }
}
