.b-icon {
    &_mobile {
        &_adaptive {
            background-image: url('b-icon_mobile_adaptive.svg');
            background-repeat: no-repeat;
            width: 48px;
            height: 55px;
        }
    }

}
