.b-icon {
    &_service {
        &_consult {
            background-image: url('b-icon_service_consult.svg');
            background-repeat: no-repeat;
            width: 18px;
            height: 16px;
        }

        &_contract {
            background-image: url('b-icon_service_contract.svg');
            background-repeat: no-repeat;
            width: 16px;
            height: 19px;
        }

        &_docs {
            background-image: url('b-icon_service_docs.svg');
            background-repeat: no-repeat;
            width: 16px;
            height: 19px;
        }

        &_license {
            background-image: url('b-icon_service_license.svg');
            background-repeat: no-repeat;
            width: 23px;
            height: 23px;
        }

        &_payment {
            background-image: url('b-icon_service_payment.svg');
            background-repeat: no-repeat;
            width: 23px;
            height: 23px;
        }

        &_best-choice {
            background: url('b-hosting.png') no-repeat -260px -320px;
            width: 24px;
            height: 24px;
        }
    }
}
