.b-icon {
    &_cloud {
        &_sign {
            background-image: url('b-icon_cloud_sign.svg');
            background-repeat: no-repeat;
            width: 67px;
            height: 38px;
        }

    }
}
