.b-icon {
    &_style {
        &_cross-invert {
            background-image: url('b-icon_style_cross-invert.svg');
            background-repeat: no-repeat;
            height: 11px;
            width: 11px;
        }
    }
}
