.b-icon {
    &_style {
        &_filter {
            background-image: url('b-icon_style_filter.svg');
            background-repeat: no-repeat;
        }
        &_minus {
            background-image: url('b-icon_style_minus.svg');
            background-repeat: no-repeat;
        }
        &_plus-round-big {
            background-image: url('b-icon_style_plus-round-big.svg');
            background-repeat: no-repeat;
        }
        &_plus {
            background-image: url('b-icon_style_plus.svg');
            background-repeat: no-repeat;
        }

        //support/index
        &_skype,
        &_icq {
            background-repeat: no-repeat;
            height: 23px;
            width: 22px;
            vertical-align: middle;
        }
        &_skype {
            background-image: url('b-icon_style_skype.svg');
        }
        &_icq {
            background-image: url('b-icon_style_icq.svg');
        }
        &_help {
            background-image: url('b-icon_style_help.svg');
            background-repeat: no-repeat;
            height: 15px;
            width: 14px;
            margin: 0px 0px -3px 0px;
        }
        &_plus-round-small,
        &_minus-round-small {
            background-repeat: no-repeat;
            height: 22px;
            width: 22px;
            vertical-align: middle;
        }
        &_plus-round-small {
            background-image: url('b-icon_style_plus-round-small.svg');
        }
        &_minus-round-small {
            background-image: url('b-icon_style_minus-round-small.svg');
        }
        &_clock {
            background-image: url('b-icon_style_clock.svg');
            background-repeat: no-repeat;
            height: 23px;
            width: 22px;
            margin: -2px 0 0 5px;
            vertical-align: middle;
        }
        &_clock-white {
            background: url('b-icon_style_clock-white.svg') no-repeat;
            height: 13px;
            width: 13px;
        }
        //web-sites/index
        &_parallels {
            height: 47px;
            width: 116px;
        }
        &_gomobi {
            height: 35px;
            width: 126px;
        }
        &_siteupper {
            display: block;
            height: 46px;
            width: 126px;
        }
        //main
        &_rss {
            background-image: url('b-icon_style_rss.svg');
            background-repeat: no-repeat;
            height: 23px;
            width: 23px;
        }
        //global
        &_cross,
        &_cross-invert {
            &_size {

                &_big {
                    width: 40px;
                    height: 40px;
                    background-size: 40px;
                }
            }
        }
        // в shop/my_lots
        &_cross-red {
            background-image: url('b-icon_style_cross-red.svg');
            background-repeat: no-repeat;
            height: 11px;
            width: 11px;
        }
        &_cross-red-medium {
            background-image: url('b-icon_style_cross-red-medium.svg');
            background-repeat: no-repeat;
            height: 15px;
            width: 15px;
        }
        &_expand,
        &_collapse {
            background-repeat: no-repeat;
            height: 16px;
            width: 16px;
            vertical-align: middle;
        }
        &_expand {
            background-image: url('b-icon_style_expand.svg');
        }
        &_collapse {
            background-image: url('b-icon_style_collapse.svg');
        }
        &_done {
            background-image: url('b-icon_style_done.svg');
            background-repeat: no-repeat;
            height: 13px;
            width: 14px;
            vertical-align: middle;
        }
        &_done-medium {
            background-image: url('b-icon_style_done-medium.svg');
            background-repeat: no-repeat;
            height: 16px;
            width: 18px;
            vertical-align: middle;
        }
        &_done-round {
            background-image: url('b-icon_style_done-round.svg');
            background-repeat: no-repeat;
            height: 21px;
            width: 21px;
            vertical-align: middle;
        }
        &_link {
            width: 149px;
            height: 149px;
            background-image: url('b-icon_style_link.svg');
            background-repeat: no-repeat;
        }
    }
}
