.b-icon {
    &_style {
        &_unfold {
            background-image: url('b-icon_style_unfold.svg');
            background-repeat: no-repeat;
            height: 11px;
            width: 11px;
        }
    }
}
