.b-icon {
    &_ssl-informer {
        &_top-google{
            background-image: url('b-icon_ssl-informer_top-google.svg');
            background-repeat: no-repeat;
            height: 225px;
            width: 190px;
        }
        &_with-domain {
            background-image: url('b-icon_ssl-informer_with-domain.svg');
            background-repeat: no-repeat;
            // width: 308px;
            // height: 260px;
        }
    }
}
