.b-icon_hosting {
    &_openvz {
        background-image: url('b-icon_hosting_openvz.svg');
        background-repeat: no-repeat;
        height: 18px;
        width: 21px;
    }

    &_clock {
        background-image: url('b-icon_hosting_clock.svg');
        background-repeat: no-repeat;
        height: 20px;
        width: 21px;
    }

    &_label {
        background-image: url('b-icon_hosting_label.svg');
        background-repeat: no-repeat;
        height: 43px;
        width: 32px;
    }

    &_big-diagram {
        background-image: url('b-icon_hosting_big-diagram.svg');
        background-repeat: no-repeat;
        height: 32px;
        width: 36px;
    }

    &_big-clock {
        background-image: url('b-icon_hosting_big-clock.svg');
        background-repeat: no-repeat;
        height: 40px;
        width: 34px;
    }

    &_openvz-logo {
        background-image: url('b-icon_hosting_openvz-logo.svg');
        background-repeat: no-repeat;
        height: 32px;
        width: 127px;
    }

    &_reliable-inexpensive {
        background-image: url('b-icon_hosting_reliable-inexpensive.svg');
        background-repeat: no-repeat;
        height: 194px;
        width: 167px;
        top: 56px;
        left: 7px;
    }

    &_reliable-geo {
        background-image: url('b-icon_hosting_reliable-geo.svg');
        background-repeat: no-repeat;
        height: 226px;
        width: 234px;
        top: 21px;
        right: 48px;
    }

    &_reliable-support {
        background-image: url('b-icon_hosting_reliable-support.svg');
        background-repeat: no-repeat;
        height: 237px;
        width: 285px;
        top: 19px;
        left: 0;
    }

    &_reliable-speed {
        background-image: url('b-icon_hosting_reliable-speed.svg');
        background-repeat: no-repeat;
        height: 207px;
        width: 312px;
        top: 18px;
        right: 29px;
    }

    &_reliable-pay-for {
        background-image: url('b-icon_hosting_reliable-pay-for.svg');
        background-repeat: no-repeat;
        height: 249px;
        width: 290px;
        top: 41px;
        left: 11px;
    }

    &_moneyback {
        background-image: url('b-icon_hosting_moneyback.svg');
        background-repeat: no-repeat;
        height: 82px;
        width: 83px;
    }

    &_bonus {
        background-image: url('b-icon_hosting_bonus.svg');
        background-repeat: no-repeat;
        height: 82px;
        width: 83px;
    }

    &_two-months {
        background-image: url('b-icon_hosting_two-months.svg');
        background-repeat: no-repeat;
        height: 68px;
        width: 84px;
    }

    &_best-choice {
        background-image: url('b-icon_hosting_best-choice.svg');
        background-repeat: no-repeat;
        height: 30px;
        width: 30px;
    }

    &_ddos {
        background-image: url('b-icon_hosting_ddos.svg');
        background-repeat: no-repeat;
        height: 60px;
        width: 56px;
    }

    &_gift {
        background-image: url('b-icon_hosting_gift.svg');
        background-repeat: no-repeat;
        height: 19px;
        width: 19px;
    }

    &_virusdie {
        background-image: url('b-icon_hosting_virusdie.svg');
        background-repeat: no-repeat;
        height: 60px;
        width: 56px;
    }

    &_moneyback-button {
        background-image: url('b-icon_hosting_moneyback-button.svg');
        background-repeat: no-repeat;
        width: 60px;
        height: 53px;
    }

    &_bonus-button {
        background-image: url('b-icon_hosting_bonus-button.svg');
        background-repeat: no-repeat;
        width: 47px;
        height: 54px;
    }

    &_speed-boost {
        background-image: url('b-icon_hosting_speed-boost.svg');
        background-repeat: no-repeat;
        width: 150px;
        height: 60px;
    }

    &_vip-boost {
        background-image: url('b-icon_hosting_vip-boost.svg');
        background-repeat: no-repeat;
        width: 156px;
        height: 128px;
    }
}
