

.b-welcome-popup {

    &__window {
        left: 50%;
        top: 20%;
        display: block;
        width: 825px;
        margin-left: -412px;

        .b-popup__fade {
            display: block;
        }
        .b-popup__box {
            padding: 80px 65px;
            white-space: nowrap;
        }
        .b-text {
            display: block;
            margin: 0 0 5px;
        }
    }

    &__content {
        display: inline-block;
    }

    &_icon_hello {
        background-image: url('b-welcome-popup_icon_hello.svg');
        background-repeat: no-repeat;
        width: 172px;
        height: 172px;
        margin-right: 40px;
        display: inline-block;
        vertical-align: top;
    }

    &__btn {
        margin-top: 20px;
    }

}
