.b-icon_yakassa {
    &_connection {
        background-image: url('b-icon_yakassa_connection.svg');
        background-repeat: no-repeat;
        width: 51px;
        height: 51px;
    }

    &_cost {
        background-image: url('b-icon_yakassa_cost.svg');
        background-repeat: no-repeat;
        width: 61px;
        height: 55px;
    }

    &_advantages {
        background-image: url('b-icon_yakassa_advantages.svg');
        background-repeat: no-repeat;
        width: 46px;
        height: 48px;
    }

    &_customers {
        background-image: url('b-icon_yakassa_customers.svg');
        background-repeat: no-repeat;
        width: 82px;
        height: 51px;
    }
}
