div(class='b-popup-discount b-popup-discount_type_sites')
  table.b-popup-discount__table
    tbody
      tr.b-popup-discount__table-item
        td.b-popup-discount__table-cell
          !=t( 'bitrix_sites.ready_site' )
        td.b-popup-discount__table-cell.b-popup-discount__table-cell_type_price
          if self.ready_site.old_price && ( self.ready_site.old_price != self.ready_site.price )
            span.b-popup-discount__old-price
              !=locale.formatPrice( self.ready_site.old_price, true )
          !=locale.formatPrice( self.ready_site.price, true )
      tr.b-popup-discount__table-item
        td.b-popup-discount__table-cell
          !=t( 'bitrix_sites.license_text', { license: self.license.title } )
        td.b-popup-discount__table-cell.b-popup-discount__table-cell_type_price
          if self.license.old_price && ( self.license.old_price != self.license.price )
            span.b-popup-discount__old-price
              !=locale.formatPrice( self.license.old_price, true )
          !=locale.formatPrice( self.license.price, true )
      tr.b-popup-discount__table-item
        td.b-popup-discount__table-cell
          !=t( 'bitrix_sites.hosting', { plan: self.hosting.title } )
        td.b-popup-discount__table-cell.b-popup-discount__table-cell_type_price
          if self.hosting.old_price && ( self.hosting.old_price != self.hosting.price )
            span.b-popup-discount__old-price
              !=locale.formatPrice( self.hosting.old_price, true )
          - var hosting_price_text = +self.hosting.price ? locale.formatPrice( self.hosting.price, true ) : t( 'bitrix_sites.free' )
          !=hosting_price_text
    tfoot
      tr.b-popup-discount__table-item
        td.b-popup-discount__table-cell.b-popup-discount__table-cell_type_total
          !=t( 'bitrix_sites.total' )
        td.b-popup-discount__table-cell.b-popup-discount__table-cell_type_price.b-popup-discount__table-cell_type_total
          - var total_price = parseInt(self.ready_site.price) + parseInt(self.license.price) + parseInt(self.hosting.price)
          !=locale.formatPrice( total_price, true )

