.b-icon_vps {
    &_free-ssl {
        background-image: url('b-icon_vps_free-ssl.svg');
        background-repeat: no-repeat;
        height: 24px;
        width: 42px;
        vertical-align: middle;
    }

    &_ssd {
        background-image: url('b-icon_vps_ssd.svg');
        background-repeat: no-repeat;
        width: 26px;
        height: 25px;
    }

    &_centos {
        background-image: url('b-icon_vps_centos.svg');
        background-repeat: no-repeat;
        width: 28px;
        height: 28px;
        
        &_size_big {
            width: 48px;
            height: 48px;
            background-size: contain;
        }
    }

    &_debian {
        background-image: url('b-icon_vps_debian.svg');
        background-repeat: no-repeat;
        width: 19px;
        height: 24px;
    }

    &_ubuntu {
        background-image: url('b-icon_vps_ubuntu.svg');
        background-repeat: no-repeat;
        width: 24px;
        height: 24px;
    }
    &_isp {
        height: 26px;
        width: 26px;
    }
    &_hybrid {
        background-image: url('b-icon_vps_hybrid.svg');
        background-repeat: no-repeat;
        width: 35px;
        height: 25px;
    }
    &_ubuntu {
        background-image: url('b-icon_vps_ubuntu.svg');
        background-repeat: no-repeat;
        width: 24px;
        height: 24px;

        &_size_big {
            width: 48px;
            height: 48px;
            background-size: contain;
        }
    }
}
