.b-icon {
    &_wix {
        &_free {
            background-image: url('b-icon_wix_free.svg');
            background-repeat: no-repeat;
            position: absolute;
            top: 16px;
            left: 118px;
            height: 88px;
            width: 69px;
        }
        &_pro {
            background-image: url('b-icon_wix_pro.svg');
            background-repeat: no-repeat;
            position: absolute;
            top: 32px;
            left: 119px;
            height: 89px;
            width: 72px;
        }
        &_easy {
            background-image: url('b-icon_wix_easy.svg');
            background-repeat: no-repeat;
            position: absolute;
            top: 22px;
            left: 115px;
            height: 90px;
            width: 73px;
        }
        &_feature-html5 {
            background-image: url('b-icon_wix_feature-html5.svg');
            background-repeat: no-repeat;
            width: 60px;
        }
        &_feature-ecommerce {
            background-image: url('b-icon_wix_feature-ecommerce.svg');
            background-repeat: no-repeat;
            width: 60px;
        }
        &_feature-mobile {
            background-image: url('b-icon_wix_feature-mobile.svg');
            background-repeat: no-repeat;
            width: 90px;
        }
        &_feature-hosting {
            background-image: url('b-icon_wix_feature-hosting.svg');
            background-repeat: no-repeat;
            width: 70px;
        }
        &_feature-social {
            background-image: url('b-icon_wix_feature-social.svg');
            background-repeat: no-repeat;
            width: 60px;
        }
        &_feature-seo {
            background-image: url('b-icon_wix_feature-seo.svg');
            background-repeat: no-repeat;
            width: 60px;
        }
        &_logo {
            background-image: url('b-icon_wix_logo.svg');
            background-repeat: no-repeat;
            position: absolute;
            top: 57px;
            left: 0px;
            height: 60px;
            width: 212px;
        }
    }
}
