.b-icon {
    &_leads-ru {
        &_badge {
            background-image: url('b-icon_leads-ru_badge.svg');
            background-repeat: no-repeat;
            height: 63px;
            width: 51px;
        }
        &_rusign {
            background-image: url('b-icon_leads-ru_rusign.svg');
            background-repeat: no-repeat;
            height: 45px;
            width: 86px;
        }
        &_shield {
            background-image: url('b-icon_leads-ru_shield.svg');
            background-repeat: no-repeat;
            height: 55px;
            width: 50px;
        }
    }
}
