.b-icon_account-settings {
    &_email {
        background-image: url('b-icon_account-settings_email.svg');
        .icon-style();
    }

    &_phone {
        background-image: url('b-icon_account-settings_phone.svg');
        .icon-style();
    }

    &_security {
        background-image: url('b-icon_account-settings_security.svg');
        .icon-style();
    }

    &_info {
        background-image: url('b-icon_account-settings_info.svg');
        .icon-style();
    }

    &_authorization {
        background-image: url('b-icon_account-settings_authorization.svg');
        .icon-style();
    }

    &_password {
        background-image: url('b-icon_account-settings_password.svg');
        .icon-style();
    }

    &_double-factor {
        background-image: url('b-icon_account-settings_double-factor.svg');
        .icon-style();
    }

    &_contacts {
        background-image: url('b-icon_account-settings_contacts.svg');
        .icon-style();
    }

    .icon-style() {
        display: inline-block;
        position: relative;
        width: 36px;
        height: 40px;
        background-position: 50%;
        background-repeat: no-repeat;
    }
}
