@import '~i-variables/i-variables';
@import '~i-less/i-less';

.b-screenshot {
    display: block;
    background: #efefef;
    padding: 24px;
    margin: 24px 0;
    max-width: 100%;

    &__image {
        display: block;
        text-align: center;
    }

    &__image img {
        max-width: 100%;
    }

    &__label {
        display: block;
        margin: 24px 0 0;
        font: normal 15px/24px @face;
        text-align: center;
    }
}

.ie9 {
    .b-screenshot__image img {
        width: 100%;
    }
}
