.b-icon_account-services {
    &_default {
        background-image: url('b-icon_account-services_default.svg');
        .icon-style();
    }

    &_domain {
        background-image: url('b-icon_account-services_domain.svg');
        .icon-style();
    }

    &_hosting {
        background-image: url('b-icon_account-services_hosting.svg');
        .icon-style();
    }

    &_ssl {
        background-image: url('b-icon_account-services_ssl.svg');
        .icon-style();
    }

    &_vps {
        background-image: url('b-icon_account-services_vps.svg');
        .icon-style();
    }

    &_google-apps {
        background-image: url('b-icon_account-services_google-apps.svg');
        .icon-style();
    }

    &_dedicated {
        background-image: url('b-icon_account-services_dedicated.svg');
        .icon-style();
    }

    &_parking {
        background-image: url('b-icon_account-services_parking.svg');
        .icon-style();
    }

    &_parking-free {
        background-image: url('b-icon_account-services_parking-free.svg');
        .icon-style();
    }

    &_ecwid {
        background-image: url('b-icon_account-services_ecwid.svg');
        .icon-style();
    }

    &_rs-wordpress {
        background-image: url('b-icon_account-services_rs-wordpress.svg');
        .icon-style();
    }

    &_rs-joomla {
        background-image: url('b-icon_account-services_rs-joomla.svg');
        .icon-style();
    }

    &_mail-yandex {
        background-image: url('b-icon_account-services_mail-yandex.svg');
        .icon-style();
    }

    .icon-style() {
        display: inline-block;
        position: absolute;
        width: 36px;
        height: 36px;
        border-radius: 50%;
        background-color: #06c98c;
        background-position: 50%;
        background-size: 68%;
        background-repeat: no-repeat;
    }
}
