.b-icon {
    &_infographics-rf_analytics {
        background-image: url('b-icon_infographics-rf_analytics.svg');
        background-repeat: no-repeat;
    }
    &_infographics-rf_apple {
        background-image: url('b-icon_infographics-rf_apple.svg');
        background-repeat: no-repeat;
    }
    &_infographics-rf_bootstrap {
        background-image: url('b-icon_infographics-rf_bootstrap.svg');
        background-repeat: no-repeat;
    }
    &_infographics-rf_charset {
        background-image: url('b-icon_infographics-rf_charset.svg');
        background-repeat: no-repeat;
    }
    &_infographics-rf_chrome {
        background-image: url('b-icon_infographics-rf_chrome.svg');
        background-repeat: no-repeat;
    }
    &_infographics-rf_doctype {
        background-image: url('b-icon_infographics-rf_doctype.svg');
        background-repeat: no-repeat;
    }
    &_infographics-rf_freebsd {
        background-image: url('b-icon_infographics-rf_freebsd.svg');
        background-repeat: no-repeat;
    }
    &_infographics-rf_hands {
        background-image: url('b-icon_infographics-rf_hands.svg');
        background-repeat: no-repeat;
    }
    &_infographics-rf_joomla {
        background-image: url('b-icon_infographics-rf_joomla.svg');
        background-repeat: no-repeat;
    }
    &_infographics-rf_jquery {
        background-image: url('b-icon_infographics-rf_jquery.svg');
        background-repeat: no-repeat;
    }
}
