.b-bg {
    &_parking-slider {
        &_cms,
        &_emails,
        &_web-sites {
            background-repeat: no-repeat;
            background-position: bottom right;
        }
        &_cms {
            background-image: url('b-bg_parking-slider_cms.svg');
        }
        &_emails {
            background-image: url('b-bg_parking-slider_emails.svg');
        }
        &_web-sites {
            background-image: url('b-bg_parking-slider_web-sites.svg');
        }
    }
}
