.b-validate-inline {
    &_status_error {
        background-image: url('b-validate-inline_status_error.svg');
        background-repeat: no-repeat;
        width: 21px;
        height: 21px;
    }
    &_status_ok {
        background-image: url('b-validate-inline_status_ok.svg');
        background-repeat: no-repeat;
        width: 21px;
        height: 21px;
    }
}
