.b-icon {
    &_domain-service-manager {
        &_big {
            background-image: url('b-icon_domain-service-manager_big.svg');
            background-repeat: no-repeat;
            // width: 270px;
            // height: 194px;
            width: 30%;
            height: 100%;
            background-size: auto 100%;
            background-position: 100% 0;
            .b-infoblock & {
                bottom: 0 !important;
            }
        }
    }
}
