.b-icon {
    &_domain-service-manager {
        &_stripe {
            background-image: url('b-icon_domain-service-manager_stripe.svg');
            background-repeat: no-repeat;
            position: absolute;
            right: 0;
            top: 0;
            width: 133px;
            height: 96px;
        }
    }
}
