.b-icon {
    &_free-mail {
        &_free-mail {
            background-image: url('b-icon_free-mail_free-mail.svg');
            background-repeat: no-repeat;
        }
        &_logo-yandex-mail {
            background-image: url('b-icon_free-mail_logo-yandex-mail.svg');
            background-repeat: no-repeat;
            background-color: #ffcd00;
        }
        &_logo-mailru {
            background-image: url('b-icon_free-mail_logo-mailru.svg');
            background-repeat: no-repeat;
            background-color: #168de2;
        }
        &_calendar {
            background-image: url('b-icon_free-mail_calendar.svg');
            background-repeat: no-repeat;
        }
        &_cloud-storage {
            background-image: url('b-icon_free-mail_cloud-storage.svg');
            background-repeat: no-repeat;
        }
        &_diamond {
            background-image: url('b-icon_free-mail_diamond.svg');
            background-repeat: no-repeat;
        }
        &_infiniti-size {
            background-image: url('b-icon_free-mail_infiniti-size.svg');
            background-repeat: no-repeat;
        }
        &_mail-agent {
            background-image: url('b-icon_free-mail_mail-agent.svg');
            background-repeat: no-repeat;
        }
        &_mail-box {
            background-image: url('b-icon_free-mail_mail-box.svg');
            background-repeat: no-repeat;
        }
        &_mobile-with-ipad {
            background-image: url('b-icon_free-mail_mobile-with-ipad.svg');
            background-repeat: no-repeat;
        }
        &_mobile {
            background-image: url('b-icon_free-mail_mobile.svg');
            background-repeat: no-repeat;
        }
        &_multi-autorize {
            background-image: url('b-icon_free-mail_multi-autorize.svg');
            background-repeat: no-repeat;
        }
        &_online-editor {
            background-image: url('b-icon_free-mail_online-editor.svg');
            background-repeat: no-repeat;
        }
        &_ux {
            background-image: url('b-icon_free-mail_ux.svg');
            background-repeat: no-repeat;
        }
        &_company {
            background-image: url('b-icon_free-mail_company.svg');
            background-repeat: no-repeat;
        }
    }
}
