@import '~i-less/i-less';

.b-steps {
    overflow: hidden;
    padding: 0 0 0 15px;
    margin-top: 0;
    margin-bottom: 20px;
    margin-left: 0;
    list-style-type: none;

    &__item-wrapper {
        float: left;
        overflow: hidden;
        margin-left: -15px;
    }

    &__item {
        position: relative;
        float: left;
        height: 28px;
        padding-right: 15px;
        font: 12px/28px @face;
        font-weight: normal;
        cursor: default;
    }

    &__item_state_prev {
        color: #163759;
        cursor: pointer;
    }

    &__item_state_hold {
        color: #163759;
        cursor: pointer;
    }

    &__item_style_fake {
        cursor: default;
    }

    &__item_state_current {
        color: #000;
        font-weight: bold;
        text-decoration: none;
    }

    &__item_state_next {
        color: #555;
    }

    &__item-arrow {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        z-index: 7;
        border-width: 14px 0 14px 6px;
        border-style: solid;
        border-color: transparent transparent transparent #e2e2e2;
    }

    &__item-arrow:before {
        position: absolute;
        top: -14px;
        left: -15px;
        width: 9px;
        height: 28px;
        content: '';
        background: #d4d4d4;
        background: linear-gradient( to top, #d4d4d4, #ececec );
    }

    &__item_state_prev &__item-arrow {
        border-color: transparent transparent transparent #dceaf3;
    }

    &__item_state_prev &__item-arrow:before {
        background: #d3e3ed;
        background: linear-gradient( to top, #d3e3ed, #f8f4ff );
    }

    &__item-text {
        float: left;
        height: 28px;
        padding-left: 25px;
        background: #d4d4d4; /* для старых браузеров */
        background: linear-gradient( to top, #d4d4d4, #ececec );
    }

    &__item_state_prev &__item-text {
        text-decoration: underline;
        background: #d3e3ed;
        background: linear-gradient( to top, #d3e3ed, #f8f4ff );
    }

    &__item_state_prev:hover &__item-text {
        text-decoration: none;
    }

    &__item-wrapper:first-child &__item-text {
        padding-left: 10px;
        border-radius: 5px 0 0 5px;
    }

    &__item_style_fake &__item-text {
        text-decoration: none;
    }
}
