@import '~i-less/i-less';

.b-table-periods {
    width: 100%;
    border: 0 none;
    border-spacing: 0;
    border-collapse: collapse;

    &__title {
        padding-bottom: 8px;
        color: #000;
        font: 16px/13px @face;
        font-weight: bold;
        vertical-align: top;
        text-align: left;
        white-space: nowrap !important;
    }

    &__title_width_505 {
        width: 505px;
    }

    &__cell {
        padding: 5px 0 4px 0;
        border-right: 5px solid #fff;
        background: white url('b-table-periods__cell.gif') repeat-x 0 center;
    }

    &__cell_size_switcher {
        width: 150px !important;
        border-right: 0 none;
        background: none;
    }

    &__cell_size_dropdown {
        width: 295px;
        max-width: 295px;
    }

    &__cell_size_rubber {
        width: 7%;
    }

    &__cell_size_separator {
        width: 10px !important;
        min-width: 10px !important;
    }

    &__cell_background_none {
        font: 16px @face;
        background: none;
    }

    &__switcher-title {
        display: inline-block;
        padding: 0 14px 0 7px;
        font: bold 12px/20px @face;
        vertical-align: top;
    }

    &__srv-name {
        display: inline-block;
        position: relative;
        padding: 0 5px 0 22px;
        color: #00487f;
        font: 20px/13px @face;
        white-space: nowrap;
        background-color: #fff;
    }

    &__srv-name_srv_dedicated {
        padding-left: 0;
    }

    &__srv-name_srv_bitrix {
        padding-left: 0;
    }

    &__srv-name-desc {
        color: #555;
        font: 12px/13px @face;
    }

    &__srv-icon {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 15px;
        height: 15px;
        background-color: #fff;
        background-image: url('b-table-periods__srv-icon.png');
        background-repeat: no-repeat;
    }

    &__srv-icon_srv_hosting {
        background-position: 0 -20px;
    }

    &__srv-icon_srv_vps {
        background-position: 0 -40px;
    }

    &__srv-icon_srv_dedicated {
        display: none;
    }

    &__srv-icon_srv_domain {
        background-position: 0 0;
    }

    &__srv-icon_srv_bitrix {
        top: 6px;
    }

    &__title .b-switcher__group-label {
        vertical-align: top;
        white-space: nowrap !important;
    }

    &__title .b-switcher__group-checkbox {
        float: left;
        padding: 0;
        margin: 0 7px 0 2px;
    }

    &__dropdown {
        width: 229px !important;
        height: 22px !important;
    }

    &__text {
        padding: 7px;
        font: 12px/13px @face;
        background: #fff;
    }
}
