@import '~i-less/i-less';

.l-hidden {
    display: none;

    &\@mobile {
        .is_adaptive & {
            @media @mobile {
                display: none !important;
            }
        }
    }

    &\@desktop {
        @media @desktop {
            display: none !important;
        }

        html:not(.is_adaptive) & {
            display: none !important;
        }
    }
}
