@import '~i-less/i-less';

.b-icon {
    &_paytypes {
        &_alfacard,
        &_alfaclick-paybyclick,
        &_bank,
        &_bindings,
        &_cash,
        &_cards,
        &_euroset,
        &_handybank,
        &_osmp,
        &_osmp-mobile,
        &_osmp-purse,
        &_paypal,
        &_pbank,
        &_bankforeign,
        &_prepay,
        &_rbkmoney,
        &_rapida,
        &_robox,
        &_sbank-online,
        &_WM,
        &_WMbill,
        &_yamoney {
            width: 82px;
            height: 60px;
            background-position: center;
            background-size: cover;

            .desktop({
                width: 98px;
                height: 120px;
                background-size: contain;
            });
        }

        &_robox {
            .desktop({
                background-size: auto;
            });
        }

        &_cards {
            height: 98px;
            background-image: url('b-icon_paytypes_cards.svg');
            background-repeat: no-repeat;

            .desktop({
                margin-top: 36px;
            });
        }

        &_yamoney {
            background-image: url('b-icon_paytypes_yamoney.svg');
            background-repeat: no-repeat;
        }

        &_alfacard {
            background-image: url('b-icon_paytypes_alfacard.svg');
            background-repeat: no-repeat;
        }

        &_alfaclick-paybyclick {
            background-image: url('b-icon_paytypes_alfaclick-paybyclick.svg');
            background-repeat: no-repeat;
        }

        &_bank {
            background-image: url('b-icon_paytypes_bank.svg');
            background-repeat: no-repeat;
        }

        &_bindings {
            background-image: url('b-icon_paytypes_bindings.svg');
            background-repeat: no-repeat;
        }

        &_cash {
            background-image: url('b-icon_paytypes_cash.svg');
            background-repeat: no-repeat;
        }

        &_euroset {
            background-image: url('b-icon_paytypes_euroset.svg');
            background-repeat: no-repeat;
        }

        &_handybank {
            background-image: url('b-icon_paytypes_handybank.svg');
            background-repeat: no-repeat;
        }

        &_osmp {
            background-image: url('b-icon_paytypes_osmp.svg');
            background-repeat: no-repeat;
        }

        &_osmp-mobile {
            background-image: url('b-icon_paytypes_osmp-mobile.svg');
            background-repeat: no-repeat;
        }

        &_osmp-purse {
            background-image: url('b-icon_paytypes_osmp-purse.svg');
            background-repeat: no-repeat;
        }

        &_paypal {
            background-image: url('b-icon_paytypes_paypal.svg');
            background-repeat: no-repeat;
        }

        &_pbank {
            background-image: url('b-icon_paytypes_pbank.svg');
            background-repeat: no-repeat;
        }

        &_bankforeign {
            background-image: url('b-icon_paytypes_bankforeign.svg');
            background-repeat: no-repeat;
        }

        &_prepay {
            background-image: url('b-icon_paytypes_prepay.svg');
            background-repeat: no-repeat;
        }

        &_rapida {
            background-image: url('b-icon_paytypes_rapida.svg');
            background-repeat: no-repeat;
        }

        &_rbkmoney {
            background-image: url('b-icon_paytypes_rbkmoney.svg');
            background-repeat: no-repeat;
        }

        &_robox {
            background-image: url('b-icon_paytypes_robox.svg');
            background-size: auto;
            background-repeat: no-repeat;
        }

        &_sbank-online {
            background-image: url('b-icon_paytypes_sbank-online.svg');
            background-repeat: no-repeat;
        }

        &_WM {
            background-image: url('b-icon_paytypes_WM.svg');
            background-repeat: no-repeat;
        }

        &_WMbill {
            background-image: url('b-icon_paytypes_WMbill.svg');
            background-repeat: no-repeat;
        }
    }
}
