@import '~i-less/i-less';

.b-socialnets {
    @bl: ~".b-socialnets";

    position: relative;
    overflow: hidden;
    margin: 10px 0 12px 0;

    &__link {
        float: left;
        width: 30px;
        height: 30px;
        margin: 0 8px 8px 0;
        text-decoration: none;
        background-size: 30px;

        .desktop({
            width: 25px;
            height: 25px;
            background-size: 25px;
        });
    }

    &_style {
        &_big {
            position: relative;
            text-align: center;

            & @{bl}__link {
                display: inline-block;
                float: none;
                width: 35px;
                height: 35px;
                margin-right: 8px;
                text-decoration: none;
                background-size: 35px;

                .desktop({
                    width: 71px;
                    height: 71px;
                    background-size: 71px;
                });
            }
        }
    }

    &__link:hover {
        text-decoration: none;
    }
}
