.b-icon {
    &_vertical {

        &_recommended {
            background-image: url('b-icon_vertical_recommended.svg');
            background-repeat: no-repeat;
            width: 16px;
            height: 72px;
            vertical-align: middle;
        }
    }
}
