.b-icon_cloud-vps {
    &_panel {
        width: 36px;
        height: 40px;
        background-image: url('b-icon_cloud-vps_panel.svg');
        .icon-style();
    }

    &_api {
        width: 48px;
        height: 46px;
        background-image: url('b-icon_cloud-vps_api.svg');
        .icon-style();
    }

    &_node {
        width: 24px;
        height: 24px;
        background-image: url('b-icon_cloud-vps_node.svg');
        .icon-style();
    }

    &_rouble {
        width: 48px;
        height: 48px;
        background-image: url('b-icon_cloud-vps_rouble.svg');
        .icon-style();
    }

    &_snapshots {
        width: 48px;
        height: 40px;
        background-image: url('b-icon_cloud-vps_snapshots.svg');
        .icon-style();
    }

    &_templates {
        width: 48px;
        height: 48px;
        background-image: url('b-icon_cloud-vps_templates.svg');
        .icon-style();
    }

    .icon-style() {
        display: inline-block;
        background-repeat: no-repeat;
    }
}
