@import '~i-less/i-less';

.b-header {
    &__logo {
        background-repeat: no-repeat;
        position: relative;
        float: left;
        cursor: pointer;

        &-mobile {
            background-image: url('b-header__logo-mobile.svg');
            width: 74px;
            height: 36px;
            -o-background-size: 74px 36px;
            -webkit-background-size: 74px 36px;
            background-size: 74px 36px;
        }

        .desktop({
            top: -9px;
            left: -4px;
        });

        &_site_ru,
        &_site_ua {
            display: inline-block;
            width: auto;

            .desktop({
                width: 127px;
            });
        }

        .no-svg &_site_ua {
            background-image: url('b-header__logo_site_ua.png');
        }
        .no-svg &_site_ru {
            background-image: url('b-header__logo_site_ru.png');
        }
        .no-svg &_site_com {
            background-image: url('b-header__logo_site_en.png');
        }

        &-wrapper {
            width: auto;
            padding: 0 18px;

            .desktop({
                width: 230px;
                height: 60px;
                padding-left: 0;
            });

            & .b-icon {
                display: none;

                .desktop({
                    display: inline-block;
                });
            }
        }

        &-img {
            display: block;
            width: 112px;
            height: auto;
            border: 0 none;

            .desktop({
                width: auto;
                height: auto;
            });

            .no-svg & {
                opacity: 0;
            }
        }
    }
}
