.b-icon {
    &_company-promotions {
        &_skidki {
            background-image: url('b-icon_company-promotions_skidki.svg');
            background-repeat: no-repeat;
            width: 234px;
            height: 315px;
        }
    }
}
