.b-icon {
    &_effect {
        &_chat {
            background-image: url('b-icon_effect_chat.svg');
            background-repeat: no-repeat;
            width: 95px;
            height: 80px;
        }

        &_callback-big {
            background-image: url('b-icon_effect_callback-big.svg');
            background-repeat: no-repeat;
            width: 90px;
            height: 90px;
        }

        &_visitors {
            background-image: url('b-icon_effect_visitors.svg');
            background-repeat: no-repeat;
            width: 97px;
            height: 92px;
        }

        &_conversation {
            background-image: url('b-icon_effect_conversation.svg');
            background-repeat: no-repeat;
            width: 61px;
            height: 58px;
        }

        &_cookies {
            background-image: url('b-icon_effect_cookies.svg');
            background-repeat: no-repeat;
            width: 66px;
            height: 65px;
        }

        &_data {
            background-image: url('b-icon_effect_data.svg');
            background-repeat: no-repeat;
            width: 66px;
            height: 54px;
        }

        &_store-data {
            background-image: url('b-icon_effect_store-data.svg');
            background-repeat: no-repeat;
            width: 81px;
            height: 62px;
        }

        &_law {
            background-image: url('b-icon_effect_law.svg');
            background-repeat: no-repeat;
            width: 54px;
            height: 65px;
        }

        &_segments {
            background-image: url('b-icon_effect_segments.svg');
            background-repeat: no-repeat;
            width: 64px;
            height: 64px;
        }

        &_target-data {
            background-image: url('b-icon_effect_target-data.svg');
            background-repeat: no-repeat;
            width: 64px;
            height: 64px;
        }

        &_rating {
            background-image: url('b-icon_effect_rating.svg');
            background-repeat: no-repeat;
            width: 65px;
            height: 65px;
        }

        &_crm {
            background-image: url('b-icon_effect_crm.svg');
            background-repeat: no-repeat;
            width: 62px;
            height: 62px;
        }

        &_transfer {
            background-image: url('b-icon_effect_transfer.svg');
            background-repeat: no-repeat;
            width: 75px;
            height: 64px;
        }

        &_client-data {
            background-image: url('b-icon_effect_client-data.svg');
            background-repeat: no-repeat;
            width: 75px;
            height: 70px;
        }

        &_behaviour {
            background-image: url('b-icon_effect_behaviour.svg');
            background-repeat: no-repeat;
            width: 75px;
            height: 64px;
        }

        &_users,
        &_operator,
        &_website,
        &_callback,
        &_users-orange,
        &_operator-orange,
        &_website-orange,
        &_callback-orange,
        &_users-red,
        &_operator-red,
        &_website-red,
        &_callback-red {
            width: 34px;
            height: 34px;
        }

        &_users {
            background-image: url('b-icon_effect_users.svg');
            background-repeat: no-repeat;
        }

        &_operator {
            background-image: url('b-icon_effect_operator.svg');
            background-repeat: no-repeat;
        }

        &_website {
            background-image: url('b-icon_effect_website.svg');
            background-repeat: no-repeat;
        }

        &_callback {
            background-image: url('b-icon_effect_callback.svg');
            background-repeat: no-repeat;
        }

        &_users-orange {
            background-image: url('b-icon_effect_users-orange.svg');
            background-repeat: no-repeat;
        }

        &_operator-orange {
            background-image: url('b-icon_effect_operator-orange.svg');
            background-repeat: no-repeat;
        }

        &_website-orange {
            background-image: url('b-icon_effect_website-orange.svg');
            background-repeat: no-repeat;
        }

        &_callback-orange {
            background-image: url('b-icon_effect_callback-orange.svg');
            background-repeat: no-repeat;
        }

        &_users-red {
            background-image: url('b-icon_effect_users-red.svg');
            background-repeat: no-repeat;
        }

        &_operator-red {
            background-image: url('b-icon_effect_operator-red.svg');
            background-repeat: no-repeat;
        }

        &_website-red {
            background-image: url('b-icon_effect_website-red.svg');
            background-repeat: no-repeat;
        }

        &_callback-red {
            background-image: url('b-icon_effect_callback-red.svg');
            background-repeat: no-repeat;
        }
    }
}

