.b-icon {
    &_user-reminder_contacts {
        background-image: url('b-icon_user-reminder_contacts.svg');
        background-repeat: no-repeat;
    }
    &_user-reminder_email {
        background-image: url('b-icon_user-reminder_email.svg');
        background-repeat: no-repeat;
    }
    &_user-reminder_mobile {
        background-image: url('b-icon_user-reminder_mobile.svg');
        background-repeat: no-repeat;
    }
    &_user-reminder_secret-word {
        background-image: url('b-icon_user-reminder_secret-word.svg');
        background-repeat: no-repeat;
    }
}
