@import '~i-less/i-less';

.b-icon {
    &_domain {
        &_ru99,
        &_rf-bday,
        &_com73,
        &_com-plus-hosting,
        &_com-plus-websitebuilder,
        &_com-plus-ssl,
        &_com-plus-rus {
            .desktop({
                position: absolute;
                top: 0;
            });
        }

        &_package,
        &_com73,
        &_com-plus-hosting,
        &_com-plus-websitebuilder,
        &_com-plus-ssl,
        &_com-plus-rus {
            width: 100%;
            max-width: 320px;
        }

        &_package {
            width: 100%;
            height: 231px;
            background-image: url('b-icon_domain_package.svg');
            background-repeat: no-repeat;

            .desktop({
                width: 324px;
            });
        }

        &_package-small {
            width: 99px;
            height: 78px;
            background-image: url('b-icon_domain_package-small.svg');
            background-repeat: no-repeat;
        }

        &_ru99 {
            left: 20px;
            width: 83px;
            height: 60px;
            background-image: url('b-icon_domain_ru99.svg');
            background-repeat: no-repeat;
        }

        &_rf-bday {
            left: 20px;
            width: 83px;
            height: 60px;
            background-image: url('b-icon_domain_rf-bday.svg');
            background-repeat: no-repeat;
        }

        &_com73 {
            left: 0;
            height: 120px;
            background-image: url('b-icon_domain_com73.svg');
            background-repeat: no-repeat;
        }

        &_com-plus-hosting {
            left: 0;
            height: 120px;
            background-image: url('b-icon_domain_com-plus-hosting.svg');
            background-repeat: no-repeat;
        }

        &_com-plus-websitebuilder {
            left: 0;
            height: 120px;
            background-image: url('b-icon_domain_com-plus-websitebuilder.svg');
            background-position: center top;
            background-size: contain;
            background-repeat: no-repeat;

            .desktop({
                background-position: inherit;
            });
        }

        &_com-plus-ssl {
            left: 0;
            height: 120px;
            background-image: url('b-icon_domain_com-plus-ssl.svg');
            background-repeat: no-repeat;
        }

        &_com-plus-rus {
            left: 0;
            height: 120px;
            background-image: url('b-icon_domain_com-plus-rus.svg');
            background-repeat: no-repeat;
        }

        &_guarantee {
            width: 128px;
            height: 128px;
            background-image: url('b-icon_domain_guarantee.svg');
            background-repeat: no-repeat;
        }

        &_guarantee-in-form {
            position: relative;
            z-index: 11;
            float: right;
            margin-top: -60px;
            margin-left: 25px;
        }

        &_art-ambassador {
            width: 152px;
            height: 96px;
            margin: 0 auto 24px;
            background-image: url('b-icon_domain_art-ambassador.svg');
            background-repeat: no-repeat;

            .desktop({
                float: left;
                margin: 0 40px 0 80px;
            })
        }
    }
}
