.b-icon_b-button {
    &_edit {
        top: 5px;
        background-image: url('b-icon_b-button_edit.svg');
        .icon-style();
    }

    &_delete {
        top: 5px;
        background-image: url('b-icon_b-button_delete.svg');
        .icon-style();
    }

    &_balance-topup {
        top: 6px;
        background-image: url('b-icon_b-button_balance-topup.svg');
        .icon-style();
    }

    &_promo-code {
        top: 7px;
        background-image: url('b-icon_b-button_promo-code.svg');
        .icon-style();
    }

    &_funds-withdraw {
        top: 7px;
        background-image: url('b-icon_b-button_funds-withdraw.svg');
        .icon-style();
    }

    &_reset-password {
        position: relative;
        top: 7px;
        left: 0;
        width: 24px;
        height: 24px;
        background-image: url('b-icon_b-button_reset-password.svg');
    }

    .icon-style() {
        position: relative;
        left: 0;
        width: 24px;
        height: 24px;
    }
}
