@import '~i-less/i-less';

.b-whois-form {
    @bl: ~".b-whois-form";

    padding: 18px;
    background-color: @color-bg-default;

    &__wrapper {
        .i-flex-display();
        .i-flex-direction(column-reverse);
    }

    &__additional {
        padding-top: 12px;
        font-size: @font-size-small;
        text-align: right;
    }

    &__icon {
        position: absolute;
        top: 50%;
        width: 15px;
        height: 15px;
        margin-top: -7.5px;
        margin-left: -22.5px;
        background-size: contain;
    }

    &__link {
        display: inline-block;

        &_type_icon {
            position: relative;
            margin-left: 18px;
        }

        &:not(:last-child) {
            margin-right: 15px;
        }
    }

    .desktop({
        padding: 30px 0;

        &__wrapper {
            display: block;
        }

        &__additional {
            position: absolute;
            top: 2px;
            right: 0;
            margin-right: 180px;
            font-size: @base-font-size;
        }

        &__icon {
            top: 0;
            margin-top: 2px;
        }

        &__field {
            width: 540px;
        }
    })
}
