@import '~i-less/i-less';

.b-select_style_icon {
    @bl: ~".b-select";

    & @{bl}__current,
    & @{bl}__list-item {
        padding: 11px 36px 11px 60px;
        background-position: 21px center;
    }
}

.b-example-block_icon_hdd-1 {
    background-image: url('b-example-block_icon_hdd-1.svg');
    background-repeat: no-repeat;
}
