.b-icon {
    &_newgtlds {
        &_moskva {
            background-image: url('b-icon_newgtlds_moskva.svg');
            background-repeat: no-repeat;
            position: absolute;
            top: 0px;
            right: 0px;
            height: 214px;
            width: 228px;
        }
    }
}
