@import '~i-less/i-less';

.b-tips {
    @bl: ~".b-tips";

    &_visibility_none {
        display: none;
        width: 0;
        height: 0;
        padding: 0;

        * {
            display: none !important;
        }
    }

    .anno-inner {
        box-shadow: @popup-shadow;
        background-color: #01af9f;
    }

    .anno-arrow {
        border-width: 15px;
        border-color: #01af9f;
    }

    &.anno-target-center-top .anno-arrow,
    &.anno-target-top .anno-arrow,
    &.anno-target-center-bottom .anno-arrow,
    &.anno-target-bottom .anno-arrow {
        border-color: #01af9f transparent;
    }

    &.anno-target-center-left .anno-arrow,
    &.anno-target-left .anno-arrow,
    &.anno-target-center-right .anno-arrow,
    &.anno-target-right .anno-arrow {
        border-color: transparent #01af9f;
    }

    &.anno-target-center-bottom .anno-arrow,
    &.anno-target-center-top .anno-arrow {
        margin-left: -15px;
    }

    &.anno-target-center-left .anno-arrow,
    &.anno-target-center-right .anno-arrow {
        margin-top: -15px;
    }

    .anno-inner .anno-content {
        padding: @indent-v-normal @indent-h-big 0;
        color: #fff;
        font: normal @font-normal;
    }

    .anno-inner .anno-btn-container {
        padding-left: 24px;
        text-align: left;
    }

    &__close {
        position: absolute;
        top: 28px;
        right: 28px;
    }

    &__fake-target {
        position: absolute;
        top: 0;
        right: 0;
        width: 0;
        height: 0;
    }

    h2 {
        margin: 0;
        font: bold @font-medium;
    }

    p {
        margin: @indent-v-small 0 @indent-v-small;
        white-space: normal;
    }

    &__title {
        display: block;
        margin-bottom: @indent-v-small;
        font: bold @font-normal;
        opacity: 0.5;
    }

    &__counter {
        color: #fff;
        font: normal @font-normal;
    }

    .anno-inner .anno-btn-container @{bl}__button {
        display: inline-block;
        padding: 8px @indent-h-big;
        margin: @indent-v-tiny @indent-h-normal @indent-v-medium;
        border: 0 none;
        border-radius: 3px;
        color: #fff;
        font: bold @font-normal;
        text-align: center;
        text-decoration: none;
        white-space: nowrap;
        background-color: #34bfb2;
        cursor: pointer;

        user-select: none;
        box-sizing: border-box;
        .i-text__rendering();
        transition: @transition-default;

        &:hover,
        &:active {
            background-color: #67cfc5;
            background-position: 90px 14px;
            transition: @transition-default;
        }

        &_direction {
            &_forward {
                padding: 8px 42px 8px 24px;
                background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjwhLS0gR2VuZXJhdG9yOiBBZG9iZSBJbGx1c3RyYXRvciAyMC4xLjAsIFNWRyBFeHBvcnQgUGx1Zy1JbiAuIFNWRyBWZXJzaW9uOiA2LjAwIEJ1aWxkIDApICAtLT4NCjxzdmcgdmVyc2lvbj0iMS4xIiBiYXNlUHJvZmlsZT0iYmFzaWMiIGlkPSJMYXllcl8xIg0KCSB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB4PSIwcHgiIHk9IjBweCIgd2lkdGg9IjEzcHgiIGhlaWdodD0iMTNweCINCgkgdmlld0JveD0iMCAwIDEzIDEzIiB4bWw6c3BhY2U9InByZXNlcnZlIj4NCjxwYXRoIGZpbGw9IiNGRkZGRkYiIGQ9Ik03LjMsMTIuN2w1LTQuOGMwLDAsMCwwLDAsMEMxMi43LDcuNSwxMyw3LDEzLDYuNXMtMC4zLTEtMC42LTEuM2MwLDAsMCwwLDAsMGwtNS00LjgNCgljLTAuNC0wLjQtMS4xLTAuNC0xLjUsMEw1LjEsMWMtMC40LDAuNC0wLjQsMSwwLDEuNEw3LjgsNUgxQzAuNSw1LDAsNS40LDAsNnYxYzAsMC42LDAuNSwxLDEsMWg2LjhsLTIuNywyLjZjLTAuNCwwLjQtMC40LDEsMCwxLjQNCglsMC43LDAuN0M2LjMsMTMuMSw2LjksMTMuMSw3LjMsMTIuN3oiLz4NCjwvc3ZnPg0K');
                background-position: 90px 14px;
                background-repeat: no-repeat;

                &:hover,
                &:active {
                    background-color: #67cfc5;
                    background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjwhLS0gR2VuZXJhdG9yOiBBZG9iZSBJbGx1c3RyYXRvciAyMC4xLjAsIFNWRyBFeHBvcnQgUGx1Zy1JbiAuIFNWRyBWZXJzaW9uOiA2LjAwIEJ1aWxkIDApICAtLT4NCjxzdmcgdmVyc2lvbj0iMS4xIiBiYXNlUHJvZmlsZT0iYmFzaWMiIGlkPSJMYXllcl8xIg0KCSB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB4PSIwcHgiIHk9IjBweCIgd2lkdGg9IjEzcHgiIGhlaWdodD0iMTNweCINCgkgdmlld0JveD0iMCAwIDEzIDEzIiB4bWw6c3BhY2U9InByZXNlcnZlIj4NCjxwYXRoIGZpbGw9IiNGRkZGRkYiIGQ9Ik03LjMsMTIuN2w1LTQuOGMwLDAsMCwwLDAsMEMxMi43LDcuNSwxMyw3LDEzLDYuNXMtMC4zLTEtMC42LTEuM2MwLDAsMCwwLDAsMGwtNS00LjgNCgljLTAuNC0wLjQtMS4xLTAuNC0xLjUsMEw1LjEsMWMtMC40LDAuNC0wLjQsMSwwLDEuNEw3LjgsNUgxQzAuNSw1LDAsNS40LDAsNnYxYzAsMC42LDAuNSwxLDEsMWg2LjhsLTIuNywyLjZjLTAuNCwwLjQtMC40LDEsMCwxLjQNCglsMC43LDAuN0M2LjMsMTMuMSw2LjksMTMuMSw3LjMsMTIuN3oiLz4NCjwvc3ZnPg0K');
                    background-position: 90px 14px;
                    background-repeat: no-repeat;
                    transition: @transition-default;
                }
            }

            &_back {
                padding: 8px 23px 8px 42px;
                background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjwhLS0gR2VuZXJhdG9yOiBBZG9iZSBJbGx1c3RyYXRvciAyMC4xLjAsIFNWRyBFeHBvcnQgUGx1Zy1JbiAuIFNWRyBWZXJzaW9uOiA2LjAwIEJ1aWxkIDApICAtLT4NCjxzdmcgdmVyc2lvbj0iMS4xIiBiYXNlUHJvZmlsZT0iYmFzaWMiIGlkPSJMYXllcl8xIg0KCSB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB4PSIwcHgiIHk9IjBweCIgd2lkdGg9IjEzcHgiIGhlaWdodD0iMTNweCINCgkgdmlld0JveD0iMCAwIDEzIDEzIiB4bWw6c3BhY2U9InByZXNlcnZlIj4NCjxwYXRoIGZpbGw9IiNGRkZGRkYiIGQ9Ik01LjcsMC4zbC01LDQuOGMwLDAsMCwwLDAsMEMwLjMsNS41LDAsNiwwLDYuNXMwLjMsMSwwLjYsMS4zYzAsMCwwLDAsMCwwbDUsNC44YzAuNCwwLjQsMS4xLDAuNCwxLjUsMA0KCUw3LjksMTJjMC40LTAuNCwwLjQtMSwwLTEuNEw1LjIsOEgxMmMwLjYsMCwxLTAuNCwxLTFWNmMwLTAuNi0wLjUtMS0xLTFINS4ybDIuNy0yLjZjMC40LTAuNCwwLjQtMSwwLTEuNEw3LjEsMC4zDQoJQzYuNy0wLjEsNi4xLTAuMSw1LjcsMC4zeiIvPg0KPC9zdmc+DQo=');
                background-position: 17px 14px;
                background-repeat: no-repeat;

                &:hover,
                &:active {
                    background-color: #67cfc5;
                    background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjwhLS0gR2VuZXJhdG9yOiBBZG9iZSBJbGx1c3RyYXRvciAyMC4xLjAsIFNWRyBFeHBvcnQgUGx1Zy1JbiAuIFNWRyBWZXJzaW9uOiA2LjAwIEJ1aWxkIDApICAtLT4NCjxzdmcgdmVyc2lvbj0iMS4xIiBiYXNlUHJvZmlsZT0iYmFzaWMiIGlkPSJMYXllcl8xIg0KCSB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB4PSIwcHgiIHk9IjBweCIgd2lkdGg9IjEzcHgiIGhlaWdodD0iMTNweCINCgkgdmlld0JveD0iMCAwIDEzIDEzIiB4bWw6c3BhY2U9InByZXNlcnZlIj4NCjxwYXRoIGZpbGw9IiNGRkZGRkYiIGQ9Ik01LjcsMC4zbC01LDQuOGMwLDAsMCwwLDAsMEMwLjMsNS41LDAsNiwwLDYuNXMwLjMsMSwwLjYsMS4zYzAsMCwwLDAsMCwwbDUsNC44YzAuNCwwLjQsMS4xLDAuNCwxLjUsMA0KCUw3LjksMTJjMC40LTAuNCwwLjQtMSwwLTEuNEw1LjIsOEgxMmMwLjYsMCwxLTAuNCwxLTFWNmMwLTAuNi0wLjUtMS0xLTFINS4ybDIuNy0yLjZjMC40LTAuNCwwLjQtMSwwLTEuNEw3LjEsMC4zDQoJQzYuNy0wLjEsNi4xLTAuMSw1LjcsMC4zeiIvPg0KPC9zdmc+DQo=');
                    background-position: 17px 14px;
                    background-repeat: no-repeat;
                    transition: @transition-default;
                }
            }
        }

        &_state_disabled {
            cursor: default;
            opacity: 0.4;
        }
    }
}

.anno-overlay {
    background-color: #515151;
    opacity: 0.5;
}

.b-tips-greeting-popup {
    width: @column-size-10;

    &.b-popup_overlayed .b-popup__box {
        overflow: hidden;
        padding: 0;
    }

    &__image {
        float: left;
        width: 180px;
        height: 354px;
        background-position: center;

        &_company {
            &_agava {
                background-image: url('b-tips-greeting-popup__image_company_agava.svg');
                background-repeat: no-repeat;
            }

            &_mneru {
                background-image: url('b-tips-greeting-popup__image_company_mneru.svg');
                background-repeat: no-repeat;
            }
        }
    }

    &__content {
        position: relative;
        float: right;
        width: 555px;
        padding: 72px 58px 48px 30px;
        background-color: @color-bg-default;
    }

    .b-popup__close {
        top: 19px;
        right: 28px;
    }

    &__link {
        display: block;
        float: left;
        width: auto;
        padding-left: 45px;
        font: normal @font-normal;
    }
}

