.b-icon {
    &_reseller-promo-stuff {
        &_round-grey,
        &_round-blue,
        &_round-yellow,
        &_round-green,
        &_round-red,
        &_round-white {
            background-repeat: no-repeat;
            display: inline-block;
            margin-left: 50px;
            height: 110px;
            width: 117px;
        }
        &_round-white {
            background-image: url('b-icon_reseller-promo-stuff_round-white.svg');
        }
        &_round-grey {
            background-image: url('b-icon_reseller-promo-stuff_round-grey.svg');
        }
        &_round-blue {
            background-image: url('b-icon_reseller-promo-stuff_round-blue.svg');
        }
        &_round-yellow {
            background-image: url('b-icon_reseller-promo-stuff_round-yellow.svg');
        }
        &_round-green {
            background-image: url('b-icon_reseller-promo-stuff_round-green.svg');
        }
        &_round-red {
            background-image: url('b-icon_reseller-promo-stuff_round-red.svg');
        }


        &_square-big-blue,
        &_square-big-yellow,
        &_square-big-red,
        &_square-big-white,
        &_square-big-orange,
        &_square-big-green {
            background-repeat: no-repeat;
            display: inline-block;
            margin: 0 42px 24px 0;
            height: 70px;
            width: 200px;
        }
        &_square-big-green {
            background-image: url('b-icon_reseller-promo-stuff_square-big-green.svg');
        }
        &_square-big-blue {
            background-image: url('b-icon_reseller-promo-stuff_square-big-blue.svg');
        }
        &_square-big-yellow {
            background-image: url('b-icon_reseller-promo-stuff_square-big-yellow.svg');
        }
        &_square-big-red {
            background-image: url('b-icon_reseller-promo-stuff_square-big-red.svg');
        }
        &_square-big-white {
            background-image: url('b-icon_reseller-promo-stuff_square-big-white.svg');
        }
        &_square-big-orange {
            background-image: url('b-icon_reseller-promo-stuff_square-big-orange.svg');
        }

        &_square-blue,
        &_square-yellow,
        &_square-red,
        &_square-white,
        &_square-orange,
        &_square-green {
            background-repeat: no-repeat;
            display: inline-block;
            margin-left: 24px;
            height: 50px;
            width: 142px;
        }
        &_square-green {
            background-image: url('b-icon_reseller-promo-stuff_square-green.svg');
        }
        &_square-blue {
            background-image: url('b-icon_reseller-promo-stuff_square-blue.svg');
        }
        &_square-yellow {
            background-image: url('b-icon_reseller-promo-stuff_square-yellow.svg');
        }
        &_square-red {
            background-image: url('b-icon_reseller-promo-stuff_square-red.svg');
        }
        &_square-white {
            background-image: url('b-icon_reseller-promo-stuff_square-white.svg');
        }
        &_square-orange {
            background-image: url('b-icon_reseller-promo-stuff_square-orange.svg');
        }

        &_square-small-blue,
        &_square-small-yellow,
        &_square-small-red,
        &_square-small-white,
        &_square-small-orange,
        &_square-small-green {
            background-repeat: no-repeat;
            display: inline-block;
            margin-left: 24px;
            height: 35px;
            width: 100px;
        }
        &_square-small-green {
            background-image: url('b-icon_reseller-promo-stuff_square-small-green.svg');
        }
        &_square-small-blue {
            background-image: url('b-icon_reseller-promo-stuff_square-small-blue.svg');
        }
        &_square-small-yellow {
            background-image: url('b-icon_reseller-promo-stuff_square-small-yellow.svg');
        }
        &_square-small-red {
            background-image: url('b-icon_reseller-promo-stuff_square-small-red.svg');
        }
        &_square-small-white {
            background-image: url('b-icon_reseller-promo-stuff_square-small-white.svg');
        }
        &_square-small-orange {
            background-image: url('b-icon_reseller-promo-stuff_square-small-orange.svg');
        }
    }
}
