@import '~i-less/i-less';
@import (reference) '~b-menu/b-menu';

@submenu-list-width: 215px;
@submenu-column-width: 240px;
@submenu-standalone-column-width: 220px;

@closed-offset: -10000px;
@box-shadow: 1px 3px 7px rgba( 0, 0, 0, 0.24 );

.i-submenu-border() {
    box-shadow: @box-shadow;

    .desktop({
        border-bottom: 5px solid #069cfa;
    });
}

.b-submenu {
    @bl: ~".b-submenu";

    position: absolute;
    top: 0;
    left: 0;
    z-index: @zIndex-submenu;
    overflow: scroll;
    height: 100%;
    text-align: left;
    background-color: #e4e1e1;

    .i-submenu-border();

    .mobile({
        height: 100% !important;
    });

    .desktop({
        top: auto;
        overflow: visible;
        width: @submenu-list-width;
        height: auto;
    });

    &_state {
        &_opened {
            right: 0;
            left: 0;
        }

        &_closed {
            left: @closed-offset;
        }

        &_expanded {
            max-width: @site-width + @menu-link-padding*2;
            .desktop({
                width: 100%;
                min-width: @site-width;
            });
        }

        &_collapsed {
            .desktop({
                width: @submenu-list-width;
            });
        }
    }

    &__overflow {
        position: absolute;
        overflow: hidden;
        width: 100%;
        min-width: @site-width;
        max-width: @site-width + @menu-link-padding*2;
        height: 1000px;
    }

    &__list {
        padding: 0;
        margin: 0;
        list-style-type: none;

        .desktop({
            width: @submenu-list-width;
            padding: 0;
        });
    }

    &__item {
        position: relative;

        .desktop({
            position: static;
        });
    }

    &__link {
        display: block;
        padding: 6px @menu-link-padding;
        color: #2e353a;
        font: normal 20px/42px @face;
        text-decoration: none;
        white-space: nowrap;
        background-color: #e4e1e1;
        cursor: pointer;
        transition: @transition-default;

        &_state_current {
            .i-active-bg-color(#e4e1e1);

            &:hover,
            &:active {
                .i-active-bg-color(#e4e1e1);
            }

            .desktop({
                background-color: @color-bg-default;
            });
        }

        &_display_none {
            display: none;
        }

        .desktop({
            padding: 0 @menu-link-padding;
            font: normal 17px/44px @face;

            &:hover {
                background-color: @color-bg-default;

                transition: @transition-default;
            }

            &:active {
                transition: @transition-default;
                .i-active-bg-color(#e4e1e1);
            }
        });

        & .b-triangle {
            .i-triangle-down(5px, @color-text-placeholder);

            .desktop({
                display: none;
            });
        }
    }

    &__groups {
        @el: ~"@{bl}__groups";
        @groups-width: ( @site-width + 2 * @menu-link-padding - @submenu-list-width );

        width: auto;
        background-color: @color-bg-default;

        .desktop({
            position: absolute;
            width: @groups-width;
        });

        &-layout {
            padding: 0 0 12px 0;
            margin: 0 0 12px 0;
            list-style-type: none;
            .i-flex-display();
            .i-flex-flow(row wrap);
            .i-justify-content(space-between);
            .i-align-items();

            .desktop({
                display: block;
                padding: 0;
                margin: 0 0 20px;
            });
        }

        &-layout-column {
            padding: 10px 10px 0 17px;
            .i-flex-grow(1);

            .desktop({
                float: left;
                width: @submenu-column-width !important;
                padding-left: 20px;
            });
        }

        &-buttons-wrapper {
            position: absolute;
            right: 20px;
            bottom: 20px;
            width: @submenu-column-width;
        }

        &-close {
            display: none;
            position: absolute;
            top: 0;
            right: -40px;
            overflow: visible;
            width: 40px;
            height: 60px;
            padding: 0;
            margin: 0;
            border: 0;
            box-shadow: @box-shadow;
            background-color: @color-bg-default;
            background-position: center;
            background-size: 40%;
            cursor: pointer;
        }

        &-close:before {
            position: absolute;
            top: 0;
            left: -8px;
            width: 8px;
            height: 100%;
            content: '';
            background: @color-bg-default;
        }

        &_state_opened {
            top: 100%;
            left: 0;
            z-index: 1;
            height: auto;
            opacity: 1;

            .desktop({
                top: 0;
                left: @submenu-list-width;
            });

            .mobile({
                height: auto !important;
            });
        }

        &_state_closed {
            display: none;
            top: @closed-offset;
            left: @closed-offset;
            opacity: 0;

            .desktop({
                display: block;
            });
        }

        &_state_standalone {

            .i-submenu-border();

            .desktop({
                width: ( @groups-width - 3 * ( @submenu-column-width - @submenu-standalone-column-width ) );
                margin-left: ( 0 - @closed-offset + @submenu-column-width - @submenu-standalone-column-width );

                @{el}-layout-column {
                    width: @submenu-standalone-column-width !important;
                }

                @{el}-buttons-wrapper {
                    width: @submenu-standalone-column-width;
                }

                @{el}-close {
                    display: block;
                }
            });
        }
    }

    &__group {
        &-wrapper {
            margin-top: 25px;

            &:first-child {
                margin-top: 0;
            }

            &_indent_button {
                margin-bottom: 24px;

                .desktop({
                    margin-bottom: 50px;
                });
            }
        }

        &-title {
            display: block;
            padding: 4px 0;
            color: #000;
            font: bold 18px/22px @face;
        }

        &-link {
            display: block;
            padding: 5px 0;
            color: #2e353a;
            font: normal 15px/20px @face;
            text-decoration: none;
            cursor: pointer;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}
