.b-icon {
    &_sign {
        &_free {
            background-image: url('b-icon_sign_free.svg');
            background-repeat: no-repeat;
            width: 58px;
            height: 58px;
        }

        &_discount {
            width: 24px;
            height: 24px;
        }
    }
}
