.b-icon {
    &_vd-therapy {
        &_title {
            background-image: url('b-icon_vd-therapy_title.svg');
            background-repeat: no-repeat;
            height: 80px;
            width: 74px;
            top: 42px;
            right: 17px;
            position: absolute;
        }
        &_auto {
            background-image: url('b-icon_vd-therapy_auto.svg');
            background-repeat: no-repeat;
            height: 60px;
            width: 72px;
        }
        &_scan {
            background-image: url('b-icon_vd-therapy_scan.svg');
            background-repeat: no-repeat;
            height: 70px;
            width: 70px;
        }
        &_unlim {
            background-image: url('b-icon_vd-therapy_unlim.svg');
            background-repeat: no-repeat;
            height: 70px;
            width: 70px;
        }
    }
}
