.b-icon {
    &_mailru-advantage_diamond {
        background-image: url('b-icon_mailru-advantage_diamond.svg');
        background-repeat: no-repeat;
    }
    &_mailru-advantage_free-mail {
        background-image: url('b-icon_mailru-advantage_free-mail.svg');
        background-repeat: no-repeat;
    }
    &_mailru-advantage_infiniti-size {
        background-image: url('b-icon_mailru-advantage_infiniti-size.svg');
        background-repeat: no-repeat;
    }
    &_mailru-advantage_keys {
        background-image: url('b-icon_mailru-advantage_keys.svg');
        background-repeat: no-repeat;
    }
    &_mailru-advantage_mail-box {
        background-image: url('b-icon_mailru-advantage_mail-box.svg');
        background-repeat: no-repeat;
    }
    &_mailru-advantage_mobile {
        background-image: url('b-icon_mailru-advantage_mobile.svg');
        background-repeat: no-repeat;
    }
    &_mailru-advantage_multi-mail {
        background-image: url('b-icon_mailru-advantage_multi-mail.svg');
        background-repeat: no-repeat;
    }
    &_mailru-advantage_ux {
        background-image: url('b-icon_mailru-advantage_ux.svg');
        background-repeat: no-repeat;
    }
    &_mailru-advantage_protection {
        background-image: url('b-icon_mailru-advantage_protection.svg');
        background-repeat: no-repeat;
    }
    &_mailru-advantage_online-doc {
        background-image: url('b-icon_mailru-advantage_online-doc.svg');
        background-repeat: no-repeat;
    }
}
