.b-icon {
    &_useful-services {
        &_paperless-operations {
            background-image: url('b-icon_useful-services_paperless-operations.svg');
            background-repeat: no-repeat;
            width: 70px;
            height: 70px;
        }

        &_registration {
            background-image: url('b-icon_useful-services_registration.svg');
            background-repeat: no-repeat;
            width: 70px;
            height: 87px;
        }

        &_legal-services {
            background-image: url('b-icon_useful-services_legal-services.svg');
            background-repeat: no-repeat;
            width: 64px;
            height: 67px;
        }

        &_domain-parking {
            background-image: url('b-icon_useful-services_domain-parking.svg');
            background-repeat: no-repeat;
            width: 64px;
            height: 64px;
        }

        &_expiring {
            background-image: url('b-icon_useful-services_expiring.svg');
            background-repeat: no-repeat;
            width: 70px;
            height: 70px;
        }

        &_privacy {
            background-image: url('b-icon_useful-services_privacy.svg');
            background-repeat: no-repeat;
            width: 87px;
            height: 70px;
        }

        &_shop {
            background-image: url('b-icon_useful-services_shop.svg');
            background-repeat: no-repeat;
            width: 73px;
            height: 69px;
        }

        &_reg-api {
            background-image: url('b-icon_useful-services_reg-api.svg');
            background-repeat: no-repeat;
            width: 51px;
            height: 63px;
        }
    }
}
