@import '~i-less/i-less';

.b-message-reminder {
    @bl: ~".b-message-reminder";

    position: relative;
    padding: 24px 0;
    box-shadow: 1px 2px 7px rgba( 0, 0, 0, 0.24 );

    &__wrapper {
        position: relative;
        box-sizing: border-box;
        width: @site-width;
        padding: 12px 0 12px 0;
        margin: 0 auto;
    }

    &_type_with-icon {
        @{bl}__wrapper {
            padding-left: 120px;
        }
    }

    &__layout {
        display: table;
        width: 100%;
    }

    &__content {
        display: table-cell;
        max-width: 100%;
        vertical-align: top;
    }

    &__actions {
        display: table-cell;
        width: 1%;
        padding: 0 0 0 40px;
        vertical-align: top;
    }

    &__icon {
        position: absolute;
        top: 0;
        left: 0;
    }
}
