@import '~i-less/i-less';

.b-label-icon {
    position: relative;
    display: inline-block;
    background: #f5f5f5;
    font-weight: bold;
    padding: 0 10px 0 34px;
    line-height: 22px;

    &__icon {
        position: absolute;
        display: block;
        top: 0px;
        left: 0px;
        display: block;
        background-color: @color-bg-default-darker;
        background-repeat: no-repeat;
        background-position: center;
        width: 22px;
        height: 22px;
    }
}
