.b-icon {
    &_websitebuilder {
        &_logo {
            background-image: url('b-icon_websitebuilder_logo.svg');
            background-repeat: no-repeat;
            width: 177px;
            height: 60px;
        }
    }
}
