.b-icon_account-control {
    &_panel {
        background-image: url('b-icon_account-control_panel.svg');
        background-position: 50%;
        background-repeat: no-repeat;
    }

    &_backup {
        background-image: url('b-icon_account-control_backup.svg');
        background-position: 50%;
        background-repeat: no-repeat;
    }

    &_mail {
        background-image: url('b-icon_account-control_mail.svg');
        background-position: 50%;
        background-repeat: no-repeat;
    }

    &_dns {
        background-image: url('b-icon_account-control_dns.svg');
        background-position: 50%;
        background-repeat: no-repeat;
    }
}
