// из-за b-list-icons
.b-icon {
    &_ssl-gs-feature {
        &_leader {
            background-image: url('b-icon_ssl-gs-feature_leader.svg');
            background-repeat: no-repeat;
            height: 60px !important;
            width: 65px !important;
        }
        &_proven {
            background-image: url('b-icon_ssl-gs-feature_proven.svg');
            background-repeat: no-repeat;
            height: 60px !important;
            width: 71px !important;
        }
        &_qualified {
            background-image: url('b-icon_ssl-gs-feature_qualified.svg');
            background-repeat: no-repeat;
            height: 60px !important;
            width: 71px !important;
        }
    }
}
