.b-icon_funding-webmoney {
    &_crowdfunding {
        background-image: url('b-icon_funding-webmoney_crowdfunding.svg');
        background-repeat: no-repeat;
        width: 52px;
        height: 48px;
    }

    &_fund-raising {
        background-image: url('b-icon_funding-webmoney_fund-raising.svg');
        background-repeat: no-repeat;
        width: 61px;
        height: 50px;
    }

    &_collective-purchase {
        background-image: url('b-icon_funding-webmoney_collective-purchase.svg');
        background-repeat: no-repeat;
        width: 72px;
        height: 53px;
    }

    &_event {
        background-image: url('b-icon_funding-webmoney_event.svg');
        background-repeat: no-repeat;
        width: 47px;
        height: 49px;
    }
}
