@import '~i-less/i-less';

.b-mailcheck-suggestion {
    position: absolute;
    padding: 5px 10px;
    display: block;
    font: 12px @face;
    left: 0px;
    background: #fff;
    white-space: nowrap;
    box-shadow: 0 4px 10px #777777;
}
