.b-icon {
    &_shop {
        &_tag {
            background-image: url('b-icon_shop_tag.svg');
            background-repeat: no-repeat;
            width: 17px;
            height: 14px;
        }

        &_sale-online,
        &_sale-pending {
            background-repeat: no-repeat;
            width: 13px;
            height: 13px;
            vertical-align: middle;
        }

        &_sale-online {
            background-image: url('b-icon_shop_sale-online.svg');
        }

        &_sale-pending {
            background-image: url('b-icon_shop_sale-pending.svg');
        }

        &_limit-offer {
            background-image: url('b-icon_shop_limit-offer.svg');
            background-repeat: no-repeat;
            width: 15px;
            height: 15px;
        }

        &_comment {
            background-image: url('b-icon_shop_comment.svg');
            background-repeat: no-repeat;
            width: 16px;
            height: 14px;
        }

        &_sale-site {
            background-image: url('b-icon_shop_sale-site.svg');
            background-repeat: no-repeat;
            width: 16px;
            height: 15px;
        }

        &_sale-tm {
            background-image: url('b-icon_shop_sale-tm.svg');
            background-repeat: no-repeat;
            width: 13px;
            height: 13px;
        }

        &_note {
            background-image: url('b-icon_shop_note.svg');
            background-repeat: no-repeat;
            width: 31px;
            height: 24px;
            vertical-align: middle;
        }

        &_basket-online {
            background-image: url('b-icon_shop_basket-online.svg');
            background-repeat: no-repeat;
            width: 350px;
            height: 366px;
        }

        &_basket-online-png {
            background-image: url('b-icon_shop_basket-online.png');
            background-repeat: no-repeat;
        }

        &_tshirt {
            width: 64px;
            height: 51px;
        }

        &_warranty-badge {
            background-image: url('b-icon_shop_warranty-badge.svg');
            background-repeat: no-repeat;
            width: 97px;
            height: 96px;
        }

        &_lot {
            background-image: url('b-icon_shop_lot.svg');
            background-repeat: no-repeat;
        }

        &_hits {
            background-image: url('b-icon_shop_hits.svg');
            background-repeat: no-repeat;
        }

        &_bid {
            background-image: url('b-icon_shop_bid.svg');
            background-repeat: no-repeat;
        }


    }
}
