.b-icon {
    &_ssl-gs {
        &_logo-big {
            background-image: url('b-icon_ssl-gs_logo-big.svg');
            background-repeat: no-repeat;
            height: 108px;
            width: 508px;
        }
        &_logo-small {
            background-image: url('b-icon_ssl-gs_logo-small.svg');
            background-repeat: no-repeat;
            height: 36px;
            width: 163px;
        }
    }
}
