.b-icon_ya-landing {
    &_seo {
        width: 86px;
        height: 72px;
        background-image: url('b-icon_ya-landing_seo.svg');
        background-repeat: no-repeat;
    }

    &_domain {
        width: 86px;
        height: 72px;
        background-image: url('b-icon_ya-landing_domain.svg');
        background-repeat: no-repeat;
    }

    &_sign {
        width: 86px;
        height: 72px;
        background-image: url('b-icon_ya-landing_sign.svg');
        background-repeat: no-repeat;
    }
}
