@import '~i-less/i-less';

.b-http-status {
    padding: 24px 0px 0px 222px;
    min-height: 150px;
    background-position: 0px 24px;

    &.b-icon_websitebuilder_logo {
        width: auto;
        height: auto;
    }

    &_icon_lock {
        background-image: url('b-http-status_icon_lock.svg');
        background-repeat: no-repeat;
    }
    &_icon_brick {
        background-image: url('b-http-status_icon_brick.svg');
        background-repeat: no-repeat;
    }
    &_icon_update {
        background-image: url('b-http-status_icon_update.svg');
        background-repeat: no-repeat;
    }
    &_icon_tools {
        background-image: url('b-http-status_icon_tools.svg');
        background-repeat: no-repeat;
    }
    &_icon_stop {
        background-image: url('b-http-status_icon_stop.svg');
        background-repeat: no-repeat;
    }
    &_icon_error {
        background-image: url('b-http-status_icon_error.svg');
        background-repeat: no-repeat;
    }
}
