.b-icon {
    &_social {
        &_facebook {
            background-image: url('b-icon_social_facebook.svg');
            background-repeat: no-repeat;
            height: 30px;
            width: 30px;
            vertical-align: middle;

            &-large {
                background-image: url('b-icon_social_facebook-large.svg');
                background-repeat: no-repeat;
                width: 72px;
                height: 72px;
            }

            &-medium {
                background-image: url('b-icon_social_facebook-medium.svg');
                background-repeat: no-repeat;
                width: 60px;
                height: 60px;
            }
        }

        &_vkontakte {
            background-image: url('b-icon_social_vkontakte.svg');
            background-repeat: no-repeat;
            width: 30px;
            height: 30px;
            vertical-align: middle;

            &-large {
                background-image: url('b-icon_social_vkontakte-large.svg');
                background-repeat: no-repeat;
                width: 72px;
                height: 72px;
            }

            &-medium {
                background-image: url('b-icon_social_vkontakte-medium.svg');
                background-repeat: no-repeat;
                width: 60px;
                height: 60px;
            }
        }

        &_google {
            background-image: url('b-icon_social_google.svg');
            background-repeat: no-repeat;
            width: 72px;
            height: 72px;
        }

        &_instagram {
            background-image: url('b-icon_social_instagram.svg');
            background-repeat: no-repeat;
            width: 72px;
            height: 72px;
        }

        &_linkedin {
            background-image: url('b-icon_social_linkedin.svg');
            background-repeat: no-repeat;
            width: 72px;
            height: 72px;
        }

        &_twitter {
            background-image: url('b-icon_social_twitter.svg');
            background-repeat: no-repeat;
            width: 72px;
            height: 72px;

            &-medium {
                background-image: url('b-icon_social_twitter-medium.svg');
                background-repeat: no-repeat;
                width: 60px;
                height: 60px;
            }
        }

        &_youtube {
            background-image: url('b-icon_social_youtube.svg');
            background-repeat: no-repeat;
            width: 72px;
            height: 72px;
        }

        &_telegram {
            background-image: url('b-icon_social_telegram.svg');
            background-repeat: no-repeat;
            width: 72px;
            height: 72px;

            &-medium {
                background-image: url('b-icon_social_telegram-medium.svg');
                background-repeat: no-repeat;
                width: 60px;
                height: 60px;
            }
        }

        &_share {
            background-image: url('b-icon_social_share.svg');
            background-repeat: no-repeat;
            width: 62px;
            height: 62px;
        }
    }
}
