.b-icon {
    &_info {

        &_list {
            background-image: url('b-icon_info_list.svg');
            background-repeat: no-repeat;
            width: 26px;
            height: 21px;
        }

        &_search {
            background-image: url('b-icon_info_search.svg');
            background-repeat: no-repeat;
            width: 17px;
            height: 17px;
        }

        &_single {
            background-image: url('b-icon_info_single.svg');
            background-repeat: no-repeat;
            width: 17px;
            height: 17px;
        }

        &_single-small {
            background-image: url('b-icon_info_single-small.svg');
            background-repeat: no-repeat;
            width: 12px;
            height: 12px;
        }
    }
}
