.b-icon {
    &_reseller-feature {
        &_actual {
            background-image: url('b-icon_reseller-feature_actual.svg');
            background-repeat: no-repeat;
            width: 61px;
            height: 61px;
        }

        &_increase-domains {
            background-image: url('b-icon_reseller-feature_increase-domains.svg');
            background-repeat: no-repeat;
            width: 61px;
            height: 61px;
        }

        &_serveces {
            background-image: url('b-icon_reseller-feature_serveces.svg');
            background-repeat: no-repeat;
            width: 61px;
            height: 61px;
        }

        &_profit {
            background-image: url('b-icon_reseller-feature_profit.svg');
            background-repeat: no-repeat;
            width: 61px;
            height: 61px;
        }

        &_ready-software {
            background-image: url('b-icon_reseller-feature_ready-software.svg');
            background-repeat: no-repeat;
            width: 61px;
            height: 61px;
        }

        &_automation {
            background-image: url('b-icon_reseller-feature_automation.svg');
            background-repeat: no-repeat;
            width: 61px;
            height: 61px;
        }

        &_leader {
            background-image: url('b-icon_reseller-feature_leader.svg');
            background-repeat: no-repeat;
            width: 61px;
            height: 61px;
        }

        &_proven {
            background-image: url('b-icon_reseller-feature_proven.svg');
            background-repeat: no-repeat;
            width: 61px;
            height: 61px;
        }

        &_qualified {
            background-image: url('b-icon_reseller-feature_qualified.svg');
            background-repeat: no-repeat;
            width: 61px;
            height: 61px;
        }

        &_services-of-partners {
            background-image: url('b-icon_reseller-feature_services-of-partners.svg');
            background-repeat: no-repeat;
            width: 61px;
            height: 61px;
        }

        &_domains-of-partners {
            background-image: url('b-icon_reseller-feature_domains-of-partners.svg');
            background-repeat: no-repeat;
            width: 61px;
            height: 61px;
        }

        &_clients-of-partners {
            background-image: url('b-icon_reseller-feature_clients-of-partners.svg');
            background-repeat: no-repeat;
            width: 61px;
            height: 61px;
        }
    }
}
