.b-icon_account {
    &_warn {
        background-image: url('b-icon_account_warn.svg');
        background-position: 50%;
        background-repeat: no-repeat;
    }

    &_error {
        background-image: url('b-icon_account_error.svg');
        background-position: 50%;
        background-repeat: no-repeat;
    }

    &_expand {
        display: inline-block;
        width: 16px;
        height: 16px;
        background-image: url('b-icon_account_expand.svg');
        background-position: 50%;
        background-repeat: no-repeat;
    }

    &_hosting {
        display: inline-block;
        width: 36px;
        height: 37px;
        background-image: url('b-icon_account_hosting.svg');
        background-position: 50%;
        background-repeat: no-repeat;
    }

    &_ssl {
        display: inline-block;
        width: 36px;
        height: 40px;
        background-image: url('b-icon_account_ssl.svg');
        background-position: 50%;
        background-repeat: no-repeat;
    }

    &_g-suite {
        display: inline-block;
        width: 36px;
        height: 37px;
        background-image: url('b-icon_account_g-suite.svg');
        background-position: 50%;
        background-repeat: no-repeat;
    }

    &_plus-white {
        border-radius: 50%;
        background-color: #079dfc;
        background-image: url('b-icon_account_plus-white.svg');
        background-position: 50%;
        background-size: 64%;
        background-repeat: no-repeat;
    }

    &_shop-cart {
        background-image: url('b-icon_account_shop-cart.svg');
        background-position: 50%;
        background-repeat: no-repeat;
    }

    &_shop-cart-white {
        background-image: url('b-icon_account_shop-cart-white.svg');
        background-position: 50%;
        background-repeat: no-repeat;
    }

    &_ipv4 {
        background-image: url('b-icon_account_ipv4.svg');
        background-position: 50%;
        background-repeat: no-repeat;
    }

    &_customer {
        background-image: url('b-icon_account_customer.svg');
        background-position: 50%;
        background-repeat: no-repeat;
    }

    &_customer-white {
        background-image: url('b-icon_account_customer-white.svg');
        background-position: 50%;
        background-repeat: no-repeat;
    }

    &_menu-toggle {
        background-image: url('b-icon_account_menu-toggle.svg');
        background-position: 50%;
        background-repeat: no-repeat;
    }

    &_logout {
        background-image: url('b-icon_account_logout.svg');
        background-position: 50%;
        background-repeat: no-repeat;
    }

    &_logout-gray {
        background-image: url('b-icon_account_logout-gray.svg');
        background-position: 50%;
        background-repeat: no-repeat;
    }

    &_settings {
        background-image: url('b-icon_account_settings.svg');
        background-position: 50%;
        background-repeat: no-repeat;
    }

    &_settings-gray {
        background-image: url('b-icon_account_settings-gray.svg');
        background-position: 50%;
        background-repeat: no-repeat;
    }

    &_arrow-left {
        background-image: url('b-icon_account_arrow-left.svg');
        background-position: 50%;
        background-repeat: no-repeat;
    }

    &_arrow-left-gray {
        background-image: url('b-icon_account_arrow-left-gray.svg');
        background-position: 50%;
        background-repeat: no-repeat;
    }

    &_logo {
        background-image: url('b-icon_account_logo.svg');
        background-position: 50%;
        background-repeat: no-repeat;
    }

    &_services {
        background-image: url('b-icon_account_services.svg');
        background-position: 50%;
        background-repeat: no-repeat;
    }

    &_services-gray {
        background-image: url('b-icon_account_services-gray.svg');
        background-position: 50%;
        background-repeat: no-repeat;
    }

    &_more-gray {
        background-image: url('b-icon_account_more-gray.svg');
        background-position: 50%;
        background-repeat: no-repeat;
    }

    &_balance {
        background-image: url('b-icon_account_balance.svg');
        background-position: 50%;
        background-repeat: no-repeat;
    }

    &_balance-gray {
        background-image: url('b-icon_account_balance-gray.svg');
        background-position: 50%;
        background-repeat: no-repeat;
    }

    &_cross-white {
        background-image: url('b-icon_account_cross-white.svg');
        background-position: 50%;
        background-repeat: no-repeat;
    }

    &_brick {
        background-image: url('b-icon_account_brick.svg');
        background-position: 50%;
        background-repeat: no-repeat;
    }

    &_period {
        background-image: url('b-icon_account_period.svg');
        background-position: 50%;
        background-repeat: no-repeat;
    }

    &_balance-topup {
        background-image: url('b-icon_account_balance-topup.svg');
        background-position: 50%;
        background-repeat: no-repeat;
    }

    &_paytype-bank {
        background-image: url('b-icon_account_paytype-bank.svg');
        background-position: 50%;
        background-repeat: no-repeat;
    }

    &_paytype-card {
        background-image: url('b-icon_account_paytype-card.svg');
        background-position: 50%;
        background-repeat: no-repeat;
    }

    &_paytype-yamoney {
        background-image: url('b-icon_account_paytype-yamoney.svg');
        background-position: 50%;
        background-repeat: no-repeat;
    }

    &_feedback {
        position: relative;
        top: 6px;
        left: 0;
        width: 41px;
        height: 20px;
        background-image: url('b-icon_account_feedback.svg');
        background-position: 50%;
        background-repeat: no-repeat;

        .desktop({
            top: 12px;
            left: -10px;
            height: 36px;
        });
    }

    &_bill-paid {
        background-image: url('b-icon_account_bill-paid.svg');
        background-position: 50%;
        background-repeat: no-repeat;
    }

    &_bill-partpaid {
        background-image: url('b-icon_account_bill-partpaid.svg');
        background-position: 50%;
        background-repeat: no-repeat;
    }

    &_bill-notpaid {
        background-image: url('b-icon_account_bill-notpaid.svg');
        background-position: 50%;
        background-repeat: no-repeat;
    }

    &_bill-cancelled {
        background-image: url('b-icon_account_bill-cancelled.svg');
        background-position: 50%;
        background-repeat: no-repeat;
    }
}
