.b-icon {
    &_main {
        &_money {
            background-image: url('b-icon_main_money.svg');
            background-repeat: no-repeat;
            width: 16px;
            height: 16px;
        }

        &_renew {
            background-image: url('b-icon_main_renew.svg');
            background-repeat: no-repeat;
            width: 25px;
            height: 25px;
        }

        &_profile {
            background-image: url('b-icon_main_profile.svg');
            background-repeat: no-repeat;
            width: 16px;
            height: 19px;
            background-size: 16px 19px;
        }

        &_payout {
            width: 23px;
            height: 23px;
            background-image: url('b-icon_main_payout.svg');
            background-repeat: no-repeat;
        }
    }
}
