.b-icon {
    &_type_advice {
        background-image: url('b-icon_type_advice.svg');
        background-repeat: no-repeat;
    }

    &_type_chain-horizontal {
        background-image: url('b-icon_type_chain-horizontal.svg');
        background-repeat: no-repeat;
    }

    &_type_chain {
        background-image: url('b-icon_type_chain.svg');
        background-repeat: no-repeat;
    }

    &_type_code {
        background-image: url('b-icon_type_code.svg');
        background-repeat: no-repeat;
    }

    &_type_display {
        background-image: url('b-icon_type_display.svg');
        background-repeat: no-repeat;
    }

    &_type_download {
        background-image: url('b-icon_type_download.svg');
        background-repeat: no-repeat;
    }

    &_type_edit {
        background-image: url('b-icon_type_edit.svg');
        background-repeat: no-repeat;
    }

    &_type_file {
        background-image: url('b-icon_type_file.svg');
        background-repeat: no-repeat;
    }

    &_type_folder {
        background-image: url('b-icon_type_folder.svg');
        background-repeat: no-repeat;
    }

    &_type_hand {
        background-image: url('b-icon_type_hand.svg');
        background-repeat: no-repeat;
    }

    &_type_pause {
        background-image: url('b-icon_type_pause.svg');
        background-repeat: no-repeat;
    }

    &_type_warning {
        width: 16px;
        height: 16px;
        background-image: url('b-icon_type_warning.svg');
        background-repeat: no-repeat;
    }

    &_type_delete {
        width: 11px;
        height: 15px;
        background-image: url('b-icon_type_delete.svg');
        background-repeat: no-repeat;
    }

    &_type_global-gray {
        position: absolute;
        width: 20px;
        height: 20px;
        background-image: url('b-icon_type_global-gray.svg');
        background-repeat: no-repeat;
    }

    &_type_copy {
        width: 13px;
        height: 17px;
        background-image: url('b-icon_type_copy.svg');
        background-repeat: no-repeat;
    }
}
