@import '~i-less/i-less';

/** b-menu-group -> **/
.b-menu-group__services-block { padding: 0px 2px 0px 9px; }
.b-menu-group__services-block_title_no .b-menu-group__item_node_first,
.b-menu-group__list_title_no .b-menu-group__item_node_first { border-top-color: #f3f3f3 !important; }
.b-menu-group__services-block_title_no .b-menu-group__item_node_first .b-menu-group__item-link,
.b-menu-group__list_title_no .b-menu-group__item_node_first .b-menu-group__item-link { border-top-color: #f3f3f3 !important; }
.b-menu-group__title { display: block; font: bold 16px @face; margin-bottom: 3px; padding: 0px 0px 0px 10px; text-decoration: none; }
.b-menu-group__title_color_aa1c00 { color: #aa1c00; }
.b-menu-group__title_color_00497d { color: #00497d; }
.b-menu-group__general-services { background: #f3f3f3; position: relative; overflow: hidden; padding: 10px 22px 5px 0px; border-left: 1px solid #e7e7e7; border-top: 1px solid #e7e7e7;}


.b-menu-group__list { margin: 0px 0px 19px 0px; padding: 0px; list-style-type: none; }
.b-menu-group__item { margin: 0px 10px; }
.b-menu-group__item-link { display: block; position: relative; font: 12px @face; color: #2e353a; text-decoration: none; white-space: nowrap; }
.b-menu-group__overflow-wrapper { position: relative; z-index: 1; }
.b-menu-group__overflow-fade { display: block; background: url('overflow_sh.png') no-repeat; height: 15px; width: 80px; position: absolute; top: 2px; right: -55px; z-index: 5;}

.b-menu-group__item:hover .b-menu-group__overflow-fade { background-position: 0px -40px; right: -46px;}

.b-menu .b-menu-group__overflow-fade,
.b-menu__submenu-account .b-menu-group__overflow-fade {
    display: none !important;
}

.b-menu-group__list_type_general .b-menu-group__item { border-top: 1px solid #ddd;}
.b-menu-group__list_type_general .b-menu-group__item-link { padding: 2px 1px 3px 1px; border-top: 1px solid #fff; }
.b-menu-group__list_type_general .b-menu-group__overflow-fade { background-position: 0px 0px;}

.b-menu-group__list_type_general .b-menu-group__item:hover {margin: 0px; border-top-color: #d0dde6 !important;}
.b-menu-group__list_type_general .b-menu-group__item:hover .b-menu-group__item-link { background: #dceaf3; border: 1px solid #ffffff; border-top: 0px none; border-left-color: #d0dde6; padding: 3px 10px 4px 10px; color: #2e353a;}
.b-menu-group__list_type_general .b-menu-group__item:hover + .b-menu-group__item,
.b-menu-group__list_type_general .b-menu-group__item:hover + .b-menu-group__item .b-menu-group__item-link { border-top: 0px none;}
.b-menu-group__list_type_general .b-menu-group__item_node_last:hover .b-menu-group__item-link { padding: 3px 10px 2px 10px;}
/** <- b-menu-group **/

/** in b-sidebar -> **/
.b-sidebar .b-menu-group__general-services { padding: 11px 9px 14px 9px; margin-bottom: 20px; border: none !important;}

.b-sidebar .b-menu-group__general-services .b-menu-group__title { padding-top: 19px; }
.b-sidebar .b-menu-group__general-services:first-child .b-menu-group__title:first-child { padding-top: 0px; }
.b-sidebar .b-menu-group__list { overflow: hidden; margin: 0px; }
.b-sidebar .b-menu-group__item:hover .b-menu-group__item-link { overflow: hidden;}
/** <- in b-sidebar **/
