@import '~i-less/i-less';

.b-input-wrapper {
    position: relative;

    &__clear {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        width: 36px;
        height: auto;
        background-position: center center;
        cursor: pointer;
    }
}
