.l-valign {
    &_middle {
        vertical-align: middle;
    }
    &_super {
        vertical-align: super;
    }
    &_bottom {
        vertical-align: bottom;
    }
    &_top {
        vertical-align: top;
    }
}
