.b-icon {
    &_parking-banner {
        &_domain-tracking {
            background-image: url('b-icon_parking-banner_domain-tracking.svg');
            background-repeat: no-repeat;
            padding-top: 108px;
            background-position: center 24px;
        }
        &_vps {
            background-image: url('b-icon_parking-banner_vps.svg');
            background-repeat: no-repeat;
            padding-top: 108px;
            background-position: center 24px;
        }
        &_mail {
            background-image: url('b-icon_parking-banner_mail.svg');
            background-repeat: no-repeat;
            padding-top: 108px;
            background-position: center 24px;
        }
    }
}
