.b-icon {
    &_present-domain {
        &_sign {
            background-image: url('b-icon_present-domain_sign.svg');
            background-repeat: no-repeat;
            width: 17px;
            height: 21px;
        }
    }
}
