.b-icon {
    &_reselling-program-free-list {
        &_whois {
            background-image: url('b-icon_reselling-program-free-list_whois.svg');
            background-repeat: no-repeat;
            width: 30px;
            height: 30px;
        }

        &_soft {
            background-image: url('b-icon_reselling-program-free-list_soft.svg');
            background-repeat: no-repeat;
            width: 32px;
            height: 32px;
        }

        &_parking {
            background-image: url('b-icon_reselling-program-free-list_parking.svg');
            background-repeat: no-repeat;
            width: 30px;
            height: 37px;
        }

        &_private-person {
            background-image: url('b-icon_reselling-program-free-list_private-person.svg');
            background-repeat: no-repeat;
            width: 30px;
            height: 30px;
        }

        &_stat-online {
            background-image: url('b-icon_reselling-program-free-list_stat-online.svg');
            background-repeat: no-repeat;
            width: 30px;
            height: 30px;
        }

        &_dns {
            background-image: url('b-icon_reselling-program-free-list_dns.svg');
            background-repeat: no-repeat;
            width: 30px;
            height: 30px;
        }
    }
}
