.b-icon {
    &_company {
        &_news {
            background-image: url('b-icon_company_news.svg');
            background-repeat: no-repeat;
            width: 53px;
            height: 56px;
        }
        &_promotions {
            background-image: url('b-icon_company_promotions.svg');
            background-repeat: no-repeat;
            width: 59px;
            height: 58px;
        }
        &_brandstory {
            background-image: url('b-icon_company_brandstory.svg');
            background-repeat: no-repeat;
            width: 59px;
            height: 51px;
        }
    }
}
