@import '~i-less/i-less';

.b-faq-block {
    position: relative;
    padding: 24px 30px;
    margin: 0 0 24px;
    .desktop({
        padding: 40px 50px;
    });

    &_type {
        &_code {
            background: @color-bg-default;
        }

        &_advice {
            background: @color-bg-hint;
        }

        &_warning {
            background: #fae0de;
        }
    }

    &__title {
        position: relative;
        padding: 0 0 0 35px;
        margin: 0 0 15px;
        font: bold @font-medium-compact;
        .desktop({
            padding-right: 170px;
        });
    }

    &__icon {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 24px;
        height: 24px;
        background-position: center;
        background-repeat: no-repeat;
    }

    &__content {
        overflow: auto;
        font: @font-normal;
    }

    &__download-link {
        display: block;
        position: absolute;
        top: 40px;
        right: 50px;
        z-index: 1;
        padding: 0 0 0 30px;
    }

    &__download-link-icon {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 24px;
        height: 24px;
        background-position: center;
        background-repeat: no-repeat;
    }

    &__addon {
        display: none;

        &_state_opened {
            display: block;
        }
    }
}
