@import '~i-less/i-less';

.b-blue-form__wrapper {
    background-color: #eff9ff;
    padding: 20px;
    margin-bottom: 20px;
}
.b-blue-form {
    margin: 0px;
    padding: 0px;
}
.b-blue-form__title {
    display: block;
    margin-bottom: 17px;
    font: bold 18px/20px @face;
    color: #004ba1;
}
