.b-passmeter.b-passmeter_type_popover.b-passmeter_pos_right
  .b-passmeter__title
  .b-passmeter__arrow
  .pass-meter-message
    .pass-meter-gauge
      .pass-meter-bar
    .pass-meter-status
    .pass-meter-unmet-len.pass-meter-unmet-len_visibility_hidden

