.b-icon {
    &_infographics-ru_analytics {
        background-image: url('b-icon_infographics-ru_analytics.svg');
        background-repeat: no-repeat;
    }
    &_infographics-ru_apple {
        background-image: url('b-icon_infographics-ru_apple.svg');
        background-repeat: no-repeat;
    }
    &_infographics-ru_bootstrap {
        background-image: url('b-icon_infographics-ru_bootstrap.svg');
        background-repeat: no-repeat;
    }
    &_infographics-ru_charset {
        background-image: url('b-icon_infographics-ru_charset.svg');
        background-repeat: no-repeat;
    }
    &_infographics-ru_chrome {
        background-image: url('b-icon_infographics-ru_chrome.svg');
        background-repeat: no-repeat;
    }
    &_infographics-ru_doctype {
        background-image: url('b-icon_infographics-ru_doctype.svg');
        background-repeat: no-repeat;
    }
    &_infographics-ru_hands {
        background-image: url('b-icon_infographics-ru_hands.svg');
        background-repeat: no-repeat;
    }
    &_infographics-ru_jquery {
        background-image: url('b-icon_infographics-ru_jquery.svg');
        background-repeat: no-repeat;
    }
    &_infographics-ru_linux {
        background-image: url('b-icon_infographics-ru_linux.svg');
        background-repeat: no-repeat;
    }
    &_infographics-ru_wordpress {
        background-image: url('b-icon_infographics-ru_wordpress.svg');
        background-repeat: no-repeat;
    }
}
