span(class='b-dropdown__option-title')
  != self.name
span.b-dropdown__option-price
  if parseInt( self.price )
    != locale.formatPrice( self.price, true, true )
  else
    != t( 'bitrix_sites.free' )
if parseInt( self.old_price )
  span.b-dropdown__option-old-price
    != locale.formatPrice( self.old_price, true, true )
if self.selected
  span.b-dropdown__option-best-choice
