.b-icon {
    &_web-sites-cms_drupal {
        background-image: url('b-icon_web-sites-cms_drupal.svg');
        background-repeat: no-repeat;
    }
    &_web-sites-cms_joomla {
        background-image: url('b-icon_web-sites-cms_joomla.svg');
        background-repeat: no-repeat;
    }
    &_web-sites-cms_magnolia {
        background-image: url('b-icon_web-sites-cms_magnolia.svg');
        background-repeat: no-repeat;
    }
    &_web-sites-cms_opencms {
        background-image: url('b-icon_web-sites-cms_opencms.svg');
        background-repeat: no-repeat;
    }
    &_web-sites-cms_wp {
        background-image: url('b-icon_web-sites-cms_wp.svg');
        background-repeat: no-repeat;
    }
}
