.b-icon {
    &_user-balance {

        &_mail-pending,
        &_mail-send {
            background-repeat: no-repeat;
            width: 20px;
            height: 20px;
            vertical-align: middle;
        }
        &_mail-pending {
            background-image: url('b-icon_user-balance_mail-pending.svg');
        }
        &_mail-send {
            background-image: url('b-icon_user-balance_mail-send.svg');
        }
    }
}
