.b-icon {
    &_datacenter {
        &_area,
        &_bandwidth,
        &_equipment {
            background-repeat: no-repeat;
            width: 175px;
            min-height: 105px;
            background-position: center 6px;
            position: absolute;
            top: 0px;
            left: 0px;
        }
        &_area {
            background-image: url('b-icon_datacenter_area.svg');
        }
        &_bandwidth {
            background-image: url('b-icon_datacenter_bandwidth.svg');
        }
        &_equipment {
            background-image: url('b-icon_datacenter_equipment.svg');
        }
    }
}
